﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript">
        var CurrentMachine = null;
        var MachineQRTimer = window.setInterval(UpdateMachineQR, 5000);
        var ProductPollTimer = null;
        var RedeemCouponPollTimer = null;
        var CurrentTransactionId = null;
        var CurrentCouponId = null;
        var CurrentProduct = null;

        $(document).ready(function () {
            $('.k-loading-mask').hide();
            window.setTimeout(function () { $('.k-loading-mask').hide(); }, 1000);

            loadTestMachine();
        });
    </script>
}

<table style="border: 3px solid blue;">
    <tr style="border-bottom: 1px solid black;">
        <td valign="top">
            <table>
                <tr>
                    <td style="font-weight: bold; padding-bottom: 10px;">
                        Machine QR
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/TestQRCodes/AjaxGetTestMachinQR" id="machineqrimg" width="180" height="180" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="machineqrcode"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="Other machine" onclick="loadTestMachine();" />
                        <!-- document.getElementById('machineqrimg').src = '/TestQRCodes/AjaxGetTestMachinQR?v=' + (new Date()).getTime(); -->
                    </td>
                </tr>
            </table>
        </td>
        <td style="padding-left: 30px; width: 500px;" valign="top">
            <table>
                <tr>
                    <td style="font-weight: bold; font-size: 20pt; width: 500px; text-align: center; padding-top: 30px;">
                        Virtual Test Machine
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 18pt; width: 500px; text-align: center; padding-top: 20px;">
                        <div id="MachineName"></div><br/>
                        <div id="MachineLocation"></div><br/>
                        <div id="MachineBuyBuyParams" style="font-size: 10pt;">BuyBuy Machine Params: </div>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 12pt; width: 500px; text-align: center; padding-top: 20px;">
                        <input type="button" value="Start Product Selection Polling" onclick="startProductPolling()" />
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 12pt; color:brown; width: 500px; text-align: center; padding-top: 10px;">
                        <div id="PollActiveLabel" style="display: none;">Polling active</div>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">
            <table>
                <tr>
                    <td style="font-weight: bold; padding-bottom: 10px;">
                        Order Finished (Stamps) QR
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/TestQRCodes/AjaxGetStampsQR" id="stampsqrimg" width="180" height="180" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="stampsqrcode"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="width: 100%; border-top: 1px solid black; padding-top: 10px; padding-left: 4px; padding-bottom: 30px; ">
            <input type="button" value="Manual Order" id="ManualOrderButton" onclick="showManualProductList();" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Price Coupon: <input type="text" id="PriceCouponToken" />
            <input type="button" value="Redeem" id="RedeemPriceCouponButton" onclick="redeemPriceCoupon();" />
        </td>
    </tr>
    <tr id="ManualOrderProductList">
        <td colspan="3">
           <div style="width: 860px; max-width: 860px;" id="ManualOrderProductListContainer">

           </div>
        </td>
    </tr>
    <tr id="ProductSelection">
        <td colspan="3">
            <table style="width: 100%; min-height: 320px; height: 320px;">
                <tr>
                    <td style="padding-left: 10px; width: 320px; min-height: 320px; text-align: center;">
                        <table>
                            <tr>
                                <td>
                                    <img src="/images/noimage.png" id="ProductImage" height="300" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="FreeDrinkMessage" style="font-weight: bold; color: green; font-size: 16pt; padding-top: 10px; ">Here is your free drink!</div>
                                    <div id="YourSelectionMessage" style="font-weight: bold; color: blue; font-size: 16pt; padding-top: 10px; ">Your selection! Please insert coins.</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="text-align: left; padding-left: 20px;">
                        <table>
                            <tr>
                                <td style="font-weight: bold; font-size: 20pt; color: blue;">
                                    <div id="ProductName">Product Name</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: blue;">
                                    <div id="ProductVolume">Volume</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: bottom; height: 100%; text-align: right; padding-right: 10px;">
                        <input type="button" id="CompleteOrderButton" value="Complete Order (Insert coins)" onclick="completeOrder();" />
                        <input type="button" id="CancelOrderButton" value="Cancel Order" onclick="cancelOrder();" />
                        <input type="button" id="ThankYouButton" value="Thank you!" onclick="thankYou();" />
                        <div id="CompleteOrderSuccess" style="color: green;">Order completed</div>
                        <div id="CompleteOrderFailed" style="color: red;">Order failed</div>
                        <div id="CancelOrderSuccess" style="color: #b64e05;">Order cancelled</div>
                        <div id="CancelOrderFailed" style="color: red;">Cancel Order failed!</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

@if (HttpContext.Current.Request.QueryString["udfaai"] == "1")
{
    <input type='text' id='decryptor' />
    <input type='button' id='decryptnow' onclick="doDecryption()" />

    <script type="text/javascript">
    function doDecryption()
    {
        postData('/TestQRCodes/AjaxTestDecrypt', 'Test Decrypt', { Data: $('#decryptor').val() }, function (data, result) {
            alert(data);
        });
    }
    </script>
}

<script type="text/javascript">
    function loadTestMachine()
    {
        var machineId = getParameterByName('machine');
        if ((machineId == null) || (machineId <= 0))
            machineId = getParameterByName('machineId');
        if ((machineId == null) || (machineId <= 0))
            machineId = getParameterByName('vendingMachineId');

        $('.k-loading-mask').hide();

        window.clearInterval(ProductPollTimer);
        window.clearInterval(RedeemCouponPollTimer);
        $('#PollActiveLabel').hide();
        $('#ManualOrderProductList').hide();

        $('#CompleteOrderButton').hide();
        $('#CancelOrderButton').hide();
        $('#ProductImage').hide();
        $('#ProductName').hide();
        $('#ProductVolume').hide();
        $('#CompleteOrderSuccess').hide();
        $('#CompleteOrderFailed').hide();
        $('#CancelOrderSuccess').hide();
        $('#CancelOrderFailed').hide();
        $('#stampsqrimg').hide();
        $('#stampsqrcode').hide();
        $('#ManualOrderButton').show();
        $('#ProductSelection').show();
        $('#YourSelectionMessage').hide();
        $('#FreeDrinkMessage').hide();
        $('#ThankYouButton').hide();

        getRemoteData('/TestQRCodes/AjaxGetVendingMachineData' + (machineId != null && machineId > 0 ? '?VendingMachineId=' + machineId : ''), 'get test machine', function (data, result) {
            CurrentMachine = data;

            UpdateMachineQR();
            $('#stampsqrimg').hide();
            $('#MachineBuyBuyParams').show();
        });
    }

    function UpdateMachineQR()
    {
        if (CurrentMachine != null) {
            getRemoteData('/TestQRCodes/AjaxGetCurrentMachineQR?Organization=' + CurrentMachine.MOCCPOrganization + '&AssetNo=' + CurrentMachine.MOCCPAssetNo, 'update machine QR', function (data, result) {
                CurrentMachine.QRToken = data.QRToken;
                $('#machineqrimg').attr('src', '/TestQRCodes/AjaxGetTestMachineQRImage?QRToken=' + CurrentMachine.QRToken);
                $('#machineqrcode').text(CurrentMachine.QRToken);
                $('#MachineName').html(CurrentMachine.Name + '<br />' + CurrentMachine.MOCCPAssetNo + (CurrentMachine.MOCCPAssetNo.startsWith('TEST') ? ' (Kooco Test Machine)' : ' (BuyBuy Api)'));
                $('#MachineLocation').text(CurrentMachine.Location);

                getRemoteData('/TestQRCodes/AjaxGetBuyBuyMachineParams?Organization=' + CurrentMachine.MOCCPOrganization + '&AssetNo=' + CurrentMachine.MOCCPAssetNo, 'get BuyBuy Api machine params', function (data, result) {
                    var html = 'BuyBuy API Machine Params:<br/>' + data;
                    if (html != $('#MachineBuyBuyParams').html())
                        $('#MachineBuyBuyParams').html(html);                    
                });
            });
        }
    }

    function startProductPolling()
    {
        if (confirm('This will start querying for vending machine messages\nwhich will show a product if its sent from the app to that machine\nand allows to complete the test order.\n\nAttention: Do NOT use in production!\nAs this service will read the queue messages for that vending machine\nThe real vending machine may not receive that messages anymore!'))
        {
            ProductPollTimer = window.setInterval(pollProduct, 3000);
            RedeemCouponPollTimer = window.setInterval(pollRedeemCoupon, 3000);
            $('#PollActiveLabel').show();            
        }
    }

    function pollProduct()
    {
        getRemoteData('/TestQRCodes/AjaxPollProduct?Organization=' + CurrentMachine.MOCCPOrganization + '&AssetNo=' + CurrentMachine.MOCCPAssetNo, 'poll for product selection', function (data, result) {
            if (data.TransactionId > 0)
            {
                CurrentTransactionId = data.TransactionId;
                $('#ManualOrderButton').hide();
                $('#ManualOrderProductList').hide();
                $('#ProductSelection').show();
                $('#FreeDrinkMessage').hide();

                getRemoteData('/TestQRCodes/AjaxGetProduct?SalesTransactionId=' + CurrentTransactionId, 'get product', function (data, result) {
                    CurrentProduct = data;

                    $('#ProductImage').attr('src', CurrentProduct.ImageUrl);
                    $('#ProductImage').show();

                    $('#ProductName').text(CurrentProduct.Name);
                    $('#ProductName').show();

                    $('#ProductVolume').text(CurrentProduct.Volume);
                    $('#ProductVolume').show();

                    $('#CompleteOrderSuccess').hide();
                    $('#CompleteOrderFailed').hide();
                    $('#CancelOrderSuccess').hide();
                    $('#CancelOrderFailed').hide();
                    $('#stampsqrimg').hide();
                    $('#stampsqrcode').hide();
                    $('#CompleteOrderButton').show();
                    $('#CancelOrderButton').show();
                    $('#ThankYouButton').hide();

                    $('#FreeDrinkMessage').hide();
                    $('#YourSelectionMessage').show();
                });
            }
        });
    }

    function pollRedeemCoupon()
    {
        getRemoteData('/TestQRCodes/AjaxPollCoupon?Organization=' + CurrentMachine.MOCCPOrganization + '&AssetNo=' + CurrentMachine.MOCCPAssetNo, 'poll for coupon to be redeemed', function (data, result) {
            if (data.CouponId != 0) {
                CurrentCouponId = data.CouponId;
                CurrentProduct = data.MerchandiseID;
                $('#ManualOrderButton').hide();
                $('#ManualOrderProductList').hide();
                $('#ProductSelection').show();
                $('#FreeDrinkMessage').hide();

                console.log(data);

                getRemoteData('/TestQRCodes/AjaxGetProductByMerchandiseID?MerchandiseID=' + CurrentProduct, 'get product (coupon)', function (data, result) {
                    CurrentProduct = data;

                    $('#ProductImage').attr('src', CurrentProduct.ImageUrl);
                    $('#ProductImage').show();

                    $('#ProductName').text(CurrentProduct.Name);
                    $('#ProductName').show();

                    $('#ProductVolume').text(CurrentProduct.Volume);
                    $('#ProductVolume').show();

                    $('#CompleteOrderSuccess').hide();
                    $('#CompleteOrderFailed').hide();
                    $('#CancelOrderSuccess').hide();
                    $('#CancelOrderFailed').hide();
                    $('#stampsqrimg').hide();
                    $('#stampsqrcode').hide();
                    $('#CompleteOrderButton').hide();
                    $('#CancelOrderButton').hide();
                    $('#ThankYouButton').show();

                    $('#FreeDrinkMessage').show();
                    $('#YourSelectionMessage').hide();
                }, function () { CurrentProduct = null });
            }
        });
    }

    function thankYou()
    {
        closeOrder();
    }

    function completeOrder()
    {
        postData('/TestQRCodes/AjaxCompleteOrder', 'complete order', { Organization: CurrentMachine.MOCCPOrganization, AssetNo: CurrentMachine.MOCCPAssetNo, SalesTransactionId: CurrentTransactionId }, function (data, result) {
            closeOrder();
            $('#CompleteOrderSuccess').show();

            if (((data != null) && (data != '')) && (data.QRToken != null && data.QRToken != ''))
            {
                $('#stampsqrimg').attr('src', '/TestQRCodes/AjaxGetTestMachineQRImage?QRToken=' + data.QRToken);
                $('#stampsqrimg').show();

                $('#stampsqrcode').text(data.QRToken);
                $('#stampsqrcode').show();

                getRemoteData('/TestQRCodes/AjaxGetStampsQRActivities?StampsQR=' + data.QRToken, 'get activities for QR', function (data, result) {
                    $('#stampsqrcode').html($('#stampsqrcode').html() + '<br/>' + data);
                });
            }
        }, function (msg, returnCode) {
            if (returnCode == -303) {                
                alert('This order already is expired! The order has not been completed within the timeout of 10 minutes!');
                closeOrder();
                $('#CompleteOrderFailed').show();
            }
            else if (returnCode == -304) {                
                alert('This order already has been completed! (by another test machine? or manually in the database?)');
                closeOrder();
                $('#CompleteOrderSuccess').show();
            }
            else
                alert('An error occured while trying to complete the order:\nReturnCode ' + returncode + '. Message: ' + msg);
        }, true);
    }

    function cancelOrder() {
        postData('/TestQRCodes/AjaxCancelOrder', 'cancel order', { Organization: CurrentMachine.MOCCPOrganization, AssetNo: CurrentMachine.MOCCPAssetNo, SalesTransactionId: CurrentTransactionId }, function (data, result) {
            closeOrder();
            $('#CancelOrderSuccess').show();
        }, function (msg, returnCode) {
            if (returnCode == 5) {
                closeOrder();
                $('#CancelOrderSuccess').show();
            }
            else {
                if (returnCode == -303) {
                    alert('This order already is expired! The order has not been completed within the timeout of 10 minutes!');
                    closeOrder();
                    $('#CancelOrderFailed').show();
                }
                else if (returnCode == -304) {
                    alert('This order already has been completed! (by another test machine? or manually in the database?)');
                    closeOrder();
                    $('#CancelOrderFailed').show();
                }
                else
                    alert('An error occured while trying to complete the order:\nReturnCode ' + returncode + '. Message: ' + msg);
            }
        }, true);
    }

    function closeOrder()
    {
        $('#CompleteOrderFailed').hide();
        $('#CompleteOrderSuccess').hide();
        $('#CancelOrderSuccess').hide();
        $('#CancelOrderFailed').hide();
        $('#ManualOrderButton').show();
        $('#ThankYouButton').hide();

        $('#ManualOrderProductList').hide();
        $('#ProductSelection').show();
        $('#CompleteOrderButton').hide();
        $('#CancelOrderButton').hide();
        $('#ProductImage').hide();
        $('#ProductName').hide();
        $('#ProductVolume').hide();
        $('#FreeDrinkMessage').hide();
        $('#YourSelectionMessage').hide();
    }

    function showManualProductList()
    {
        $('#ManualOrderProductListContainer').empty();

        getRemoteData('/TestQRCodes/AjaxGetManualProductList?VendingMachineId=' + CurrentMachine.Id, 'get product list', function (data, result) {
            if ((data == null) || (data.length == 0))
                alert('No products sold in this vending machine! (all products already sold out)');
            else {
                for (var iNr = 0; iNr < data.length; iNr++) {
                    var html = '<div style="float: left; padding-left: 10px; padding-right: 20px; padding-top: 10px; width: 130px; text-align: center;">' +                               
                               '  <div style="text-align: center; padding-bottom: 10px;"><img src="' + data[iNr].ProductImageUrl + '" height="120px"></div>' +
                               '  <div style="text-align: center; height: 32pt;">' + data[iNr].ProductName + ' (' + data[iNr].ProductId + ')</div>' +
                               '  <div style="text-align: center; padding-bottom: 20px;"><input type="button" value="Buy and Pay" onclick="manualBuy(' + data[iNr].ProductId + ', ' + data[iNr].InternalId + ')" /></div>' +
                               '</div>';

                    $('#ManualOrderProductListContainer').append(html);
                }
            }
        });

        $('#ProductSelection').hide();
        $('#ManualOrderProductList').show();
    }

    function manualBuy(productId, internalId)
    {
        postData('/TestQRCodes/ManualOrder', 'complete manual order', { Organization: CurrentMachine.MOCCPOrganization, AssetNo: CurrentMachine.MOCCPAssetNo, InternalId: internalId }, function (data, result) {
            closeOrder();
            $('#CompleteOrderSuccess').show();

            if ((data != null) && (data != '') && (data.QRToken != null) && (data.QRToken != '')) {
                $('#stampsqrimg').attr('src', '/TestQRCodes/AjaxGetTestMachineQRImage?QRToken=' + data.QRToken);
                $('#stampsqrimg').show();

                $('#stampsqrcode').text(data.QRToken);
                $('#stampsqrcode').show();

                getRemoteData('/TestQRCodes/AjaxGetStampsQRActivities?StampsQR=' + data.QRToken, 'get activities for QR', function (data, result) {
                    $('#stampsqrcode').html($('#stampsqrcode').html() + '<br/>Participating activities: ' + data);
                });
            }
        }, function (msg, returnCode) {
            alert('An error occured while trying to send and complete the manual the order:\nReturnCode ' + returncode + '. Message: ' + msg);
        }, true);
    }

    function redeemPriceCoupon()
    {
        var couponToken = $('#PriceCouponToken').val();
        if ((couponToken == null) || (couponToken.toString().trim() == ''))
        {
            alert('Please enter a coupon token first!');
            return;
        }

        getRemoteData('/TestQRCodes/AjaxValidatePriceCoupon?AssetNo=' + CurrentMachine.MOCCPAssetNo + '&Organization=' + CurrentMachine.MOCCPOrganization + '&CouponToken=' + couponToken, 'Validate coupon token', function (data, result) {
            var internalId = data.InternalId;

            getRemoteData('/TestQRCodes/AjaxGetProductByInternalID?internalID=' + internalId, 'get product (coupon)', function (data, result) {
                CurrentProduct = data;

                $('#ProductImage').attr('src', CurrentProduct.ImageUrl);
                $('#ProductImage').show();

                $('#ProductName').text(CurrentProduct.Name);
                $('#ProductName').show();

                $('#ProductVolume').text(CurrentProduct.Volume);
                $('#ProductVolume').show();

                $('#CompleteOrderSuccess').hide();
                $('#CompleteOrderFailed').hide();
                $('#CancelOrderSuccess').hide();
                $('#CancelOrderFailed').hide();
                $('#stampsqrimg').hide();
                $('#stampsqrcode').hide();
                $('#CompleteOrderButton').hide();
                $('#CancelOrderButton').hide();
                $('#ThankYouButton').show();

                $('#FreeDrinkMessage').show();
                $('#YourSelectionMessage').hide();
            }, function () { CurrentProduct = null });
        }, function (msg, returnCode) {
            alert('An error occured while trying to validate the coupon token:\nReturnCode ' + returncode + '. Message: ' + msg);
        }, true);
    }
</script>

