﻿
/*
  Dynamic Input Forms - Default Design
  ====================================
*/

.std-formcontainer
{
    width: 100%;
    margin-top: 10px;
}

.std-form
{
    width: 100%;
}

.std-formmsg
{
    width: 100%;
    float: left;
    clear: both;
    padding-left: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}
.std-formmsg .std-okmsg
{
    color: green;
}
.std-formmsg .std-errmsg
{
    color: #b58f8f;  
}

.std-icontainer
{
    width: 100%;
    float: left;
    clear: both;

    padding-left: 10px;
    margin-top: 5px;
}

.std-fieldgroup
{
    clear: both;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}

.std-formlabel
{
    float: left;
    clear: both;
    white-space: nowrap;
    padding-right: 25px;
    padding-top: 3px;
}

.std-edit
{
    float: left;
}

.std-subgroup
{
    float: left;
}

.std-sg-formlabel
{
    float: left;
    padding-right: 10px;    
}

.std-sg-edit
{
    float: left;
    padding-right: 10px;
}

.std-sg-editonly
{
    float: left;
    padding-right: 10px;
}

.invalid-msg-container
{
    clear: left;
    margin-top: 5px;
    margin-bottom: 2px;
    overflow: hidden;
}

span.k-invalid-msg
{
    border: 1px solid green;
}

.ajaxinputloader
{
    float: left;
    
}

.ajaxinputdiv
{
    white-space: nowrap;
    float: left;
    display: inline-flex;
}

.ajaxinputdiv > input
{
    
}

.loaderimg
{
    float: left;
    margin-left: 7px;
    margin-top: 5px;
    margin-right: 2px;
}

.maximaonoff
{
    font-weight: bold;
}

.maximaonoff_changing
{
    font-size: 12pt;
}

/*
 * Settings Management
 * -------------------
*/

.settings_loaderimg
{
    margin-left: 10px;
}

.settings_ajaxinput
{
    float: left;
}

.AppSettingUploader
{
    margin-left: 15px !important;
}

.AppSettingUploadButton
{
    margin-left: 15px !important;
}

/*
    Image Upload Popup
    ------------------
*/

.maximauploadcontainer
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.maximapreview_header
{

}

.maximapreviewimg
{
    max-width: 760px;
    max-height: 440px;
    margin-bottom: 15px;
}

.maximaimgpopupbutton
{
    float: left;
    margin-right: 10px;
}


/*
    Modal Image for MaximaPageManager
    =================================

    from https://www.w3schools.com/howto/howto_css_modal_images.asp
*/

 /* Style the Image Used to Trigger the Modal */
#MaximaPageManager_ModalImage_Image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#MaximaPageManager_ModalImage_Image:hover {opacity: 0.7;}

/* The Modal (background) */
.maxima-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.maxima-modal-content {
    margin: auto;
    display: block;
    /*width: 80%;*/
    max-width: 800px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.maxima-modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.maxima-modal-close:hover,
.maxima-modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .maxima-modal-content {
        width: 100%;
    }
} 