﻿/*
    Maxima Masonry Layout (Esther)
    ==============================
*/

.wd_submenu
{
    margin-left: 18px;
}

.wd_submenu_item
{
    float: left;
    padding-right: 25px;
}

.wd_submenu_item a:link, .wd_submenu_item a:active, .wd_submenu_item a:visited
{
    text-decoration: none;
    color: black;
    font-size: 11pt;
}

.wd_submenu_item a:hover
{
  -webkit-transition: all 280ms ease-in-out 0ms;
  color: #F2C533;
  transition: all 280ms ease-in-out 0ms;
}

.wd_itm_active a:link, .wd_itm_active a:active, .wd_itm_active a:visited, .wd_itm_active a:hover
{
    color: #EFB700;
}

.c-menu__active
{
    background-color: #f5f5f5;
}

.c-menu__active a:link, .c-menu__active a:active, .c-menu__active a:visited, .c-menu__active a:hover
{
    color: #EFB700;
}

/*
    Breadcrumb
    ----------
*/

.breadcrumb-main
{
    box-sizing: border-box; 
    width: 65%;
    float: left;
}

/*
    Breadcrumb Context Buttons Area
    -------------------------------
*/

.contextbuttons-container
{
    box-sizing: border-box; 
    width: 35%; 
    float: left; 
    text-align: right; 
    margin-top: 5px;
}

.contextbutton
{
    float: right; 
    width: 30pt; 
    text-align: right; 
    padding-top: 3px;    
    font-size: 20pt;
}

.contextbuttons-container .disabled
{
    cursor: default;    
}

.contextbuttons-container .disabled a:link, .contextbuttons-container .disabled a:visited, .contextbuttons-container .disabled a:active, .contextbuttons-container .disabled a:hover
{
    cursor: default;    
}

/*
    Paging
    ------
*/

.context_pageinfo
{
    font-size: 12pt;
    padding-top: 5pt;
}

.context_pageinfo > span
{
    padding-right: 20px;
}

.context_pageinfo .pagenr
{
    float: right;
    cursor: pointer;
}

.context_pageinfo .pagecount
{
    float: right;
    cursor: default;
}

.context_pageinfo .pagenredit
{
    width: 28pt;
    height: 15pt;
    text-align: right;
    border: 1px solid gray;
    margin-right: 3px;
}

/*
    Popups Standard Layout
    ======================
*/

.pop-container
{
    padding-left: 15px !important;
    padding-top: 15px !important;
}

.pop-stack-cell
{
    margin-bottom: 4px;
    clear: both;
    overflow: hidden;
    width: 100%;

    padding-bottom: 4px;
}

.pop-c-lbl
{
    width: auto;
    padding-right: 20px;
    vertical-align: top;   

    white-space: nowrap;
    
    float: left;
}

.pop-c-inpdd
{
    float: left;
}

.pop-c-info
{
    width: auto;
}

.pop-c-inp2lines .pop-c-textarea
{
    width: auto;
    float: left;
    height: 34pt;
}

.pop-c-inp10lines .pop-c-textarea
{
    width: auto;
    float: left;
    height: 140pt;
}

.pop-c-img-small > img
{
    float: left;
    max-width: 220px;
    max-height: 180px;
}

.pop-c-img-tiny > img
{
    float: left;
    max-width: 140px;
    max-height: 110px;
}

.pop-c-img-tiny img.upload, .pop-c-img-small img.upload
{
    cursor: pointer;
    float: left;
    clear: none;
}

.pop-c-img-tiny input.upload, .pop-c-img-small input.upload
{
    float: left;
    margin-left: 15px;
    clear: none;
}

.pop-c-status-green, .pop-c-status-gray
{
    width: auto;
    float: left;
}

.pop-c-status-green span
{
    float: left;
    cursor: pointer;
    font-weight: bold;
    color: green;
}

.pop-c-status-gray span
{
    float: left;
    cursor: pointer;
    font-weight: bold;
    color: #282828;
}

.pop-buttonline
{
    clear: both;
    float: left;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.pop-button
{
    float: left;
    margin-right: 20px;
}

/*
    Filter area
    -----------
*/

.c-filter
{
    background-color: #ebebef;
}

.c-filter-container
{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: gray;
    float:left;
}

.c-filter-container-collapsed
{
    background-color: #ebebef;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    float:left;
}

.c-filter-collapser
{
    float:left;
}

.c-filter-contents
{
    float:left;
    padding-left: 10px;
    box-sizing: border-box;
    width: 98%;    
}

.c-filter-contents-collapsed {
    padding-left: 30px;
}

.c-filter-controls
{
    float:left;
    width: 80%;
}

.c-filter-control
{
    float:left;
    padding-right: 25px;

    padding-top: 2px;
    padding-bottom: 4px;
}

.c-filter-search
{
    float:right;
    padding-right: 0.4%;
    vertical-align: bottom;
}

.maximafilter_label
{

}

.maximafilter_fromto_span
{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.maximafilter_inputdiv
{
    float: left;
}