﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@using Kooco.Framework.Models.Logging;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Kooco.Framework.Models.DataStorage.ApplicationDbContext DbContext = new Kooco.Framework.Models.DataStorage.ApplicationDbContext();

    string LogSystemsDataSource = StandardLogSystems.AdminSite + "[" + StandardLogSystems.AdminSite + "];" + 
                                  StandardLogSystems.API + "[" + StandardLogSystems.API + "]";
}

@section Templates {
    <script type="text/template" id="LogViewerTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-property="FakeId" data-visible="no">Id</th>
                    <th style="text-align: center;" data-property="System" data-edit="0" data-edit-type="dropdown" data-edit-width="100" data-edit-listvalues="@(LogSystemsDataSource)">系統</th>
                    <th style="text-align: center;" data-property="Date" data-edit="0" data-edit-type="datetimepicker" data-edit-width="150" data-format="datetime">日期</th>
                    <th style="text-align: center;" data-property="SeverityDisplayText" data-edit="0">Severity</th>
                    <th style="text-align: center;" data-property="Message" data-edit="0">信息</th>
                    <th style="text-align: center;" data-property="Username" data-edit="0">會員</th>
                    <th style="text-align: center;" data-property="Host" data-edit="0">Host</th>
                    <th style="text-align: center;" data-property="AuditType" data-edit="0" data-edit-type="dropdown" data-edit-width="15ch" data-edit-listvalues="@(StandardAuditTypes.Login)[登入];@(StandardAuditTypes.Logout)[登出];@(StandardAuditTypes.AppMenu)[功能使用];@(StandardAuditTypes.Action)[行動];@(StandardAuditTypes.PermissionDenied)[禁止];@(StandardAuditTypes.PermissionGranted)[允許]" data-onrender="RenderAuditType">審計类型</th>
                    <th style="text-align: center;" data-property="AuditItem" data-edit="0">審計的東西</th>
                    <th style="text-align: center;" data-property="Controller" data-edit="0">Controller</th>
                    <th style="text-align: center;" data-property="Action" data-edit="0">Action</th>
                    <th style="text-align: center;" data-property="Url" data-edit="1" data-edit-type="textpopup" data-edit-readonly="true" data-truncate="40" data-edit-width="400">Url</th>
                    <th style="text-align: center;" data-property="Info" data-edit="1" data-edit-readonly="true" data-edit-type="textpopup" data-truncate="30" data-edit-width="1100" data-image-height="740">資料</th>
                    <th style="text-align: center;" data-property="LogSourceId" data-edit="1" data-visible="no" data-edit-type="dropdown" data-edit-width="20ch" data-edit-datasource="/MaximaLog/AjaxGetLogSources" data-edit-valuemember="Id" data-edit-displaymember="Name" data-filter-add-allitem="false">日志</th>
                    <th style="text-align: center;" data-property="LogType" data-edit="1" data-visible="no" data-edit-type="dropdown" data-edit-width="16ch" data-edit-listvalues="@(StandardLogTypes.Audits)[審計];@(StandardLogTypes.APIRequestsLog)[API];@(StandardLogTypes.ErrorLog)[錯誤];@(StandardLogTypes.TraceLog)[跟踪]" data-filter-add-allitem="false">日志类型</th>
                </tr>
            </thead>
        </table>
    </script>

    <script type="text/template" id="CustomFilterTemplate">
        <div>

        </div>
    </script>

    <script type="text/javascript">
        function RenderAuditType(eventArgs) {
            switch (eventArgs.Value) {
                case '@(StandardAuditTypes.Login)':
                    eventArgs.Html = '登入';
                    break;
                case '@(StandardAuditTypes.Logout)':
                    eventArgs.Html = '登出';
                    break;
                case '@(StandardAuditTypes.AppMenu)':
                    eventArgs.Html = '功能使用';
                    break;
                case '@(StandardAuditTypes.Action)':
                    eventArgs.Html = '行動';
                    break;
                case '@(StandardAuditTypes.PermissionDenied)':
                    eventArgs.Html = '禁止';
                    break;
                case '@(StandardAuditTypes.PermissionGranted)':
                    eventArgs.Html = '允許';
                    break;
            }
        }
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
    <script>
        LoadLogEntries();

        refreshLoginTicket();

        function LoadLogEntries(pageNr)
        {
            MaximaPageManager.init({
                IdColumnName: "FakeId",
                StatusColumnName: "",
                GetDataUrl: "/MaximaLog/AjaxGetList",
                GetPropertyUrl: "/MaximaLog/AjaxGetProperty",
                SavePropertyUrl: "/MaximaLog/AjaxSaveProperty",
                CanDelete: false,
                CanExport: false,

                EnableDetailListView: false,
                EnableBoxView: false,

                InitialViewType: MaximaPageManager_ViewTypes.DataTable,
                DefaultSortOrder: 'Date desc',

                DataTableItemTemplateId: 'LogViewerTableTemplate',
                ItemsPerPage: 20,

                FilterProperties: 'LogSourceId,System,LogType,Severity,AuditType,Date[fromto],Message,Info',
                InitialFilter: {
                    LogSourceId: @(DbContext.LogSources.Select(itm => itm.Id).FirstOrDefault()),
                    LogType: '@(StandardLogTypes.Audits)'
                },
                FilterDirectMode: true,

                BeforeFilterApply: function(filterUrl)
                {
                    return FilterApply(filterUrl);
                },

                LoadCompleted: function () {
                    AdjustColumns();
                }
            });
        }

        function FilterApply(filterUrl) {
            var LogType = MaximaPageManager.GetFilterValue('LogType');

            if ((LogType != '@(StandardLogTypes.Audits)') && (MaximaPageManager.GetFilterValue('AuditType') != '')) {
                var allFilters = filterUrl.split(';');
                filterUrl = '';

                for (var filterIndex in allFilters) {
                    if (!allFilters[filterIndex].startsWith('AuditType:'))
                        filterUrl = filterUrl + allFilters[filterIndex] + ';';
                }
            }

            AdjustColumns();

            return filterUrl;
        }

        function AdjustColumns() {
            var LogType = MaximaPageManager.GetFilterValue('LogType');

            MaximaPageManager.HideColumn('SeverityDisplayText');
            MaximaPageManager.HideColumn('AuditType');
            MaximaPageManager.HideColumn('AuditItem');
            MaximaPageManager.HideColumn('Controller');
            MaximaPageManager.HideColumn('Action');
            MaximaPageManager.HideColumn('Url');

            MaximaPageManager.HideFilterColumn('AuditType');

            switch (LogType) {
                case '@(StandardLogTypes.Audits)':
                    MaximaPageManager.ShowColumn('AuditType');
                    MaximaPageManager.ShowColumn('AuditItem');
                    MaximaPageManager.ShowColumn('Controller');
                    MaximaPageManager.ShowColumn('Action');
                    MaximaPageManager.ShowFilterColumn('AuditType');
                    break;
                case '@(StandardLogTypes.APIRequestsLog)':
                    MaximaPageManager.ShowColumn('Url');
                    break;
                case '@(StandardLogTypes.ErrorLog)':
                    MaximaPageManager.ShowColumn('SeverityDisplayText');
                    MaximaPageManager.ShowColumn('Controller');
                    MaximaPageManager.ShowColumn('Action');
                    break;
                case '@(StandardLogTypes.TraceLog)':
                    MaximaPageManager.ShowColumn('Controller');
                    MaximaPageManager.ShowColumn('Action');
                    MaximaPageManager.ShowColumn('Url');
                    break;
            }
        }
    </script>
</text>)
