﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using VmaBase.Models.DataStorage.Tables;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="VendingMachinesTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>                    
                    <th style="text-align: center; display: none;" data-property="Id" data-visible="no">Id</th>                    
                    <th style="text-align: center;" data-property="AssetNo" data-column-width="10%" data-edit="0" data-edit-type="text">AssetNo</th> 
                    <th style="text-align: center;" data-property="Organization" data-column-width="5%" data-edit="0" data-edit-type="text">Org</th> 
                    <th style="text-align: center;" data-property="Name" data-column-width="15%" data-edit="1" data-edit-type="text" data-edit-maxlength="@(VendingMachine.NameMaxLength)">名稱</th>                    
                    <th style="text-align: center;" data-property="Location" data-column-width="25%" data-edit="0" data-edit-type="text">地址</th>
                    <th style="text-align: center;" data-property="Longitude" data-column-width="25%" data-edit="0" data-onrender="RenderLocationLink">地點 (網址)</th>
                    <th style="text-align: center;" data-property="StatusText" data-column-width="10%" data-edit="0">狀態</th>
                    <th style="text-align: center;" data-property="Status" data-visible="no" data-edit="1" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(VendingMachineStatus), ExcludeValues: new int[] { (int)VendingMachineStatus.Removed }) ">狀態</th>
                    <th style="text-align: center;" data-property="AppStatus" data-edit="1" data-edit-type="onoff" data-edit-ontext="@Utils.GetEnumDisplayName(typeof(VendingMachineAppStatus), VendingMachineAppStatus.Show.ToString())" data-edit-offtext="@Utils.GetEnumDisplayName(typeof(VendingMachineAppStatus), VendingMachineAppStatus.Hide.ToString())" data-edit-onvalue="1" data-edit-offvalue="0" data-onoff-quickmode="true">顯示在地圖上</th>
                </tr>
            </thead>
        </table>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            loadMachines();

            refreshLoginTicket();
        </script>
</text>)

<script type="text/javascript">
    function loadMachines(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/VendingMachines/AjaxGetList",
            GetPropertyUrl: "/VendingMachines/AjaxGetProperty",
            SavePropertyUrl: "/VendingMachines/AjaxSaveProperty",
            CanDelete: false,

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: true,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: 'Organization,AssetNo,Name,Status,AppStatus',
            InitialFilter: {
            },
            FilterDirectMode: true,

            DataTableItemTemplateId: 'VendingMachinesTableTemplate',
            ItemsPerPage: 14,
        });
    }

    function RenderLocationLink(eventArgs)
    {
        var html = '';

        html += '<a href="https://www.google.com/maps/?q=' + eventArgs.ColumnValues['Latitude'] + ',' + eventArgs.ColumnValues['Longitude'] + '" target="_new">' + eventArgs.ColumnValues['Latitude'] + ',' + eventArgs.ColumnValues['Longitude'] + '</a>';
        
        eventArgs.Html = html;
    }
</script>

