﻿<div>
    Application Root: @HttpContext.Current.Request.MapPath("/")<br/>
    App_Data: @HttpContext.Current.Request.MapPath("/App_Data")<br />
    Server Time: @(DateTime.Now.ToShortDateString() + " " + DateTime.Now.ToShortTimeString())<br />
    Server UTC Time: @(DateTime.UtcNow.ToShortDateString() + " " + DateTime.UtcNow.ToShortTimeString())<br />
</div>