﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="LotteryPriceCouponsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-property="Status" data-column-width="0%" data-edit="1" data-visible="0" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(LotteryPriceCouponStatus))">Status</th>
                    <th style="text-align: center;" data-property="PriceTitle" data-column-width="15%" data-edit="0" data-edit-type="text">獎品名稱</th>
                    <th style="text-align: center;" data-property="PriceExchangeType" data-edit="0" data-visible="0" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(LotteryPriceExchangeType), ExcludeValues: new int[] { (int)LotteryPriceExchangeType._None })">兌換地點</th>
                    <th style="text-align: center;" data-property="PriceExchangeTypeText" data-column-width="5%" data-edit="0" data-edit-type="text">兌換地點</th>
                    <th style="text-align: center;" data-property="PickupNumber" data-column-width="10%" data-edit="0" data-edit-type="text">Pickup ID</th>
                    <th style="text-align: center;" data-property="UserAccount" data-column-width="7%" data-edit="0" data-edit-type="text" data-onrender="RenderUserAccountColumn">會員 AccountID</th>
                    <th style="text-align: center;" data-property="UserNickname" data-visible="0" data-edit="1" data-edit-type="text">會員暱稱</th>
                    <th style="text-align: center;" data-property="UserName" data-column-width="10%" data-edit="0" data-edit-type="text">會員姓名</th>
                    <th style="text-align: center;" data-property="UserPhone" data-column-width="10%" data-edit="0" data-edit-type="text">會員電話號碼</th>
                    <th style="text-align: center;" data-property="UserAddress" data-column-width="25%" data-edit="0" data-edit-type="text" data-onrender="RenderAddressColumn">會員地址</th>
                    <th style="text-align: center;" data-property="TimeWon" data-column-width="6%" data-edit="0" data-format="datetime">中獎日期</th>
                    <th style="text-align: center;" data-property="TimeRedeemed" data-column-width="6%" data-edit="0" data-format="datetime" data-onrender="RenderTimeRedeemedColumn">採集日期</th>
                    <th style="text-align: center;" data-property="LotteryPriceId" data-column-width="0%" data-edit="1" data-visible="0" data-edit-type="dropdown" data-edit-width="250px" data-edit-datasource="/Lottery/AjaxLotteryGetPricesDropDownList" data-edit-valuemember="PriceId" data-edit-displaymember="Title">獎品</th>
                    <th style="text-align: center;" data-property="StatusText" data-column-width="6%" data-edit="0" data-edit-type="text" data-onrender="RenderStatusColumn">Status</th>
                    <th style="text-align: center;" data-property="Id" data-edit="0" data-onrender="RenderButtonsColumn"></th>
                    <th style="text-align: center;" data-property="LotteryGameId" data-column-width="0%" data-edit="0" data-visible="0" data-edit-type="dropdown" data-edit-width="200px" data-edit-datasource="/Lottery/AjaxLotteryGetGamesDropDownList" data-edit-valuemember="Id" data-edit-displaymember="Title">幸運汽</th>
                </tr>
            </thead>
        </table>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            loadLotteryPriceCoupons();

            refreshLoginTicket();
        </script>
</text>)

<script type="text/javascript">
    var CurrentFilterString = '';

    function loadLotteryPriceCoupons(pageNr) {
        // init Pagemanager
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/Lottery/AjaxLotteryCouponsGetList",
            GetPropertyUrl: "/Lottery/AjaxLotteryCouponsGetProperty",
            SavePropertyUrl: "/Lottery/AjaxLotteryCouponsSaveProperty",
            CanDelete: false,
            CanExport: true,

            ExcelFilename: 'lotterycoupons',
            AddExcelExportColumns: {
                Id: { Hide: true }
            },

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: true,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: (isMobile.any ? 'LotteryGameId,PickupNumber,PriceExchangeType,Status' : 'LotteryGameId,PickupNumber,UserAccount,LotteryPriceId,PriceExchangeType,Status'),
            InitialFilter: {
                LotteryGameId: 1
            },
            FilterDirectMode: true,

            DataTableItemTemplateId: 'LotteryPriceCouponsTableTemplate',
            ItemsPerPage: (isMobile.any ? 5 : 15),

            TemplateInitialized: function(templateControl) {
                if (isMobile.any)
                {
                    $('th[data-property="PriceExchangeType"]').data('visible', '0');
                    $('th[data-property="PriceExchangeTypeText"]').data('visible', '0');
                    $('th[data-property="UserName"]').data('visible', '0');
                    $('th[data-property="UserPhone"]').data('visible', '0');
                    $('th[data-property="UserAddress"]').data('visible', '0');

                    $('th[data-property="PriceTitle"]').data('column-width', '25%');
                    $('th[data-property="PickupNumber"]').data('column-width', '15%');
                    $('th[data-property="UserAccount"]').data('column-width', '20%');
                    $('th[data-property="TimeWon"]').data('column-width', '10%');
                    $('th[data-property="TimeRedeemed"]').data('column-width', '10%');
                    $('th[data-property="StatusText"]').data('column-width', '10%');
                    $('th[data-property="Id"]').data('column-width', '10%');
                }
            },

            BeforeFilterApply: function (filterUriString, filterProperties)
            {
                CurrentFilterString = filterUriString;
            },
        });
    }

    function RenderStatusColumn(eventArgs)
    {
        eventArgs.Html = '<span id="couponstatus' + eventArgs.Id + '">' + eventArgs.Html + '</span>';
    }

    function RenderTimeRedeemedColumn(eventArgs)
    {
        eventArgs.Html = '<span id="couponredeemtime' + eventArgs.Id + '">' + (eventArgs.Html == null ? '' : eventArgs.Html) + '</span>';
    }

    function RenderUserAccountColumn(eventArgs)
    {   
        if (isMobile.any)
            eventArgs.Html = '<a href="javascript:ShowUserInfo(' + eventArgs.Id + ')">' + eventArgs.Html + ' (' + eventArgs.ColumnValues['UserNickname'] + ')' + '</a>';
        else
            eventArgs.Html = eventArgs.Html + ' (' + eventArgs.ColumnValues['UserNickname'] + ')';

        if (isMobile.any)
            eventArgs.Html = eventArgs.Html + '<br/>' + eventArgs.ColumnValues['UserName'];
    }

    function RenderAddressColumn(eventArgs)
    {

    }

    function RenderButtonsColumn(eventArgs)
    {
        var html = '';

        if (eventArgs.ColumnValues['Status'] == @((int)LotteryPriceCouponStatus.Won))
            html += '<a id="couponpickupbtn' + eventArgs.Id + '" class="c-icon c-icon--main u-opacity-50p u-color-green" style="font-size: 16pt; color: darkgreen;" href="javascript:MarkPickedUp(' + eventArgs.Id + ', \'' + eventArgs.ColumnValues['UserNickname'] + '\', \'' + eventArgs.ColumnValues['UserAccount'] + '\', \'' + replaceAll(replaceAll(eventArgs.ColumnValues['PriceTitle'], '"', ''), "'", "") + '\');" title="會員兌換獎品了">check</a>';

        eventArgs.Html = html;
    }

    function MarkPickedUp(Id, Nickname, Account, PriceTitle)
    {
        if (confirm('會員【' + Nickname + ' (' + Account + ')】兌換【' + PriceTitle + '】了嗎?'))
        {
            postData('/Lottery/AjaxLotteryCouponsUserPickup', 'set pickup status for coupon', { LotteryPriceCouponId: Id }, function(data, result) { 
                $('#couponstatus' + Id).text('@(Utils.GetEnumDisplayName(typeof(LotteryPriceCouponStatus), LotteryPriceCouponStatus.PickedUp.ToString()))');
                $('#couponredeemtime' + Id).text(jsonDateToDateTimeString(data.TimeRedeemed));
                $('#couponpickupbtn' + Id).hide();
            });
        }
    }

    function ShowUserInfo(Id)
    {
        var userAccount = MaximaPageManager.GetPropertyValue(Id, 'UserAccount');
        var userNickname = MaximaPageManager.GetPropertyValue(Id, 'UserNickname');
        var userName = MaximaPageManager.GetPropertyValue(Id, 'UserName');
        var userPhone = MaximaPageManager.GetPropertyValue(Id, 'UserPhone');
        var userAddress = MaximaPageManager.GetPropertyValue(Id, 'UserAddress');

        $.prompt('<span style="font-size:11pt;">' +
                 '<b>會員 ' + userAccount + ' (' + userNickname + ')</b><br/>' +
                 '<br/>' +
                 '姓名: ' + userName + '<br/>' +
                 '電話號碼: ' + userPhone + '</br>' +
                 '<br/>' +
                 '地址:<br/>' + userAddress +
                 '</span>',
            { buttons: { Ok: true } });
    }
</script>

