﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="LotteryPriceItemsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-property="WinFromTime" data-column-width="10%" data-edit="0" data-edit-type="date" data-format="datetime">獎品釋出日期</th>
                    <th style="text-align: center;" data-property="Status" data-column-width="0%" data-edit="1" data-visible="0" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(GeneralStatusEnum))">Status</th>
                    <th style="text-align: center;" data-property="PriceTitle" data-column-width="30%" data-edit="0" data-edit-type="text">獎品名稱</th>
                    <th style="text-align: center;" data-property="LotteryPriceId" data-column-width="0%" data-edit="1" data-visible="0" data-edit-type="dropdown" data-edit-width="250px" data-edit-datasource="/Lottery/AjaxLotteryGetPricesDropDownList" data-edit-valuemember="PriceId" data-edit-displaymember="Title">獎品</th>
                    <th style="text-align: center;" data-property="WonByAccount" data-column-width="20%" data-edit="0" data-edit-type="text">中獎會員</th>
                    <th style="text-align: center;" data-property="WonByNickname" data-column-width="15%" data-edit="0" data-edit-type="text">中裝會員暱稱</th>
                    <th style="text-align: center;" data-property="WonTime" data-column-width="10%" data-edit="0" data-format="datetime">中裝日期</th>
                    <th style="text-align: center;" data-property="IsWon" data-column-width="5%" data-edit="1" data-readonly="1" data-edit-type="onoff" data-ontext="中裝" data-offtext="還可以贏" data-oncolor="green" data-offcolor="darkblue">Status</th>
                    <th style="text-align: center;" data-property="Id" data-column-width="5%" data-visible="no" data-onrender="RenderButtonsColumn"></th>
                    <th style="text-align: center;" data-property="LotteryGameId" data-column-width="0%" data-edit="0" data-visible="0" data-edit-type="dropdown" data-edit-width="200px" data-edit-datasource="/Lottery/AjaxLotteryGetGamesDropDownList" data-edit-valuemember="Id" data-edit-displaymember="Title">幸運汽</th>
                </tr>
            </thead>
        </table>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            loadLotteryPriceCoupons();

            refreshLoginTicket();
        </script>
</text>)

<script type="text/javascript">
    function loadLotteryPriceCoupons(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            StatusColumnName: "",
            GetDataUrl: "/Lottery/AjaxLotteryPriceItemsGetList",
            GetPropertyUrl: "/Lottery/AjaxLotteryPriceItemsGetProperty",
            SavePropertyUrl: "/Lottery/AjaxLotteryPriceItemsSaveProperty",
            CanDelete: false,

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: true,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: 'LotteryGameId,IsWon,LotteryPriceId,WinFromTime[fromto]',
            InitialFilter: {
                LotteryGameId: 1
            },
            FilterDirectMode: true,

            DataTableItemTemplateId: 'LotteryPriceItemsTableTemplate',
            ItemsPerPage: 15,
        });
    }

    function RenderButtonsColumn(eventArgs)
    {

    }
</script>