﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="UserCouponsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center; display: none;" data-property="Id" data-visible="no">Id</th>
                    <th style="text-align: center;" data-property="Type" data-edit="1" data-visible="no" data-edit-type="dropdown" data-edit-width="15ch" data-edit-listvalues="@(Utils.GetDropDownListValuesFromEnum(typeof(UserCouponType)))">來源</th>
                    <th style="text-align: center;" data-property="TypeDisplayText">來源</th>
                    <th style="text-align: center;" data-property="UserAccount" data-visible="no" data-edit="0" data-edit-type="text">會員帳號</th>
                    <th style="text-align: center;" data-property="UserNickname" data-edit="0" data-edit-type="text" data-onrender="RenderUserNicknameColumn">會員</th>
                    <th style="text-align: center;" data-property="SenderUserAccount" data-edit="0" data-edit-type="text" data-edit-maxlength="60" data-edit-width="60ch" data-onrender="RenderSenderUserAccountColumn">發送的會員</th>
                    <th style="text-align: center;" data-property="ActivityName" data-edit="0">活動</th>
                    <th style="text-align: center;" data-property="StartTime" data-edit="0" data-edit-type="datetimepicker" data-format="datetime">開始集日期</th>
                    <th style="text-align: center;" data-property="CompletionTime" data-edit="0" data-edit-type="datetimepicker" data-format="datetime">完成日期</th>
                    <th style="text-align: center;" data-property="StatusDisplayText" data-edit="0">狀態</th>
                    <th style="text-align: center;" data-property="RedeemTime" data-edit="0" data-edit-type="datetimepicker" data-format="datetime">兌換日期</th>
                    <th style="text-align: center;" data-property="ExpiryTime" data-edit="0" data-edit-type="datetimepicker" data-format="datetime">到期日期</th>
                    <th style="text-align: center;" data-property="Status" data-edit="1" data-visible="no" data-edit-type="dropdown" data-edit-width="15ch" data-edit-listvalues="@(Utils.GetDropDownListValuesFromEnum(typeof(UserCouponStatus)))">狀態</th>
                    <th style="text-align: center;" data-property="ActivityId" data-edit="1" data-visible="no" data-edit-type="dropdown" data-edit-width="35ch" data-edit-datasource="/UserCoupons/AjaxGetActivitiesDropDownList" data-edit-textmember="Title" data-edit-valuemember="Id">活動</th>
                    <th style="text-align: center;" data-property="CriteriaId" data-edit="1" data-visible="no" data-edit-type="dropdown" data-edit-width="35ch" data-edit-datasource="/UserCoupons/AjaxGetCriteriasDropDownList" data-edit-textmember="Name" data-edit-valuemember="Id">自動飲料卷規則</th>
                </tr>
            </thead>
        </table>
    </script>

    <script type="text/template" id="CustomFilterTemplate">
        <div>

        </div>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            loadUserCoupons();

            refreshLoginTicket();
        </script>
</text>)

        <script type="text/javascript">
    function loadUserCoupons(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/UserCoupons/AjaxGetList",
            GetPropertyUrl: "/UserCoupons/AjaxGetProperty",
            SavePropertyUrl: "/UserCoupons/AjaxSaveProperty",
            CanDelete: false,
            CanExport: true,

            AddExcelExportColumns: {
                UserAccount: { Hide: false, Label: '會員（帳號）', Before: 'UserNickname' },
                UserNickname: { Label: '會員（暱稱）' },
                SenderUserAccount: { Label: '發送的會員（帳號）' },
                SenderUserNickname: { Label: '發送的會員（暱稱）', After: 'SenderUserAccount' },
            },

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: true,
            DefaultSortOrder: 'StartTime desc',

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: 'Type,Status,StartTime[fromto],UserAccount,ActivityId,CriteriaId',
            InitialFilter: {
            },
            FilterDirectMode: true,

            DataTableItemTemplateId: 'UserCouponsTableTemplate',
            ItemsPerPage: 25,

            BeforeFilterApply: function (filterUri) {
                var TypeFilter = MaximaPageManager.GetFilterValue('Type');

                if ((TypeFilter == null) || (TypeFilter == '')) {
                    MaximaPageManager.ShowFilterColumn('ActivityId');
                    MaximaPageManager.ShowFilterColumn('CriteriaId');
                }
                else if (TypeFilter == @((int)UserCouponType.ActivityCoupon)) {
                    MaximaPageManager.ShowFilterColumn('ActivityId');
                    MaximaPageManager.HideFilterColumn('CriteriaId');
                }
                else if (TypeFilter == @((int)UserCouponType.AutoCoupon)) {
                    MaximaPageManager.HideFilterColumn('ActivityId');
                    MaximaPageManager.ShowFilterColumn('CriteriaId');
                }
            }
        });
    }

    function RenderUserNicknameColumn(eventArgs) {
        eventArgs.Html = eventArgs.ColumnValues['UserAccount'] + ' (' + eventArgs.Html + ')';
    }

    function RenderSenderUserAccountColumn(eventArgs) {
        eventArgs.Html = eventArgs.Html + ' (' + eventArgs.ColumnValues['UserNickname'] + ')';
    }
        </script>

