﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;

<!--
    =================
    Code Editor Popup
    =================
-->

@(Html.Kendo().Window().Name("CodeEditor").Title("編輯C#代碼")
                            .Width(1100).Height(870).Draggable(true)
                            .Content(
                            @<text>
                                <div class="pop-stack-cell" style="padding-top: 15px;">
                                    <div class="pop-c-inplbl">
                                        <label>
                                            使用的模組:
                                        </label>
                                    </div>
                                    <div class="pop-c-inp">
                                        <input id="CodeEditorPopup_Module" style="width:80ch;" />
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="pop-c-inplbl">
                                        <label>
                                            名稱:
                                        </label>
                                    </div>
                                    <div class="pop-c-inp">
                                        <input type="text" class="k-textbox" id="CodeEditorPopup_Name" style="width:80ch;" />
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="pop-c-inplbl">
                                        測試用的會員:
                                    </div>
                                    <div class="pop-c-inp">
                                        <input type="text" class="k-textbox" id="TestuserAccount" maxlength="@(UserBase.AccountMaxLength)" onchange="TestuserChanged()" value="12183196" />
                                        @(Html.Kendo().Button().Name("ResetUserStates").Content("清除會員的UserState").Events(itm => itm.Click("function() { ResetUserStates(); }")))
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    &nbsp;
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="infopopup-contents" style="text-decoration: underline;">
                                        Snippets:
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="infopopup-contents">
                                        <a href="javascript:InsertCode('AssignCoupon = true;', true);" class="c-link">發送飲料卷</a>&nbsp;&nbsp;&nbsp;<a href="javascript:InsertCode('AssignCoupon = false;', true);" class="c-link">不發送飲料卷</a>&nbsp;&nbsp;&nbsp;
                                        <a href="javascript:InsertDebugMessageCode()" class="c-link">DebugMessage</a>&nbsp;&nbsp;&nbsp;
                                        <a href="javascript:InsertPushCode()" class="c-link">發送推送通知</a>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    &nbsp;
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="infopopup-contents" style="text-decoration: underline;">
                                        C# Code:
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="infopopup-contents">
                                        <textarea id="CodeEditorPopup_Code"></textarea>
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="infopopup-contents">
                                        可用的變量: <a href="javascript:InsertCode('AssignCoupon');" class="c-link" style="color: brown;">AssignCoupon</a>&nbsp;<a href="javascript:OpenDescription('AssignCoupon')"><img src="~/images/help.png" /></a>&nbsp;&nbsp;<a href="javascript:InsertCode('Criteria');" class="c-link">Criteria (AutoCouponCriteria)</a>&nbsp;<a href="javascript:OpenDescription('Criteria')"><img src="~/images/help.png" /></a>&nbsp;&nbsp;<a href="javascript:InsertCode('CriteriaId');" class="c-link">CriteriaId (long)</a>&nbsp;<a href="javascript:OpenDescription('CriteriaId')"><img src="~/images/help.png" /></a>&nbsp;&nbsp;<br />
                                        <a href="javascript:InsertCode('DbContext');" class="c-link">DbContext (ApplicationDbContext)</a>&nbsp;&nbsp;&nbsp;<a href="javascript:InsertCode('UserDb');" class="c-link">UserDb (UserData)</a>&nbsp;<a href="javascript:OpenDescription('UserDb')"><img src="~/images/help.png" /></a>&nbsp;&nbsp;<a href="javascript:InsertCode('ActiveCriterias');" class="c-link">ActiveCriterias (List&lt;AutoCouponCriteria&gt;)</a>&nbsp;&nbsp;&nbsp;<a href="javascript:InsertCode('AutoCouponHelper');" class="c-link">AutoCouponHelper (Class)</a>&nbsp;<a href="javascript:OpenDescription('AutoCouponHelper')"><img src="~/images/help.png" /></a>
                                    </div>
                                </div>
                                <div class="pop-buttonline" id="CodeEditorButtonsContainer">
                                    <div class="pop-button">
                                        @Html.Kendo().Button().Name("CodeEditorSaveButton").Icon("save").Content("保存(更換模組)").Events(itm => itm.Click("function() { CompileCheckCode(true, false, true, true); }"))
                                    </div>
                                    <div class="pop-button">
                                        @Html.Kendo().Button().Name("CodeEditorSaveNewButton").Icon("save").Content("另存模組").Events(itm => itm.Click("function() { CompileCheckCode(true, true, true, true); }"))
                                    </div>
                                    <div class="pop-button">
                                        @Html.Kendo().Button().Name("CodeEditorCompileButton").Icon("check").Content("Compile").Events(itm => itm.Click("function() { CompileCheckCode(false, false, true, false); }"))
                                    </div>
                                    <div class="pop-button">
                                        @Html.Kendo().Button().Name("CodeEditorCancelButton").Icon("cancel").Content("取消").Events(itm => itm.Click("function() { GetKendo('CodeEditor').close(); }"))
                                    </div>
                                </div>
                            </text>).Visible(false))

                                <script type="text/javascript">
    var CurrentCodeEditor = null;
    var CurrentTestUserId = 0;
    var FirstLoad = false;

    function TestuserChanged() {
        var Account = $('#TestuserAccount').val();
        $('#TestuserAccount').css('color', '');
        CurrentTestUserId = 0;

        showLoader();

        getRemoteData('/AppUsers/AjaxGetUserId?Account=' + Account, 'Get UserId', function (data, result) {
            CurrentTestUserId = data;
            hideLoader();
        }, function (error) {
            $('#TestuserAccount').css('color', 'red');
        });
    }

    function ResetUserStates() {
        var Account = $('#TestuserAccount').val();

        postData('/AutoCoupons/AjaxResetUserStates', 'Clear user states', { Account: Account, CriteriaId: CurrentCriteria.Id }, function (data, result) {
            alert('清除【' + Account + '】的UserState成功');
        });
    }

    function OpenCSharpEditor(CriteriaId) {
        FirstLoad = true;

        if (CurrentCriteria.Id != CriteriaId) {
            alert('error!');
            return;
        }

        getRemoteData('/AutoCoupons/AjaxGetModulesDropDownList', 'load modules dropdown', function (data, result) {
            $('#CodeEditorPopup_Module').kendoDropDownList({
                dataSource: data,
                dataTextField: 'Name',
                dataValueField: 'Id',
                value: CurrentCriteria.ModuleId,
                change: function() {
                    if (!FirstLoad) {
                        if (confirm('要放棄所有變更,並打開您選的模組？')) {
                            CurrentCriteria.ModuleId = GetKendo('CodeEditorPopup_Module').value();
                            LoadNewModule();
                        }                        
                    }                                        
                }
            });

            $('#CodeEditorPopup_Name').val(CurrentCriteria.ModuleName);
            equalWidth('.pop-c-inplbl');

            $('#Testusername').css('color', '');
            TestuserChanged();

            GetKendo('CodeEditor').center().open();

            $('#CodeEditorPopup_Code').text('');

            if (CurrentCodeEditor == null) {
                CurrentCodeEditor = CodeMirror.fromTextArea(document.getElementById("CodeEditorPopup_Code"), {
                    lineNumbers: true,
                    styleActiveLine: true,
                    matchBrackets: true,
                    autofocus: true
                });

                CurrentCodeEditor.setSize("115ch", "50ch");
            }

            FirstLoad = false;

            window.setTimeout(function () {
                CurrentCodeEditor.setValue(CurrentCriteria.CSharpCode);
                equalWidth('.pop-c-inplbl');

                if ((CurrentCriteria.ModuleId == null) || (CurrentCriteria.ModuleId <= 0))
                {
                    if ((GetKendo('CodeEditorPopup_Module').value() != null) && (GetKendo('CodeEditorPopup_Module').value() > 0)) {
                        CurrentCriteria.ModuleId = GetKendo('CodeEditorPopup_Module').value();
                        LoadNewModule();
                    }
                }
            }, 500);
        });
    }

    function CompileCheckCode(DoSave, CreateNewModule, ShowErrors, CloseAfterSuccess) {        
        var Code = CurrentCodeEditor.getValue();
        var ModuleName = $('#CodeEditorPopup_Name').val();

        if (CurrentTestUserId <= 0) {
            hideLoader();
            alert('請先輸入有效的帳號!');
            return;
                                    }

        if ((ModuleName == null) || (ModuleName == ''))
        {
            alert('名稱不能為空！');
            return;
        }

        if (DoSave)
        {
            if (CreateNewModule)
            {
                if (GetKendo('CodeEditorPopup_Module').text() == $('#CodeEditorPopup_Name').val()) {
                    alert('您選新增新的模組的話要先新增名稱！');
                    $('#CodeEditorPopup_Name').focus();
                    $('#CodeEditorPopup_Name').select();
                    return;
                }
            }
            else
            {
                if (!confirm('請注意！確定要保存變更。\n一旦保存後將會應用到所有使用此模組的規則！'))
                    return;
            }
        }

        showLoader();

        postData('/AutoCoupons/AjaxCheckCSharpModule', 'Check C# Code', { CriteriaId: CurrentCriteria.Id, ModuleCode: Code, ModuleName: ModuleName, ModuleId: CurrentCriteria.ModuleId, SaveOnSuccess: DoSave, CreateNewModule: CreateNewModule, TestuserUID: (CloseAfterSuccess ? 0 : CurrentTestUserId) }, function (data, result) {
            hideLoader();

            if (!data.Ok)
            {
                MaximaLogWindow.Show({
                    PopupId: 'CSharpModuleErrorsPopup',
                    Title: 'Errors occured while compiling this C# module',
                    ShowCaption: false,
                    ContentsUseHtml: true,
                    Contents: replaceAll(data.ErrorMessage, '\n', '<br/>'),
                    Css: {
                        'font-weight': 'bold',
                        color: 'brown'
                    }
                });

                return;
            }

            if (DoSave) {
                CurrentCriteria.ModuleId = data.ModuleId;
                CurrentCriteria.ModuleName = data.ModuleName;
                CurrentCriteria.CSharpCode = Code;
                $('#CodeEditorPopup_Name').text(data.ModuleName);
                $('#CriteriaEditorModuleName').text(data.ModuleName);
            }

            if (CloseAfterSuccess) {
                alert('請注意！您所編輯的C#代碼最慢在@(VmaBase.Shared.ConfigManager.CSharpModulesCacheExpiryTime.ToString())分鐘內完成更改。\n請記得狀態要先改【有效】！');

                GetKendo('CodeEditor').close();
                MaximaPageManager.Refresh();
            }
            else {
                console.log(data);
                MaximaLogWindow.Show({
                    PopupId: 'CSharpModuleOkPopup',
                    Title: 'C# code successfully compiled - Results',
                    ShowCaption: false,
                    ContentsUseHtml: true,
                    Contents: '<span style="color:green;">測試成功。</span><br/>' + (data.ReceivesCoupon ? '<span style="color:darkgreen">測試用的會員現在會收到 <span style="color:green">' + data.CouponsCount + '</span>個飲料卷</span>' : '<span style="color: black">測試用的會員現在不會收到飲料卷</span>') + '<br/><br/>',
                    Css: {
                        'font-weight': 'bold',
                        color: 'blue'
                    }
                });

                if ((data.Messages != null) && (data.Messages != ''))
                    MaximaLogWindow.AddLine('CSharpModuleOkPopup', data.Messages);
            }
        }, function (msg) {
            hideLoader();

            MaximaLogWindow.Show({
                PopupId: 'CSharpModuleErrorsPopup',
                Title: 'Errors occured while compiling this C# module',
                ShowCaption: false,
                ContentsUseHtml: true,
                Contents: replaceAll(msg, '\n', '<br/>'),
                Css: {
                    'font-weight': 'bold',
                    color: 'brown'
                }
            });
        }, true);
    }

    function LoadNewModule()
    {
        getRemoteData('/AutoCoupons/AjaxGetModuleCode?ModuleId=' + CurrentCriteria.ModuleId, 'load new module', function (data, result) {
            $('#CodeEditorPopup_Name').val(GetKendo('CodeEditorPopup_Module').text());
            CurrentCodeEditor.setValue(data);
        });
    }

    function charOccurances(str, char) {
        for (var c = 0, i = 0, len = str.length; i < len; ++i) {
            if (str[i] == char) {
                ++c;
            }
        }
        return c;
    }

    function InsertCode(CodeBlock, addNewLine) {
        var CurrentCursor = CurrentCodeEditor.getCursor();
        var NewCursor = { line: CurrentCursor.line, ch: CurrentCursor.ch + CodeBlock.length };
        var LineBreaks = 0;

        if (addNewLine) {
            CodeBlock += '\n';
            NewCursor = { line: CurrentCursor.line + 1, ch: 0 }

            if (CodeBlock.indexOf('\n') >= 0) {
                LineBreaks = charOccurances(CodeBlock, '\n');
                NewCursor.line = CurrentCursor.line + LineBreaks;
            }
        }

        CurrentCodeEditor.replaceRange(CodeBlock, CurrentCursor);
        CurrentCodeEditor.setCursor(NewCursor);
        CurrentCodeEditor.focus();
    }

    function InsertDebugMessageCode() {
        InsertCode('AutoCouponHelper.DebugMessage("");\n');
    }

    function InsertPushCode() {
        InsertCode('bool SendOk = AutoCouponHelper.SendPushNotification("Title", "Message");\n');
    }

    function OpenDescription(VariableName) {
        var Description = '';

        switch (VariableName) {
            case 'AssignCoupon':
                Description = '<span style="font-weight: bold">bool AssignCoupon</span>\n\nThis variable shall be set to "true" or "false" and will be used to determine wether the user matches the criteria for creating the coupon.\nIf the user shall receive the coupon please set this variable to "true",\nif the user shall NOT receive the bonus please set it to "false"!';
                break;

            case 'CriteriaId':
                Description = '<span style="font-weight: bold">long CriteriaId</span>\n\nThis variable contains the id of the coupon criteria to be checked.';
                break;

            case 'Criteria':
                Description = '<span style="font-weight: bold">AutoCoupon Event</span>\n\n' +
                    'Contains the coupon criteria (rule) record of the rule to check.\n\n' +
                    '<u>Properties:</u>\n' +
                    'long Id .................... Id of the rule/criteria\n' +
                    'string Name ................ Name of the criteria\n' +
                    'string CouponsTitle ........ Title for the created coupons to be shown in the app\n' +
                    'string CouponsSubTitle ..... second line (sub-line) for CouponsTitle\n' +
                    'long? UID .................. Id of the user this coupon criteria is bound for (if the criteria is only for one user, otherwise it will be null!)\n' +
                    'bool CouponsForAllProducts.. Flag, if the coupons created by this criteria will be valid for all products or not\n' +
                    'bool CouponsForAllMachines.. Flag, if the coupons created by this criteria will be valid for all machines or not\n' +
                    'DateTime LimitStartTime .... Date/time this auto-coupon rule is valid from\n' +
                    'DateTime LimitEndTime ...... Date/time this auto-coupon rule is valid to\n' +
                    'DateTime CreateTime ........ Date/time this event have been created at\n' +
                    'DateTime ModifyTime ........ Date/time this event last time has been modified at\n' +
                    'AutoCouponCriteriaStatus Status:\n' +
                    'The status of the event. One of the following enum values:\n' +
                    '  AutoCouponCriteriaStatus.Active\n' +
                    '  AutoCouponCriteriaStatus.TemporaryInactive\n' +
                    '  AutoCouponCriteriaStatus.ModuleInvalid\n' +
                    '  AutoCouponCriteriaStatus.Inactive\n' +
                    '  AutoCouponCriteriaStatus.Deleted\n';
                break;

            case 'UserDb':
                Description = '<span style="font-weight: bold">CasinoBonusEvent Event</span>\n\n' +
                    'DateTime .CreateTime.............................The registration date of the user\n' +
                    'Int .Gender.................................The Gender of the user 0 = male, 1 = Female\n' +
                    'Int .PointsTotal............................The total point of the 積分\n' +
                    'Int .StampsTotal............................The total stamps of the 印花\n';
                break;

            

            case 'AutoCouponHelper':
                Description = '<span style="font-weight: bold">AutoCouponHelper</span>\n\n' +
                    'A helper class for auto-coupon checker modules with the following methods:\n' +
                    '\n' +
                    '.DebugMessage(Message) ................. Writes a debug message that is shown in the admin after compiling and testing\n' +
                    '.GetUserLoginsCount(DateFrom, DateTo) .. Returns the logins count the user did in the given time range. The DateFrom/DateTo parameters are optional!\n' +
                    '.GetUserLastLoginTime() ................ Returns date+time the user did his last login at\n' +
                    '.GetAutoAssignmentsCount() ............. Returns the amount of auto-coupons that already have been assigned to this user for this criteria/rule\n' +
                    '.AlreadyAssigned() ..................... Returns a flag (true/false), wether or not an auto-coupon for this user already have been assigned for this criteria\n' +
                    '.SetCounter(CounterValue) .............. With this helper function you can set a counter for this user and this criteria/rule to the given value\n' +
                    '.IncreaseCounter(IncreaseByValue) ...... With this helper function you can increase a counter for this user and this criteria/rule by the given value\n' +
                    '.SetCustomSetting(Name, Value) ......... Sets a custom setting value for this user and this criteria/rule to the given value, which can be accessed by the name then\n' +
                    '.GetCustomSetting(Name) ................ Gets a custom setting value for this user and this criteria/rule, which may have been set before with SetCustomSetting()\n' +
                    '.RemoveCustomSetting(Name) ............. Removes the custom setting with the given name for this user and this criteria/rule.\n' +
                    '\n' +
                    '.UserState.Counter ..................... Gets/Sets the current counter value\n' +
                    '.UserState.DateValue ................... Gets/Sets a date value to store for this user/criteria\n' +
                    '.UserState.Blob ........................ Gets/Sets some date for this user/criteria. Note: this only can be used, if "SetCustomSetting" is not used or the length of all custom setting names + values do not exceed about 1800 characters! Otherwise "SetCustomSettings" will use this Blob-value for storing the custom settings!\n' +
                    '.UserState.DateValue ................... Gets/Sets a status for the user/criteria.\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;The following enum values can be used:\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoCouponUserStatus.Started  (Default)\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoCouponUserStatus.Completed\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoCouponUserStatus.Cancelled\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoCouponUserStatus.Blocked\n' +
                    '\n' +
                    '.SendPushNotification(Title, Msg, [ActionCode, ActionParam])\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;Sends a push notification to the user.\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;"Title" and "Msg" are required parameters and define the content of the push message.\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;ActionCode (int) and ActionParam (string) are optional.\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;With these parameters you can define a "PushAction" to be sent to the smartphone app,\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;which tells the VMA app to execute some action, if this push action code is implemented in the app.\n' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;Returns if sending the push notification was successful or not.'
                break;
        }

        MaximaLogWindow.Show({
            PopupId: 'VariableDescription' + VariableName,
            Title: VariableName,
            Width: 1000,
            ShowCaption: false,
            ContentsUseHtml: true,
            Contents: replaceAll(Description, '\n', '<br/>'),
            Css: {
                'font-weight': 'normal',
                'font-size': '11pt',
                color: 'blue'
            }
        });
    }
                                </script>

