﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;

<!--
    =======================
    Criteria Settings Popup
    =======================
-->

<script id="ParticipatingProductDropDownTemplate" type="text/x-kendo-template">
    #if(data.Status == 1){#
    <span>#:data.ProductDisplayName#</span>
    #} else {#
    <span style="color: gray;">#:data.ProductDisplayName#</span>
    #}#
</script>
<script id="ParticipatingMachineDropDownTemplate" type="text/x-kendo-template">
    #if(data.Status == 1){#
    <span>
        #:data.VendingMachineName#
        #if(data.AppStatus == 0){#
        &nbsp;(不顯示)
        #}#
    </span>
    #} else {#
    <span style="color: gray;">
        #:data.VendingMachineName#
        #if(data.AppStatus == 0){#
        &nbsp;(不顯示)
        #}#
    </span>
    #}#
</script>

@(Html.Kendo().Window().Name("CriteriaEditor").Title("編輯規則")
                            .Width(820).Height(830).Draggable(true)
                            .Content(
                            @<text>
                                <div class="maxtblpopup_header">
                                    <div class="maxtblpopup_headertext">
                                        <span id="CriteriaEditorHeaderText"></span>
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    &nbsp;
                                </div>
                                <div class="pop-stack-cell" style="padding-bottom: 5px;">
                                    <div class="pop-c-lbl">
                                        C#代碼 (模組):
                                    </div>
                                    <div class="pop-c-inp">
                                        <a class="c-link" href="javascript:void();" id="CriteriaEditorModuleLink"><span id="CriteriaEditorModuleName"></span></a>
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="pop-c-inplbl">
                                        飲料卷兌換結束日期:
                                    </div>
                                    <div class="pop-c-inp">
                                        @(Html.Kendo().DateTimePicker().Name("CriteriaEditorCouponsExpiryDate"))
                                    </div>
                                </div>
                                <div style="height: 530px; overflow-y: scroll; padding-top: 10px;">
                                    <div class="pop-stack-cell">
                                        <input type="radio" id="CriteriaEditorAllMachines" name="CriteriaEditorAllMachines" class="maxima-radio" value="1" onchange="AllMachinesFlagChanged()" />
                                        <label for="CriteriaEditorAllMachines">所有的販賣機</label>
                                        <input type="radio" id="CriteriaEditorChosenMachines" name="CriteriaEditorAllMachines" class="maxima-radio" value="0" style="margin-left: 5px;" onchange="AllMachinesFlagChanged()" />
                                        <label for="CriteriaEditorChosenMachines">選販賣機</label>
                                    </div>
                                    <div class="pop-stack-cell" style="clear: both;" id="divAddMachine">
                                        <div style="display: flex; height: 28pt; overflow: hidden; align-items: center;">
                                            <div style="display: flex; vertical-align: middle; width: 12ch;">
                                                販賣機:
                                            </div>
                                            <div style="display: flex; vertical-align: middle; text-align: left;">
                                                <input id="MachinesList" style="width: 250px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pop-stack-cell" id="divMachinesTable">
                                        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="ParticipatingMachinesTable" cellspacing="0" style="box-sizing: border-box; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">販賣機</th>
                                                    <th style="text-align: center;">地點</th>
                                                    <th style="text-align: left;"></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="pop-stack-cell">
                                        &nbsp;
                                    </div>
                                    <div class="pop-stack-cell">
                                        <input type="radio" id="CriteriaEditorAllProducts" name="CriteriaEditorAllProducts" class="maxima-radio" value="1" onchange="AllProductsFlagChanged()" />
                                        <label for="CriteriaEditorAllProducts">所有的產品</label>
                                        <input type="radio" id="CriteriaEditorChosenProducts" name="CriteriaEditorAllProducts" class="maxima-radio" value="0" style="margin-left: 5px;" onchange="AllProductsFlagChanged()" />
                                        <label for="CriteriaEditorChosenProducts">選產品</label>
                                    </div>
                                    <div class="pop-stack-cell" id="divAddProduct">
                                        <div style="display: flex; height: 28pt; overflow: hidden; align-items: center;">
                                            <div style="display: flex; vertical-align: middle; width: 12ch;">
                                                加產品:
                                            </div>
                                            <div style="display: flex; vertical-align: middle; text-align: left;">
                                                <input id="ProductsList" style="width: 250px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pop-activitycell" style="margin-bottom: 10px; font-size: 9pt;" id="divAddProductNote">
                                        Please note, that only products are shown which are <u>on the sales list</u> (no matter if currently available or not) of one of the machines you have added!
                                    </div>
                                    <div class="pop-activitycell" id="divProductsTable">
                                        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="ParticipatingProductsTable" cellspacing="0" style="box-sizing: border-box; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">產品</th>
                                                    <th style="text-align: center;">MerchandiseId</th>
                                                    <th style="text-align: center;">Volume</th>
                                                    <th style="text-align: center;">圖片</th>
                                                    <th style="text-align: left;"></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    <div class="pop-c-inplbl">
                                        狀態:
                                    </div>
                                    <div class="pop-c-inp">
                                        <input id="CriteriaEditorStatus" />
                                    </div>
                                </div>
                                <div class="pop-stack-cell">
                                    <span style="color: darkblue">此【啟用】設定: 飲料卷將於設定的發佈期間才開始發送。</span>
                                </div>
                                <div class="pop-buttonline" id="CriteriaEditorButtonsContainer">
                                    <div class="pop-button">
                                        @Html.Kendo().Button().Name("CriteriaEditorSaveButton").Icon("save").Content("保存").Events(itm => itm.Click("function() { SaveCriteriaDetails(); }"))
                                    </div>
                                    <div class="pop-button">
                                        @Html.Kendo().Button().Name("CriteriaEditorCancelButton").Icon("cancel").Content("取消").Events(itm => itm.Click("function() { GetKendo('CriteriaEditor').close(); }"))
                                    </div>
                                </div>
                            </text>).Visible(false))

                                <script type="text/javascript">
    var ParticipatingProductsTable = null;
    var ParticipatingMachinesDataTable = null;
    var ProductsChoiceListDataSource = null;
    var MachinesChoiceListDataSource = null;
    var CurrentCriteria = null;
    var OriginalStatus = null;

    var ParticipatingProductsTableDrawn = false;
    var ParticipatingMachinesDataTableDrawn = false;

    var CurrentProductsFilter = null;

    function kendoIsInitialized(ctrl) {
        if (((typeof ctrl.data('kendoNumericTextBox') != 'undefined') && (ctrl.data('kendoNumericTextBox') != null)) ||
            ((typeof ctrl.data('kendoDropDownList') != 'undefined') && (ctrl.data('kendoDropDownList') != null)) ||
            ((typeof ctrl.data('kendoAutoComplete') != 'undefined') && (ctrl.data('kendoAutoComplete') != null)) ||
            ((typeof ctrl.data('kendoDatePicker') != 'undefined') && (ctrl.data('kendoDatePicker') != null)) ||
            ((typeof ctrl.data('kendoDateTimePicker') != 'undefined') && (ctrl.data('kendoDateTimePicker') != null)) ||
            ((typeof ctrl.data('kendoTooltip') != 'undefined') && (ctrl.data('kendoTooltip') != null)))
            return true;
        else
            return false;
    }

    function kendoSetValue(ctrl, value) {
        var kendoControl = null;
        if (!kendoIsInitialized(ctrl)) {
            ctrl.val(value);
            return;
        }

        kendoControl = GetKendo(ctrl);
        kendoControl.value(value);
    }

    function OpenCriteriaEditor(CriteriaId) {
        showLoader();

        getRemoteData('/AutoCoupons/AjaxGetCriteriaDetails?CriteriaId=' + CriteriaId, 'load criteria details', function (data, result) {
            var ModuleName = (data.ModuleName != null && data.ModuleName != '') ? data.ModuleName : '還沒選或新增';
            CurrentCriteria = data;

            if (CriteriaId == 1)
            {
                OpenCSharpEditor(CriteriaId);
                return;
            }

            equalWidth('.pop-c-inplbl');

            if (CurrentCriteria.Machines == null)
                CurrentCriteria.Machines = [];
            if (CurrentCriteria.Products == null)
                CurrentCriteria.Products = [];

            $('#CriteriaEditorHeaderText').text(data.Name);
            $('#CriteriaEditorModuleName').text(ModuleName);
            $('#CriteriaEditorModuleLink').attr('href', 'javascript:OpenCSharpEditor(' + CriteriaId + ')');

            $('#CriteriaEditorAllMachines').prop('checked', CurrentCriteria.CouponsForAllMachines);
            $('#CriteriaEditorChosenMachines').prop('checked', (!CurrentCriteria.CouponsForAllMachines));
            AllMachinesFlagChanged();

            $('#CriteriaEditorAllProducts').prop('checked', CurrentCriteria.CouponsForAllProducts);
            $('#CriteriaEditorChosenProducts').prop('checked', (!CurrentCriteria.CouponsForAllProducts));
            AllProductsFlagChanged();

            KendoSetValue('CriteriaEditorCouponsExpiryDate', jsonDateToDate(data.CouponsExpiryDate));

            $('#CriteriaEditorStatus').kendoDropDownList({
                dataSource: [
                             { Name: '@(Utils.GetEnumDisplayName(typeof(AutoCouponCriteriaStatus), AutoCouponCriteriaStatus.Active.ToString()))', Value: @((int)AutoCouponCriteriaStatus.Active) },
                             { Name: '@(Utils.GetEnumDisplayName(typeof(AutoCouponCriteriaStatus), AutoCouponCriteriaStatus.Inactive.ToString()))', Value: @((int)AutoCouponCriteriaStatus.Inactive) }
                            ],
                dataValueField: 'Value',
                dataTextField: 'Name',
                value: (data.Status == @((int)AutoCouponCriteriaStatus.Active) ? 1 : 9),
                change: function (e) {
                    CurrentCriteria.Status = GetKendo('CriteriaEditorStatus').value();
                }
            });

            OriginalStatus = (data.Status == @((int)AutoCouponCriteriaStatus.Active) ? 1 : 9);

            $('#MachinesList').kendoDropDownList({
                template: $('#ParticipatingMachineDropDownTemplate').html(),
                dataSource: MachinesChoiceListDataSource,
                dataValueField: 'VendingMachineId',
                dataTextField: 'VendingMachineName',
                value: null,
                change: function (e) {
                    addParticipatingMachine();
                }
            });

            kendoSetValue($('#MachinesList'), null);

            // load machines
            loadMachinesDropDown();

            reLoadParticipatingMachinesDataTable();

            // set machines filter
            window.setTimeout(function() {
                var currentFilter = MachinesChoiceListDataSource.filter();
                currentFilter.filters = [];
                MachinesChoiceListDataSource.filter(currentFilter);

                for (var iNr = 0; iNr < CurrentCriteria.Machines.length; iNr++) {
                    disableInDropDownDataSource(MachinesChoiceListDataSource, 'VendingMachineId', CurrentCriteria.Machines[iNr].VendingMachineId);
                }

                // load products drop down
                loadProductsDropDown();

                // load products
                reLoadParticipatingProductsTable();

                RemoveAlreadyAddedProductsFromDropDown();
                equalWidth('.pop-c-inplbl');

                hideLoader();
            }, 400);
        });

        // open popup window
        if (CriteriaId != 1)
            GetKendo('CriteriaEditor').center().open();

        hideLoader();
    }

    function AllMachinesFlagChanged() {
        CurrentCriteria.CouponsForAllMachines = $('#CriteriaEditorAllMachines').prop('checked');

        if (CurrentCriteria.CouponsForAllMachines) {
            $('#divAddMachine').hide();
            $('#divMachinesTable').hide();
        }
        else {
            $('#divAddMachine').show();
            $('#divMachinesTable').show();
            reLoadParticipatingMachinesDataTable();
        }

        loadProductsDropDown();
    }

    function AllProductsFlagChanged() {
        CurrentCriteria.CouponsForAllProducts = $('#CriteriaEditorAllProducts').prop('checked');

        if (CurrentCriteria.CouponsForAllProducts) {
            $('#divAddProduct').hide();
            $('#divAddProductNote').hide();
            $('#divProductsTable').hide();
        }
        else {
            $('#divAddProduct').show();
            $('#divAddProductNote').show();
            $('#divProductsTable').show();
            reLoadParticipatingProductsTable();
        }
    }

    function loadMachinesDropDown() {
        /*
         * fill machine list dropdown
         * ---------------------------
         */
        if (MachinesChoiceListDataSource == null) {
            MachinesChoiceListDataSource = new kendo.data.DataSource(
                {
                    transport: {
                        read: {
                            url: '/News/AjaxGetMachineChoiceList',
                            dataType: 'json'
                        }
                    },
                    filter: {
                        logic: 'and',
                        filters: []
                    },
                    schema: {
                        data: 'Data',
                        model: {
                            fields: {

                            }
                        },
                        errors: function (response) {
                            var returnValue = getResult_ReturnValue(response);
                            var errorMsg = getResult_ErrorMessage(response);
                            if (returnValue != 0)
                                return errorMsg;
                            else {
                                if (response.Data != null)
                                    return '';
                                else
                                    return 'The Data property returned by the DropDown DataSource Ajax function is null! If there is no data please make sure that an "empty" object is returned!';
                            }
                        }
                    },
                    error: function (e) {
                        if ((typeof e != 'undefined') && (e != null) && (e != ''))
                            console.log('error for the Kendo UI DropDownList DataSource: ' + e.errorThrown);
                    }
                });
        }

        $('#MachinesList').kendoDropDownList({
            template: $('#ParticipatingMachineDropDownTemplate').html(),
            dataSource: MachinesChoiceListDataSource,
            dataValueField: 'VendingMachineId',
            dataTextField: 'VendingMachineName',
            value: null,
            change: function (e) {
                addParticipatingMachine();
            }
        });

        kendoSetValue($('#MachinesList'), null);
    }

    /*
     * loadProductsDropDown
     * --------------------
     */
    function loadProductsDropDown() {
        var VendingMachineIds = '';

        for (var iNr = 0; iNr < CurrentCriteria.Machines.length; iNr++) {
            VendingMachineIds += CurrentCriteria.Machines[iNr].VendingMachineId + ',';
        }

        ProductsChoiceListDataSource = new kendo.data.DataSource(
            {
                transport: {
                    read: {
                        url: '/News/AjaxGetProductChoiceList?VendingMachineIdsFilter=' + VendingMachineIds + '&ForAutoCoupons=true&AllMachines=' + (CurrentCriteria.CouponsForAllMachines ? "true" : "false"),
                        dataType: 'json'
                    }
                },
                filter: {
                    logic: 'and',
                    filters: []
                },
                schema: {
                    data: 'Data',
                    model: {
                        fields: {
                            Id: { type: 'number' },
                            ProductId: { type: 'number' },
                            ProductName: { type: 'string' },
                            InternalId: { type: 'number' },
                            MerchandiseId: { type: 'string' },
                            ProductName: { type: 'string' },
                            ProductImageUrl: { type: 'string' },
                            StampTypeId1: { type: 'number' },
                            StampType1Name: { type: 'string' },
                            StampType1ImageUrl: { type: 'string' },
                            Status: { type: 'number' }
                        }
                    },
                    errors: function (response) {
                        var returnValue = getResult_ReturnValue(response);
                        var errorMsg = getResult_ErrorMessage(response);
                        if (returnValue != 0)
                            return errorMsg;
                        else {
                            if (response.Data != null)
                                return '';
                            else
                                return 'The Data property returned by the DropDown DataSource Ajax function is null! If there is no data please make sure that an "empty" object is returned!';
                        }
                    }
                },
                error: function (e) {
                    if ((typeof e != 'undefined') && (e != null) && (e != ''))
                        console.log('error for the Kendo UI DropDownList DataSource: ' + e.errorThrown);
                }
            });

        if (!kendoIsInitialized($('#ProductsList'))) {
            $('#ProductsList').kendoAutoComplete({
                dataSource: ProductsChoiceListDataSource,
                filter: "contains",
                dataValueField: 'ProductId',
                dataTextField: 'ProductDisplayName',
                value: null,
                change: function (e) {
                    addParticipatingProduct();
                }
            });
        }
        else {
            // well .. kendoAutoComplete is having a different behavior than dropddowns and other controls regarding re-initializing a control..
            // dropdownlists just can be re-initialized without any further handling, no need to destroy them or check if they are already initialized.
            // buttons need to be destroyed when not used anymore, and can be re-initialized later "normally" then.
            // destroying autocomplete controls does not work.. after re-initialize it still will have a different behavior than the first load, will look strange and will not work
            // so for autocomplete controls the only way is to check wether there is already an instance of the control or not and to refresh the datasource then.
            // 3 different behaviors.. that's kendo....
            $('#ProductsList').data('kendoAutoComplete').setDataSource(ProductsChoiceListDataSource);
            $('#ProductsList').data('kendoAutoComplete').refresh();
        }

        kendoSetValue($('#ProductsList'), null);
    }

    /*
     * RemoveAlreadyAddedProductsFromDropDown
     * --------------------------------------
     */
    function RemoveAlreadyAddedProductsFromDropDown() {
        // set products filter
        CurrentProductsFilter = [
            { field: "StampTypeId1", operator: "gte", value: "1" }
        ];

        for (var iNr = 0; iNr < CurrentCriteria.Products.length; iNr++) {
            disableProductInDataSource('ProductId', CurrentCriteria.Products[iNr].ProductId);
        }

        UpdateProductsAutoCompleteFilter();
    }

    /*
     * updateProductListStates
     * -----------------------
     */
    function updateProductListStates() {
        $('.productdisplayname').each(function (index) {
            var element = $(this);
            var ProductItem = getParticipatingProductEntityById(element.data('id'));
            var AvailableAtStr = '';

            var AvailableAtAllMachines = true;
            var AvailableAtOneMachine = false;
            var VendingMachineIdsAvailable = ProductItem.VendingMachineIdsAvailable == null ? [] : ProductItem.VendingMachineIdsAvailable.split(',');

            for (var iMachine = 0; iMachine < CurrentCriteria.Machines.length; iMachine++) {
                var MachineId = CurrentCriteria.Machines[iMachine].VendingMachineId;
                var Available = false;

                for (var iAvailIndex = 0; iAvailIndex < VendingMachineIdsAvailable.length; iAvailIndex++) {
                    if (VendingMachineIdsAvailable[iAvailIndex] == MachineId) {
                        AvailableAtOneMachine = true;
                        Available = true;

                        AvailableAtStr = AvailableAtStr + CurrentCriteria.Machines[iMachine].VendingMachineName + ', ';
                    }
                }

                if (!Available)
                    AvailableAtAllMachines = false;
            }

            if (AvailableAtStr.endsWith(', '))
                AvailableAtStr = AvailableAtStr.substring(0, AvailableAtStr.length - 2);

            // set status in the HTML element
            element.removeClass('actprodstate_active');
            element.removeClass('actprodstate_partlyactive');
            element.removeClass('actprodstate_inactive');

            if (AvailableAtAllMachines) {
                element.addClass('actprodstate_active');
                element.attr('title', 'Available at all chosen machines');
            }
            else if (AvailableAtOneMachine) {
                element.addClass('actprodstate_partlyactive');
                element.attr('title', 'Available only at ' + AvailableAtStr);
            }
            else {
                element.addClass('actprodstate_inactive');
                element.attr('title', 'Currently not available at any of the chosen machines!');
            }
        });
    }

    /*
     * disableInDropDownDataSource
     * ---------------------------
     */
    function disableInDropDownDataSource(dataSource, idColumnName, idValue) {
        var iIndex = -1;
        var currentFilter = dataSource.filter();

        for (var iNr = 0; iNr < currentFilter.filters.length; iNr++) {
            if (currentFilter.filters[iNr].value == idValue) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex < 0) {
            currentFilter.filters.push({
                field: idColumnName,
                operator: 'neq',
                value: idValue
            });

            dataSource.filter(currentFilter);
        }
    }

    function disableProductInDataSource(idColumnName, idValue) {
        var iIndex = -1;

        for (var iNr = 0; iNr < CurrentProductsFilter.length; iNr++) {
            if (CurrentProductsFilter[iNr].value == idValue) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex < 0) {
            CurrentProductsFilter.push({
                field: idColumnName,
                operator: 'neq',
                value: idValue
            });
        }
    }

    /*
     * enableInDropDownDataSource
     * --------------------------
     */
    function enableInDropDownDataSource(dataSource, idColumnName, idValue, useSeparatedFilter) {
        var iIndex = -1;
        var currentFilter = dataSource.filter();

        for (var iNr = 0; iNr < currentFilter.filters.length; iNr++) {
            if (currentFilter.filters[iNr].value == idValue) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex >= 0) {
            currentFilter.filters.splice(iIndex, 1);
            dataSource.filter(currentFilter);
        }
    }

    function enableProductInDataSource(idColumnName, idValue) {
        var iIndex = -1;

        for (var iNr = 0; iNr < CurrentProductsFilter.length; iNr++) {
            if (CurrentProductsFilter[iNr].value == idValue) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex >= 0) {
            CurrentProductsFilter.splice(iIndex, 1);
        }
    }

    /*
     * UpdateProductsAutoCompleteFilter
     * --------------------------------
     * because the kendoAutoComplete control seems not to be designed for having additional filters (they like to design their controls in a quite inflexible way..)
     * we need to "trick" a bit and update the data source filter while taking care about keeping the autocomplete-text-filter the kendoAutoComplete control is using.
     * (Also in their documentation not any word about how to add extra filters..)
     */
    function UpdateProductsAutoCompleteFilter() {
        var currentFilter = ProductsChoiceListDataSource.filter();
        var filtersToRemove = [];

        // check which filters are our extra filters..
        for (var iNr = 0; iNr < currentFilter.filters.length; iNr++) {
            if ((currentFilter.filters[iNr].field == 'ProductId') || (currentFilter.filters[iNr].field == 'StampTypeId1'))
                filtersToRemove.push(iNr);
            if ((typeof currentFilter.filters != 'undefined') && (currentFilter.filters != null))
                filtersToRemove.push(iNr);
        }

        // remove them first..
        for (var iNr = filtersToRemove.length - 1; iNr >= 0; iNr--) {
            currentFilter.filters.splice(filtersToRemove[iNr], 1);
        }

        // and replace them by the new filters..
        for (var iNr = 0; iNr < CurrentProductsFilter.length; iNr++) {
            currentFilter.filters.push(CurrentProductsFilter[iNr]);
        }

        ProductsChoiceListDataSource.filter(currentFilter);
    }

    /*
     * ======================
     * participating PRODUCTS
     * ======================
     */

    function reLoadParticipatingProductsTable() {
        ParticipatingProductsTableDrawn = false;

        ParticipatingProductsTable = DataTableWrapper('#ParticipatingProductsTable', CurrentCriteria.Products, {
            columns: [
                {
                    data: 'ProductName',
                    width: '33%',
                    render: function (data, type, full, meta) {
                        return "<span class='productdisplayname' data-productid='" + full.ProductId + "' data-id='" + full.ProductId + "'>" + escapeHtml(data) + "</span>";
                    }
                },
                {
                    data: 'MerchandiseId',
                    width: '15%',
                    render: function (data, type, full, meta) {
                        return "<span title='ProductId " + full.ProductId + "'>" + data + "</span>";
                    }
                },
                {
                    data: 'Volume',
                    width: '9%'
                },
                {
                    data: 'ProductImageUrl',
                    render: function (data, type, full, meta) {
                        return "<img src='" + full.ProductImageUrl + "' onclick='showImagePopup(this);' height='40' id='prodimg" + full.ProductId + "'>";
                    },
                    width: '14%'
                },
                {
                    data: 'Id',
                    width: '5%',
                    render: function (data, type, full, meta) {
                        return '<a class="c-icon c-icon--main u-opacity-50p u-color-omitted" href="javascript:removeParticipatingProduct(' + full.ProductId + ');">delete</a>';
                    }
                }
            ],
            ondraw: function (e) {
                ParticipatingProductsTableDrawn = true;
                updateProductListStates();
            },
            ordering: false
        });
    }

    function getParticipatingProductEntityById(partprodid) {
        for (var iNr = 0; iNr < CurrentCriteria.Products.length; iNr++) {
            if (CurrentCriteria.Products[iNr].ProductId == partprodid)
                return CurrentCriteria.Products[iNr];
        }

        return null;
    }

    function getProductById(productid) {
        var productslist = ProductsChoiceListDataSource.data();

        if (productslist.length > 0) {
            for (var iNr = 0; iNr < productslist.length; iNr++) {
                if (productslist[iNr].ProductId == productid)
                    return productslist[iNr];
            }
        }

        return null;
    }

    function addParticipatingProduct() {
        var selectedProduct = $('#ProductsList').data('kendoAutoComplete').dataItem();

        // get a new id
        var newDummyId = -1;
        for (var iNr = 0; iNr < CurrentCriteria.Products.length; iNr++) {
            if (CurrentCriteria.Products[iNr].Id <= newDummyId)
                newDummyId = CurrentCriteria.Products[iNr].Id - 1;
            if (CurrentCriteria.Products[iNr].ProductId == selectedProduct.ProductId) {
                alert('This product already has been added to the list！');
                return;
            }
        }

        var newProduct = {
            Id: newDummyId,
            InternalId: selectedProduct.InternalId,
            MerchandiseId: selectedProduct.MerchandiseId,
            ProductId: selectedProduct.ProductId,
            ProductName: selectedProduct.ProductName,
            ProductDisplayName: selectedProduct.ProductDisplayName,
            ProductImageUrl: selectedProduct.ProductImageUrl,
            StampTypeId1: selectedProduct.StampTypeId1,
            StampType1ImageUrl: selectedProduct.StampType1ImageUrl,
            StampType1Name: selectedProduct.StampType1Name,
            Volume: selectedProduct.Volume,
            Status: (selectedProduct.Status == 1 ? 1 : 9)
        };

        CurrentCriteria.Products.push(newProduct);
        reLoadParticipatingProductsTable();

        disableProductInDataSource('ProductId', selectedProduct.ProductId);
        UpdateProductsAutoCompleteFilter();

        kendoSetValue($('#ProductsList'), null);

        updateProductListStates();
    }

    function removeParticipatingProduct(id) {
        var iIndex = -1;
        for (var iNr = 0; iNr < CurrentCriteria.Products.length; iNr++) {
            if (CurrentCriteria.Products[iNr].ProductId == id) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex >= 0) {
            var ProductId = CurrentCriteria.Products[iIndex].ProductId;

            CurrentCriteria.Products.splice(iIndex, 1);
            reLoadParticipatingProductsTable();
            enableProductInDataSource('ProductId', ProductId);
        }
        else
            console.log('Can not find a participating product with the id ' + id);

        UpdateProductsAutoCompleteFilter();
    }

    /*
     * ======================
     * participating MACHINES
     * ======================
     */

    function reLoadParticipatingMachinesDataTable() {
        ParticipatingMachinesDataTableDrawn = false;

        ParticipatingMachinesDataTable = DataTableWrapper('#ParticipatingMachinesTable', CurrentCriteria.Machines, {
            columns: [
                {
                    data: 'VendingMachineName',
                    render: function (data, type, full, meta) {
                        var html = '';

                        if (full.AppStatus == 0)
                            html = data + ' (不顯示)';
                        else
                            html = data;

                        html = '<span title="' + full.MOCCPAssetNo + '">' + html + '</span>';
                        return html;
                    }
                },
                {
                    data: 'VendingMachineLocation'
                },
                {
                    data: 'Id',
                    render: function (data, type, full, meta) {
                        return '<a class="c-icon c-icon--main u-opacity-50p u-color-omitted" href="javascript:removeParticipatingMachine(' + full.Id + ');">delete</a>';
                    }
                }
            ],
            ondraw: function (e) {
                ParticipatingMachinesDataTableDrawn = true;
            },
            ordering: false
        });
    }

    function getParticipatingMachineEntityById(partmachineid) {
        for (var iNr = 0; iNr < CurrentCriteria.Machines.length; iNr++) {
            if (CurrentCriteria.Machines[iNr].Id == partmachineid)
                return CurrentCriteria.Machines[iNr];
        }

        return null;
    }

    function getMachineById(machineid) {
        var machineslist = MachinesChoiceListDataSource.data();

        if (machineslist.length > 0) {
            for (var iNr = 0; iNr < machineslist.length; iNr++) {
                if (machineslist[iNr].VendingMachineId == machineid)
                    return machineslist[iNr];
            }
        }

        return null;
    }

    function addParticipatingMachine() {
        var selectedMachine = $('#MachinesList').data('kendoDropDownList').dataItem();

        // get a new id
        var newDummyId = -1;
        for (var iNr = 0; iNr < CurrentCriteria.Machines.length; iNr++) {
            if (CurrentCriteria.Machines[iNr].Id <= newDummyId)
                newDummyId = CurrentCriteria.Machines[iNr].Id - 1;
        }

        var newMachine = {
            Id: newDummyId,
            VendingMachineId: selectedMachine.VendingMachineId,
            VendingMachineName: selectedMachine.VendingMachineName,
            VendingMachineLocation: selectedMachine.VendingMachineLocation,
            MOCCPAssetNo: selectedMachine.MOCCPAssetNo,
            AppStatus: selectedMachine.AppStatus,
            Status: (selectedMachine.Status == 1 ? 1 : 9)
        };

        CurrentCriteria.Machines.push(newMachine);
        reLoadParticipatingMachinesDataTable();

        disableInDropDownDataSource(MachinesChoiceListDataSource, 'VendingMachineId', selectedMachine.VendingMachineId);
        kendoSetValue($('#MachinesList'), null);

        loadProductsDropDown();
        RemoveAlreadyAddedProductsFromDropDown();

        updateProductListStates();
    }

    function removeParticipatingMachine(id) {
        var iIndex = -1;
        for (var iNr = 0; iNr < CurrentCriteria.Machines.length; iNr++) {
            if (CurrentCriteria.Machines[iNr].Id == id) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex >= 0) {
            var MachineId = CurrentCriteria.Machines[iIndex].VendingMachineId;

            CurrentCriteria.Machines.splice(iIndex, 1);
            reLoadParticipatingMachinesDataTable();
            enableInDropDownDataSource(MachinesChoiceListDataSource, 'VendingMachineId', MachineId);
        }
        else
            console.log('Can not find a participating vending machine with the id ' + id);

        loadProductsDropDown();
        RemoveAlreadyAddedProductsFromDropDown();

        updateProductListStates();
    }

    function SaveCriteriaDetails() {
        var ExpiryDate = GetKendo('CriteriaEditorCouponsExpiryDate').value();
        if (ExpiryDate != null)
            ExpiryDate = DateTimeToJson(ExpiryDate);

        CurrentCriteria.CouponsExpiryDate = ExpiryDate;

        postData('/AutoCoupons/AjaxSaveCriteriaDetails', 'Save Criteria Details', {
            CriteriaId: CurrentCriteria.Id,
            Status: CurrentCriteria.Status,
            CouponsForAllProducts: CurrentCriteria.CouponsForAllProducts,
            CouponsForAllMachines: CurrentCriteria.CouponsForAllMachines,
            CouponsExpiryDate: ExpiryDate,
            Products: CurrentCriteria.Products,
            Machines: CurrentCriteria.Machines
        }, function () {
            GetKendo('CriteriaEditor').close();

            if (GetKendo('CriteriaEditorStatus').value() != OriginalStatus)
                MaximaPageManager.Refresh();
        });
    }
</script>
