﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    ViewBag.UseCodeEditor = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="AutoCouponCriteriasTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center; display: none;" data-property="Id" data-visible="no">Id</th>
                    <th style="text-align: center;" data-property="Name" data-column-width="0%" data-edit="1" data-edit-type="text">名稱</th>
                    <th style="text-align: center;" data-property="ModuleName" data-column-width="0%" data-edit="0">模組</th>
                    <th style="text-align: center;" data-property="LimitStartTime" data-column-width="0%" data-edit="1" data-edit-type="datetimepicker">發佈從</th>
                    <th style="text-align: center;" data-property="LimitEndTime" data-column-width="0%" data-edit="1" data-edit-type="datetimepicker">發佈到</th>
                    <th style="text-align: center;" data-property="CouponsIssued" data-column-width="0%" data-edit="0" data-format="integer">發送的飲料卷數</th>
                    <th style="text-align: center;" data-property="CouponsLimit" data-column-width="0%" data-edit="1" data-edit-type="text" data-edit-width="12ch" data-edit-maxlength="8">發送限制</th>
                    <th style="text-align: center;" data-property="CouponsTitle" data-edit="1" data-edit-type="text">活動標題</th>
                    <th style="text-align: center;" data-property="CouponsSubTitle" data-edit="1" data-edit-type="textpopup" data-truncate="15" data-suffix="..">推廣說明</th>
                    <th style="text-align: center;" data-property="StatusDisplayText" data-edit="0">狀態</th>
                    <th style="text-align: center;" data-property="Status" data-visible="false" data-edit="1" data-edit-width="15ch" data-edit-type="dropdown" data-edit-listvalues="@(Utils.GetDropDownListValuesFromEnum(typeof(AutoCouponCriteriaStatus)))">狀態</th>
                    <th style="text-align: center;" data-property="UID" data-edit="0" data-onrender="RenderButtonsColumn"></th>
                </tr>
            </thead>
        </table>
    </script>

    <script type="text/template" id="CustomFilterTemplate">
        <div>

        </div>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
    <script>
        addContextButton('ctxAddNew', 'add_circle', 'javascript:addNewCriteria();', '新增新的規則');

        loadCriterias();

        refreshLoginTicket();
    </script>
</text>)

<script type="text/javascript">
    function loadCriterias(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/AutoCoupons/AjaxGetList",
            GetPropertyUrl: "/AutoCoupons/AjaxGetProperty",
            SavePropertyUrl: "/AutoCoupons/AjaxSaveProperty",
            CanDelete: true,

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: false,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: 'Status',
            InitialFilter: {
            },
            FilterDirectMode: true,

            DataTableItemTemplateId: 'AutoCouponCriteriasTableTemplate',
            ItemsPerPage: 15
        });
    }

    function addNewCriteria() {
        if (confirm('新增新的規則?')) {
            postData('/AutoCoupons/AjaxCreateNewCriteria', 'Create new criteria', null, function (data, result) {
                MaximaPageManager.Refresh();
            });
        }
    }

    function RenderButtonsColumn(eventArgs) {
        var html = '';
        //if (!eventArgs.ColumnValues['IsReadOnly'])
        html += '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="OpenCriteriaEditor(' + eventArgs.Id + ');" class="c-icon c-icon--main u-opacity-70p" style="float:left;"><img src="/images/page_edit.png" width="20" height="20" style="float:left;" title="編輯規則"></a></div>';

        eventArgs.Html = html;
    }
</script>

@Html.Partial("~/Views/AutoCoupons/AutoCouponsDetailsEditorPopup.cshtml")
@Html.Partial("~/Views/AutoCoupons/AutoCouponsCSharpEditorPopup.cshtml")
