﻿@using VmaAdmin.Shared;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="StampTypesTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center; display: none;" data-property="Id" data-visible="no">Id</th>                    
                    <th style="text-align: center;" data-property="ImageUrl" data-edit="1" data-edit-type="image" data-image-width="96" data-image-height="94" data-edit-imageupload-filenamemask="stamptype_##property:Number[2]##.png" data-edit-imageupload-maxwidth="150" data-edit-imageupload-maxheight="150">圖片</th>
                    <th style="text-align: center;" data-property="Number" data-format="integer">印花號碼</th>
                    <th style="text-align: center;" data-property="Name" data-edit="1" data-edit-type="text" data-edit-maxlength="40">名字</th>
                    <th style="text-align: center;" data-property="Status" data-edit="1" data-edit-type="enabledisable" data-edit-width="15ch" data-onoff-quickmode="true">Status</th>
                    <th style="text-align: center;" data-property="DateCreated" data-format="date">Creation Date</th>
                </tr>
            </thead>
        </table>
    </script>

    <script type="text/template" id="CustomFilterTemplate">
        <div>

        </div>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            addContextButton('ctxAddNew', 'add_circle', 'javascript:addNewStampType();', '新增印花');

            loadStampTypes();

            refreshLoginTicket();
        </script>
</text>)

<script type="text/javascript">
    function loadStampTypes(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/Stamps/AjaxGetList",
            GetPropertyUrl: "/Stamps/AjaxGetProperty",
            SavePropertyUrl: "/Stamps/AjaxSaveProperty",
            CanDelete: true,

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: false,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            DataTableItemTemplateId: 'StampTypesTableTemplate',
            ItemsPerPage: 25,
        });
    }

    function addNewStampType() {
        if (confirm('新增新印花?')) {
            postData('/Stamps/AjaxCreateStampType', 'Create new stamp type', null, function (data, result) {
                MaximaPageManager.Refresh();
            });
        }
    }
</script>

