﻿@using VmaBase.Shared
@using VmaBase.Models.Enum;
@using VmaAdmin.Shared
@using MaximaWeb.Shared
@{
    ViewBag.Title = "新聞";
}

@section Templates {
    <script type="text/template" id="newstickerTemplate">
        <div class="o-grid__cell ##gridcellclass## newsticker-cell kendo-draggable kendo-dropable ##statusclass##" id="##id##" data-draggable-nr="##elenr##" data-newsid="##newsid##" data-status="##newsstatus##">
            <div class="c-portlet u-bg-light u-shadow-mini">
                <div class="c-portlet__header o-stack o-stack--center o-stack--splitted u-border-bottom u-px-small u-py-mini">
                    <div class="o-stack__cell">
                        <h5 name="newsticker_title">##title##</h5>
                    </div>
                    <div class="o-stack__cell">
                        <div class="o-stack o-stack--center o-stack--nowrap o-stack--tinyGap u-font-small">
                            <div class="o-stack__cell u-relative"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="javascript:openNewsPicker(0);">add</a></div>
                            <div class="o-stack__cell u-relative">
                                <div class="fn-dropdownTrigger"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="#">settings</a></div>
                                <ul class="c-menu c-menu--dropdown u-r-none">
                                    <li class="c-menu__item">
                                        <a class="c-menu__link" href="javascript:changeBanner(##newsid##);">
                                            <span class="c-menu__text">編輯輪播照片</span>
                                        </a>
                                    </li>
                                    <li class="c-menu__item">
                                        <a class="c-menu__link" href="javascript:openNewsPicker(##newsid##);">
                                            <span class="c-menu__text">選擇新聞</span>
                                        </a>
                                    </li>
                                    <li class="c-menu__item">
                                        <a class="c-menu__link" href="javascript:toggleEnable(##newsid##);">
                                            <span class="c-menu__text" id="mnuitm_togglestatus_text">##enable_disable_text##</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="o-stack__cell u-relative"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="javascript:deleteBanner(##newsid##);">delete</a></div>
                        </div>
                    </div>
                </div>
                <div class="c-portlet__content">
                    <div>
                        <div class="adm_banner_img">
                            <img src="##bannerimage_url##" id="bannerimage##newsid##" class="bannerimage" onclick="changeBanner(##newsid##);" />
                        </div>
                        <div class="adm_banner_link" style="padding-left: 10px; padding-right: 10px;">
                            <a href="javascript:openNews(##newsid##);" class="c-link">##news_title##</a>
                        </div>
                    </div>
                    <div class="mdm-sc-statusline">
                        <div id="cell_news_status" class="status_##statuscolor##" style="cursor: pointer;" onmousedown="changeStatusModularBegin(##newsid##)" onmouseup="changeStatusModularEnd(##newsid##)" onmouseout="changeStatusModularEnd(##newsid##)">
                            ##statustext##
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
}

@section PageScripts {
<script>
    var TickersCount = 0;
    var TickersEnabledCount = 0;
    var newsPickerDataTable = null;
    var draggableDropped = false;

    function openNews(newsId)
    {

    }
</script>

<!-- Banner Upload
     =============
-->

<div id="BannerUploadPopup" class="bannerpopup k-popup" style="display: none;">
    <div id="UploadContainer" class="bannerupload">
        <input name="file" type="file" id="bannerfile" class="k-button" />
        <input type="button" value="上傳" class="k-button k-primary" id="bannerupload" />
    </div>
    <div class="bannerpreview_header">
        預覽:
    </div>
    <div class="bannerpreview">
        <img id="banneruploadimage" class="bannerpreviewimg" />
    </div>
    <div class="popupbuttons" id="FilterButtonsContainer">
        <div class="popupbutton">
            <button type="button" name="save" id="BannerOkButton">儲存</button>
        </div>
        <div class="popupbutton">
            <button type="button" name="cancel" id="BannerCancelButton">取消</button>
        </div>
    </div>
</div>

<script>
    var ImageUploaded = false;

    function changeBanner(newsId)
    {
        ImageUploaded = false;
        $('#banneruploadimage').attr('src', '');

        // banner upload popup - open popup window
        $('#BannerUploadPopup').kendoWindow({
            width: '800px',
            height: '600px',
            title: 'Banner Upload',
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#BannerOkButton').data('kendoButton') != 'undefined')
                    $('#BannerOkButton').data('kendoButton').destroy();
                if (typeof $('#BannerUploadPopup').data('kendoUpload') != 'undefined')
                    $('#BannerUploadPopup').data('kendoUpload').destroy();
            }
        }).data('kendoWindow').center().open();

        // banner upload popup - check file
        $('#bannerfile').on('change', function () {
            var file = this.files[0];
            if (file.size > (5 * (1024 * 1024))) {
                alert('The file can not be bigger than 5 MB!');
            }
        });

        // banner upload popup - upload
        $('#bannerupload').on('click', function () {
            uploadFile('bannerfile', '/News/AjaxUploadTickerBanner?newsId=' + newsId, onBannerUploadProgress,
                function () {
                    ImageUploaded = true;

                    $('#banneruploadimage').attr('src', '');
                    $('#banneruploadimage').attr('src', '/News/AjaxGetUploadedBanner?newsId=' + newsId + '&refreshToken=' + (((new Date()) * 10000)));
                });
        });

        // banner upload popup - ok button
        $('#BannerOkButton').kendoButton({
            icon: 'check',
            click: function (e) {
                if (ImageUploaded) {
                    postData('/News/AjaxSaveTickerBanner?newsId=' + newsId, 'Save Uploaded Image', { newsId: newsId }, function (data) {
                        $('#BannerUploadPopup').data('kendoWindow').close();

                        $('#bannerimage' + newsId).attr('src', data + "?v=" + (((new Date()) * 10000)));
                    });
                }
                else
                    alert('Please upload an image first!');
            }
        });

        // banner upload popup - cancel button
        $('#BannerCancelButton').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#BannerUploadPopup').data('kendoWindow').close();
            }
        });
    }

    function onBannerUploadProgress(e)
    {

    }
</script>

<!-- News Picker Popup
     =================
-->

<div id="NewsPickerPopup" class="newspickerpopup k-popup" style="display:none;">
    <div class="newspickerlist">
        <table id="newspickertable"></table>
    </div>
    <div class="popupbuttons" id="FilterButtonsContainer">
        <div class="popupbutton">
            <button type="button" name="ok" id="NewsPickerOkButton">Close</button>
        </div>
    </div>
</div>

<script type="text/template" id="newspickertbltmpl">
    <thead>
        <tr>
            <th>
                日期
            </th>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
</script>

<script>
    function openNewsPicker(currentNewsId)
    {
        if (newsPickerDataTable != null)
            newsPickerDataTable.destroy();
        newsPickerDataTable = null;

        $('#newspickertable').empty();
        $('#newspickertable').append($('#newspickertbltmpl').html());

        // news picker popup - open popup window
        $('#NewsPickerPopup').kendoWindow({
            width: '1200px',
            height: '800px',
            title: 'News Picker',
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#NewsPickerOkButton').data('kendoButton') != 'undefined')
                    $('#NewsPickerOkButton').data('kendoButton').destroy();
            }
        }).data('kendoWindow').center().open();

        // news picker popup - ok button
        $('#NewsPickerOkButton').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#NewsPickerPopup').data('kendoWindow').close();
            }
        });

        // news picker popup - load data table
        getRemoteData('/News/AjaxGetNewsList?MaxItems=200&IncludeNewsInTickerList=false', 'News-Picker-List', function (data) {
            newsPickerDataTable = $('#newspickertable').DataTable({
                data: data,
                columns: [
                    {
                        data: "CreateTime",
                        render: function(data, type, full, meta)
                        {
                            return '<a class="c-link" href="javascript:pickNews(' + full.Id + ', ' + currentNewsId + ', \'' + full.Title + '\');">' + jsonDateToDateTimeString(data) + '</a>';
                        }
                    },
                    {
                        data: "Title",
                        render: function(data, type, full, meta)
                        {
                            return '<a class="c-link" href="javascript:pickNews(' + full.Id + ', ' + currentNewsId + ', \'' + full.Title + '\');">' + data + '</a>';
                        }
                    },
                    { data: "CategoryName" }
                ],
                language: {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "lengthMenu": "顯示 _MENU_ 項結果",
                    "zeroRecords": "沒有符合的結果",
                    "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                    "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                    "infoFiltered": "(從 _MAX_ 項結果中過濾)",
                    "infoPostFix": "",
                    "search": "搜尋:",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "«",
                        "next": "»",
                        "last": "最後一頁"
                    },
                    "aria": {
                        "sortAscending": ": 升冪排列",
                        "sortDescending": ": 降冪排列"
                    }
                },
                //dom: "lfrti", // defines what UI elements to show on the datatable
                deferRender: false,
                scroller: true,
                scrollCollapse: true,
                filter: true,
                ordering: false,
                pageLength: 25,
                colReorder: true
            });
        });
    }

    function pickNews(newsIdPicked, newsIdToChange, newsTitle)
    {
        console.log('news id picked: ' + newsIdPicked);
        var confirmed = false;
        var gridCell = $("#GridCellsContainer").find("[data-newsid='" + newsIdToChange + "']");
        var elenr = gridCell.data('draggable-nr');
        var gridCellNext = $("#GridCellsContainer").find("[data-draggable-nr=" + (elenr + 1) + "]");

        if (newsIdToChange > 0)
            confirmed = confirm('下方新聞將會取代原本的內容:\n' + newsTitle);
        else
            confirmed = confirm('將新增下方新聞到輪播:\n' + newsTitle);

        if (confirmed)
        {
            $('#NewsPickerPopup').data('kendoWindow').close();
            showLoader();

            if (newsIdToChange > 0)
            {
                // change existing one
                postData('/News/AjaxChangeNewsTickerNews', '編輯新聞輪播', { NewsIdOld: newsIdToChange, NewsIdNew: newsIdPicked }, function (data) {
                    gridCell.remove();

                    var insertBefore = '';
                    if (gridCellNext != null)
                        insertBefore = gridCellNext.attr('id');

                    var enabled = data.Status == @((int)NewsTickerStatus.Online);

                    AddMasonryInlet('newstickerTemplate', insertBefore, 'newsticker' + (elenr - 1),
                             '新聞輪播 <span class="news_elenr">' + elenr + '</span>號',
                             'newsid: ' + data.NewsId,
                             'bannerimage_url: ' + data.BannerImageUrl,
                             'news_title: ' + data.Title,
                             'left_display: block',
                             'right_display: none',
                             'enable_disable_text: ' + (enabled ? '關閉輪播' : '啟動輪播'),
                             'newsstatus: ' + data.Status,
                             'elenr: ' + elenr,
                             'statusclass: ',
                             'statuscolor: ' + (enabled ? 'green' : 'gray'),
                             'statustext: ' + (enabled ? 'Online' : 'Offline'));

                    applyTriggers();
                    adjustLayoutAfterImagesLoaded(".adm_banner_img > img");
                });
            }
            else
            {
                console.log('adding news id: ' + newsIdPicked);
                // add new one
                postData('/News/AjaxAddNewsTicker', '新增新聞輪播', { NewsId: newsIdPicked }, function (data) {
                    TickersCount++;
                    TickersEnabledCount++;

                    var insertBefore = '';
                    if (TickersCount != TickersEnabledCount)
                        insertBefore = 'newsticker' + (TickersEnabledCount - 1);

                    AddMasonryInlet('newstickerTemplate', insertBefore, 'newsticker' + (TickersCount - 1),
                             '新聞輪播 <span class="news_elenr">' + TickersCount + '</span>號',
                             'newsid: ' + data.NewsId,
                             'bannerimage_url: ' + data.BannerImageUrl,
                             'news_title: ' + data.Title,
                             'left_display: block',
                             'right_display: none',
                             'enable_disable_text: 關閉輪播',
                             'newsstatus: @((int)NewsTickerStatus.Online)',
                             'elenr: ' + TickersCount,
                             'statusclass: ',
                             'statuscolor: green',
                             'statustext: Online');

                    getRemoteData('/News/AjaxGetTickerList?AlsoOffline=true', 'News-Ticker', function (data) {
                        reorderBannerNumbers(data);
                        adjustLayoutAfterImagesLoaded(".adm_banner_img > img");
                    });
                });
            }
        }
    }
</script>

<!--
    Ticker Position
    ---------------
-->

<script>
    function changeTickerPosition(newstickercell_id, newsId, currentPosition, newPosition, droptargetcell_id)
    {
        showLoader('rearranging');

        postData('/News/AjaxNewsTickerChangeOrder', 'Change News-Ticker Order', { NewsId: newsId, NewBannerOrder: newPosition }, function (data) {
            var newsTickerList = data;

            // first remove old ticker
            $('#' + newstickercell_id).remove();

            // find the current changed news in the new news list
            var newsEntry = null;
            for(var iNr = 0; iNr < newsTickerList.length; iNr++)
            {
                if (newsTickerList[iNr].NewsId == newsId)
                    newsEntry = newsTickerList[iNr];
            }

            // now insert the ticker at the changed position
            var insertBefore = '';
            var enabled = newsEntry.Status == @((int) NewsTickerStatus.Online);
            if (newPosition != TickersCount)
                insertBefore = droptargetcell_id;

            AddMasonryInlet('newstickerTemplate', insertBefore, 'newsticker' + (newPosition - 1),
                         '新聞輪播 <span class="news_elenr">' + newPosition + '</span>號',
                         'newsid: ' + newsEntry.NewsId,
                         'bannerimage_url: ' + newsEntry.BannerImageUrl,
                         'news_title: ' + newsEntry.Title,
                         'left_display: ' + (newPosition == 1 ? 'none' : 'block'),
                         'right_display: ' + (newPosition == TickersEnabledCount ? 'none' : 'block'),
                         'enable_disable_text: ' + (enabled ? '關閉輪播' : '啟動輪播'),
                         'newsstatus: ' + newsEntry.Status,
                         'elenr: ' + newPosition,
                         'statusclass: ' + (enabled ? '' : 'ticker_disabled'),
                         'statuscolor: ' + (enabled ? 'green' : 'gray'),
                         'statustext: ' + (enabled ? 'Online' : 'Offline'));

            // renumber the elements
            reorderBannerNumbers(newsTickerList);
            adjustLayout();
            hideLoader();
        });
    }
</script>

<!--
    Ticker Delete
    -------------
-->

<script>
    function deleteBanner(newsId)
    {
        var gridCell = $("#GridCellsContainer").find("[data-newsid='" + newsId + "']");
        gridCell.find('.c-portlet').css('border', '3px solid red');

        if (confirm('This will delete this news entry from the ticker list! Are you sure?'))
        {
            postData('/News/AjaxDeleteNewsTicker', 'Delete News Ticker', { NewsId: newsId }, function(data) {
                var newsTickerList = data;

                gridCell.remove();
                reorderBannerNumbers(newsTickerList);

                adjustLayout();
            });
        }

        gridCell.find('.c-portlet').css('border', '');
    }
</script>

<!--
    Ticker Enable/Disable
    ---------------------
-->

<script>
    function toggleEnable(newsId)
    {
        var gridCell = $("#GridCellsContainer").find("[data-newsid='" + newsId + "']");
        var currentlyEnabled = gridCell.data('status') == @((int) NewsTickerStatus.Online);

        showLoader('rearranging');

        if (currentlyEnabled)
        {
            postData('/News/AjaxEnableDisableNewsTicker', '啟動/關閉輪播', { NewsId: newsId, Enabled: false }, function(data) {
                var newsTickerList = data;

                var newsEntry = null;
                for(var iNr = 0; iNr < newsTickerList.length; iNr++)
                {
                    if (newsTickerList[iNr].NewsId == newsId)
                        newsEntry = newsTickerList[iNr];
                }

                gridCell.remove();

                AddMasonryInlet('newstickerTemplate', '', 'newsticker' + (TickersCount - 1),
                         '新聞輪播 <span class="news_elenr">' + TickersCount + '</span>號',
                         'newsid: ' + newsEntry.NewsId,
                         'bannerimage_url: ' + newsEntry.BannerImageUrl,
                         'news_title: ' + newsEntry.Title,
                         'left_display: none',
                         'right_display: none',
                         'enable_disable_text: 啟動輪播',
                         'newsstatus: ' + newsEntry.Status,
                         'elenr: ' + (TickersCount - 1),
                         'statusclass: ticker_disabled',
                         'statuscolor: gray',
                         'statustext: Offline');
                
                $('#newsticker' + (TickersCount - 1)).removeClass("kendo-draggable");

                applyTriggers(); // i really don't know why I have to call this here even if actually in 'reorderBannerNumbers' it's already called .. but there it doesn't work for some reason :(
                reorderBannerNumbers(newsTickerList);

                adjustLayout();
                hideLoader();
            });
        }
        else
        {
            postData('/News/AjaxEnableDisableNewsTicker', '啟動/關閉新聞', { NewsId: newsId, Enabled: true }, function(data) {
                loadNewsTicker();
            });
        }
    }

    /*
        Reorder function (only for internal numbers)
    */

    function reorderBannerNumbers(newsTickerList)
    {
        TickersCount = 0;
        TickersEnabledCount = 0;

        // renumber the elements
        for(var iNr = 0; iNr < newsTickerList.length; iNr++)
        {
            var gridCell = $("#GridCellsContainer").find("[data-newsid='" + newsTickerList[iNr].NewsId + "']");
            gridCell.attr("id", "newsticker" + iNr);
            gridCell.data("draggable-nr", iNr + 1);
            gridCell.find('h5[name=newsticker_title]').text('新聞輪播 ' + (iNr + 1) + '號');
            var enabled = gridCell.data('status') == @((int)NewsTickerStatus.Online);

            TickersCount++;
            if (enabled)
                TickersEnabledCount++;
        }

        // re-initialize drag and drop
        applyTriggers();
        activateDragDrop();
    }
</script>

<script>
    function loadNewsTicker()
    {
        emptyMasonryGrid();

        TickersCount = 0;
        TickersEnabledCount = 0;

        showLoader();

        getRemoteData('/News/AjaxGetTickerList?AlsoOffline=true', 'News-Ticker', function (data) {
            var iItem = 0;

            for (iItem = 0; iItem < data.length; iItem++) {
                var enabled = data[iItem].Status == @((int)NewsTickerStatus.Online);

                AddMasonryInlet('newstickerTemplate', '', 'newsticker' + iItem,
                         '新聞輪播 <span class="news_elenr">' + (iItem + 1) + '</span>號',
                         'newsid: ' + data[iItem].NewsId,
                         'bannerimage_url: ' + data[iItem].BannerImageUrl,
                         'news_title: ' + data[iItem].Title,
                         'left_display: ' + (iItem == 0 || (!enabled) ? 'none' : 'block'),
                         'right_display: ' + ((iItem == (data.length - 1)) || (!enabled) ? 'none' : 'block'),
                         'enable_disable_text: ' + (enabled ? '關閉輪播' : '啟動輪播'),
                         'newsstatus: ' + data[iItem].Status,
                         'elenr: ' + (iItem + 1),
                         'statusclass: ' + (enabled ? '' : 'ticker_disabled'),
                         'statuscolor: ' + (enabled ? 'green' : 'gray'),
                         'statustext: ' + (enabled ? 'Online' : 'Offline'));

                if (enabled)
                    TickersEnabledCount++;
                else
                    $('#newsticker' + iItem).removeClass("kendo-draggable");
            }

            TickersCount = data.length;
            applyTriggers();
            activateDragDrop();

            adjustLayoutAfterImagesLoaded(".adm_banner_img > img");
        });
    }

    /*
        Ticker Drag and Drop
        ====================
    */
    function activateDragDrop()
    {
        $('.kendo-draggable').kendoDraggable({
            hint: function(element) {
                var elenr = element.data('draggable-nr');
                var status = element.data('status');
                draggableDropped = false;

                if (elenr < TickersCount)
                {
                    if (TickersCount == TickersEnabledCount)
                    {
                        var pageContentsDiv = $('#GridCellsContainer');
                        pageContentsDiv.append("<div class='dragbehindphd' id='dragbehindphd'></div>");

                        $('#dragbehindphd').kendoDropTarget({
                            dragenter: function(e) {
                                if ($('#' + e.dropTarget.context.id).data('draggable-nr') <= (TickersEnabledCount + 1))
                                    $('#dragbehindphd').removeClass('dragbehind_hover').addClass('dragbehind_hover');
                            },
                            dragleave: function(e) {
                                if ($('#' + e.dropTarget.context.id).data('draggable-nr') <= (TickersEnabledCount + 1))
                                    $('#dragbehindphd').removeClass('dragbehind_hover');
                            },
                            drop: function(e) {
                                if ($('#' + e.dropTarget.context.id).data('draggable-nr') <= (TickersEnabledCount + 1))
                                {
                                    draggableDropped = true;
                                    $('#dragbehindphd').remove();

                                    var oldPosition = $('#' + e.draggable.hint.context.id).data('draggable-nr');

                                    changeTickerPosition(e.draggable.hint.context.id, $('#' + e.draggable.hint.context.id).data('newsid'), oldPosition, TickersCount);
                                }
                            }
                        });
                        $('#dragbehindphd').css('height', $('#newsticker' + (TickersCount - 1)).height());
                    }
                }

                return element.clone();
            },
            dragstart: function(e) {
                e.currentTarget.hide();
            },
            dragend: function(e) {
                $('#dragbehindphd').remove();

                if (!draggableDropped)
                    e.currentTarget.show();
            }
        });

        $('.kendo-dropable').kendoDropTarget({
            dragenter: function(e) {
                if ($('#' + e.dropTarget.context.id).data('draggable-nr') <= (TickersEnabledCount + 1))
                {
                    if (e.draggable.hint.context.id != e.dropTarget.context.id)
                        e.dropTarget.removeClass("dyncell_drop_before").addClass("dyncell_drop_before");
                    else
                        e.dropTarget.removeClass("dyncell_drop_before");
                }
            },
            dragleave: function(e) {
                if ($('#' + e.dropTarget.context.id).data('draggable-nr') <= (TickersEnabledCount + 1))
                    e.dropTarget.removeClass("dyncell_drop_before");
            },
            drop: function(e) {
                if ($('#' + e.dropTarget.context.id).data('draggable-nr') <= (TickersEnabledCount + 1))
                {
                    draggableDropped = true;

                    $('#dragbehindphd').remove();
                    e.dropTarget.removeClass("dyncell_drop_before");

                    var oldPosition = $('#' + e.draggable.hint.context.id).data('draggable-nr');
                    var newPosition = $('#' + e.dropTarget.context.id).data('draggable-nr');
                    if (newPosition > oldPosition)
                        newPosition--;

                    if (newPosition != oldPosition)
                        changeTickerPosition(e.draggable.hint.context.id, $('#' + e.draggable.hint.context.id).data('newsid'), oldPosition, newPosition, e.dropTarget.context.id);
                    else
                        draggableDropped = false;
                }
            }
        });
    }
</script>

<script>
    /*
     * Direct Status Change Logic
     * ==========================
     * makes it possible to directly change the status in the widgets list
     */

    var StatusClickBegan = false;
    var StatusClickFinishTimeout = null;

    function changeStatusModularBegin(NewsId)
    {
        StatusClickBegan = true;
        var statusElement = getMasonryGrid().find('[data-newsid=' + NewsId + ']').find('#cell_news_status');
        var currentStatus = getMasonryGrid().find('[data-newsid=' + NewsId + ']').data('status');
        statusElement.data('orig-color', statusElement.css('color'));
        statusElement.css('cursor', 'hand');
        statusElement.removeClass('status_changing');
        statusElement.addClass('status_changing');
        statusElement.animate({ color: (currentStatus == 1 ? 'gray' : 'green') }, 2000);

        StatusClickFinishTimeout = setTimeout(function (e) {
            if (StatusClickBegan)
            {
                StatusClickBegan = false;
                doStatusChangeModular(NewsId, statusElement);
            }
        }, 2200);
    }

    function changeStatusModularEnd(NewsId)
    {
        if (StatusClickBegan)
        {
            var statusElement = getMasonryGrid().find('[data-newsid=' + NewsId + ']').find('#cell_news_status');
            statusElement.stop();
            statusElement.css('color', statusElement.data('orig-color'));
            statusElement.css('cursor', 'pointer');
            statusElement.removeClass('status_changing');

            StatusClickBegan = false;
            clearTimeout(StatusClickFinishTimeout);
        }
    }

    function doStatusChangeModular(NewsId, statusElement)
    {
        toggleEnable(NewsId);
    }
</script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            clearContextButtons();
            addContextButton('ctxAdd', 'add_circle', 'javascript:openNewsPicker(0);', 'add new banner');

            loadNewsTicker();
        </script>
</text>)