﻿@using VmaBase.Shared
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared

<!--
    ===============
    News Edit Popup
    ===============
-->

<div id="NewsEditPopup" class="newspopup k-popup pop-container" style="display: none;">
    <div class="newspopuppart_news" style="float: left;">
        <div class="pop-stack-cell">
            <div class="pop-c-lbl">
                標題：
            </div>
            <div class="pop-c-inp2lines">
                <textarea type="text" class="k-textbox pop-c-textarea" id="news_title" maxlength="100" style="width: 85ch;"></textarea>
            </div>
        </div>
        <div class="pop-stack-cell">
            <div class="pop-c-lbl">
                作者:
            </div>
            <div class="pop-c-info">
                <span id="news_author"></span>
            </div>
        </div>
        <div class="pop-stack-cell">
            <div class="pop-c-lbl">
                狀態：
            </div>
            <div id="news_status_div" class="pop-c-status-green">
                <span data-value="1" id="news_status" onclick="changePopupNewsStatus($(this));"></span>
            </div>
        </div>
        <div class="pop-stack-cell">
            <div class="pop-c-lbl">
                發佈時間:
            </div>
            <div id="news_limit_date">
                <div style="padding-right: 10px; float: left;">
                    <input id="news_limit_starttime" />
                </div>
                <div style="padding-right: 10px; float: left;">
                    到
                </div>
                <div style="padding-right: 10px; float: left;">
                    <input id="news_limit_endtime" />
                </div>
            </div>
        </div>
        <div class="pop-stack-cell" id="newspopup_activityenddate">
            <div class="pop-c-lbl">
                兌換結束日期:
            </div>
            <div id="news_redeem_enddate">
                <div style="padding-right: 10px; float: left;">
                    <input id="activity_redeem_enddate" />
                </div>
            </div>
        </div>
        <div class="pop-stack-cell">
            <div class="pop-c-lbl">
                讃 / 分享 次數:
            </div>
            <div class="pop-c-info">
                <span id="news_like_count"></span> / <span id="news_share_count"></span>
            </div>
        </div>
        <div class="pop-stack-cell">
            <div class="pop-c-lbl">
                新聞類別:
            </div>
            <div class="pop-c-inpdd">
                <input id="news_category_inp" required />
                <span id="news_category"></span>
            </div>
        </div>
        <div class="pop-stack-cell">
            <div style="float: left;">
                <div class="pop-c-lbl" style="float: left;">
                    圖片：
                </div>
                <div class="pop-c-img-tiny" style="float: left;">
                    <img id="news_detail_image" class="upload" />
                    <input type="button" id="newsdetailimg_upload_btn" class="k-button upload" value="編輯.." />
                </div>
                <div class="pop-c-lbl" style="float:left; margin-left: 25px;">
                    清單的圖片：
                </div>
                <div class="pop-c-img-tiny" style="float:left;">
                    <img id="news_list_image" class="upload" />
                    <input type="button" id="newslistimg_upload_btn" class="k-button upload" value="編輯.." />
                </div>
            </div>
        </div>
        <div class="pop-stack-cell">
            <div style="float: left;">
                <div class="pop-c-lbl" style="float: left;" id="activity_list_image_label">
                    活動清單的圖片：
                </div>
                <div class="pop-c-img-tiny" style="float: left;">
                    <img id="activity_list_image" class="upload" />
                    <input type="button" id="activitylistimg_upload_btn" class="k-button upload" value="編輯.." />
                </div>
            </div>
        </div>
        <div class="pop-stack-cell">
            <div class="pop-c-lbl">
                內容:
            </div>
            <div class="pop-c-inp10lines">
                <textarea type="text" class="k-textbox pop-c-textarea" id="news_content" style="width: 85ch;"></textarea>
            </div>
        </div>
        <div class="pop-buttonline" id="NewsEditPopupContainer">
            <div class="pop-button">
                <button type="button" name="save" id="NewsOkButton">儲存</button>
            </div>
            <div class="pop-button">
                <button type="button" name="cancel" id="NewsCancelButton">取消</button>
            </div>
        </div>
    </div>
    <div class="newspopuppart_activity" style="float: left; padding-left: 15px; margin-left: 15px; padding-right: 10px; border-left: 1px gray solid; display: none; width: 720px; height: 820px; overflow-y: scroll;">
        <div class="pop-activitycell" style="text-decoration: underline;">
            推廣設定
        </div>
        <div class="pop-activitycell">
            <div class="">
                活動的標題：
            </div>
            <div class="pop-c-inp2lines">
                <textarea type="text" class="k-textbox pop-c-textarea" id="activity_title" maxlength="55" style="width: 90ch; height: 22pt;" onchange="CurrentActivity.Title = $(this).val();"></textarea>
            </div>
        </div>
        <div class="pop-activitycell">
            <div class="">
                推廣說明：
            </div>
            <div class="">
                <textarea type="text" class="k-textbox pop-c-textarea" id="activity_text" maxlength="110" style="width: 90ch;" onchange="CurrentActivity.ActivityText = $(this).val();"></textarea>
            </div>
        </div>
        <div class="pop-activitycell">
            &nbsp;
        </div>
        <div class="pop-activitycell">
            <div style="float: left; padding-top: 5px; width: 10ch;">
                印花數：
            </div>
            <div style="float: left; padding-bottom: 5px;">
                <input type="text" id="activity_stamps_count" />
                <div id="activity_stamps_count_readonly" style="display: none; height: 20pt; padding-top: 5px;"></div>
            </div>
            <div style="float: left; padding-top: 5px; clear: both; width: 10ch;">
                用印花：
            </div>
            <div style="float: left; padding-bottom: 5px;">
                <input id="activity_nostamps" />
                <div id="activity_nostamps_readonly" style="display: none; height: 20pt; padding-top: 5px;"></div>
            </div>
            <div style="float: left; padding-left: 15px; padding-top: 5px; padding-right: 5px;">
                飲卷：
            </div>
            <div style="float: left; padding-bottom: 5px;">
                <input id="activity_allow_send_coupons" style="width: 100px;" />
                <div id="activity_allow_send_coupons_readonly" style="display: none; height: 20pt; padding-top: 5px;"></div>
            </div>
            <div style="float: left; padding-left: 15px; padding-top: 5px; padding-right: 5px;">
                <span title="在地圖的推廣頁面中的清單 - 顯示不顯示這個活動?">推廣清單：</span>
            </div>
            <div style="float: left; padding-bottom: 5px;">
                <input id="activity_show_on_promomachlist" title="在地圖的推廣頁面中的清單 - 顯示不顯示這個活動?" style="width: 100px;" />
            </div>
        </div>
        <div class="pop-activitycell">
            &nbsp;
        </div>
        <div class="pop-activitycell" style="clear: both;" id="divAddMachine">
            <div style="display: flex; height: 28pt; overflow: hidden; align-items: center;">
                <div style="display: flex; vertical-align: middle; width: 12ch;">
                    販賣機:
                </div>
                <div style="display: flex; vertical-align: middle; text-align: left;">
                    <input id="MachinesList" style="width: 250px;" />
                </div>
            </div>
        </div>
        <div class="pop-activitycell" id="divMachinesTable">
            <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="ParticipatingMachinesTable" cellspacing="0" style="box-sizing: border-box; width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align: center;">販賣機</th>
                        <th style="text-align: center;">地點</th>
                        <th style="text-align: center;">狀態</th>
                        <th style="text-align: left;"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="pop-activitycell">
            &nbsp;
        </div>
        <div class="pop-activitycell">
            <div style="display: flex; height: 28pt; overflow: hidden; align-items: center;">
                <div style="display: flex; vertical-align: middle; width: 12ch;">
                    加產品:
                </div>
                <div style="display: flex; vertical-align: middle; text-align: left;">
                    <input id="ProductsList" style="width: 250px;" />
                </div>
            </div>
        </div>
        <div class="pop-activitycell" style="margin-bottom: 10px; font-size: 9pt;">
            Please note, that only products are shown which <u>have a stamp</u> assigned!<br />
            Also only products are shown which are <u>on the sales list</u> (no matter if currently available or not) of one of the machines you have added!
        </div>
        <div class="pop-activitycell">
            <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="ParticipatingProductsTable" cellspacing="0" style="box-sizing: border-box; width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align: center;">產品</th>
                        <th style="text-align: center;">MerchandiseId</th>
                        <th style="text-align: center;">Volume</th>
                        <th style="text-align: center;">圖片</th>
                        <th style="text-align: center;">印花</th>
                        <th style="text-align: center;">可兌換</th>
                        <th style="text-align: center;">狀態</th>
                        <th style="text-align: left;"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script id="ParticipatingProductDropDownTemplate" type="text/x-kendo-template">
    #if(data.Status == 1){#
    <span>#:data.ProductDisplayName#</span>
    #} else {#
    <span style="color: gray;">#:data.ProductDisplayName#</span>
    #}#
</script>
<script id="ParticipatingMachineDropDownTemplate" type="text/x-kendo-template">
    #if(data.Status == 1){#
    <span>
        #:data.VendingMachineName#
        #if(data.AppStatus == 0){#
            &nbsp;(不顯示)
        #}#
    </span>
    #} else {#
    <span style="color: gray;">
        #:data.VendingMachineName#
        #if(data.AppStatus == 0){#
        &nbsp;(不顯示)
        #}#
    </span>
    #}#
</script>


<script>
    var NewsImageUploaded = false;
    var ActivityLoaded = false;
    var CurrentActivity = null;
    var IsActivity = false;
    var ParticipatingProductsTable = null;
    var ParticipatingMachinesTable = null;
    var ProductsChoiceListDataSource = null;
    var MachinesChoiceListDataSource = null;
    var InitialLoad = false;

    var ParticipatingProductsTableDrawn = false;
    var ParticipatingMachinesTableDrawn = false;

    var CurrentProductsFilter = null;

    function kendoIsInitialized(ctrl) {
        if (((typeof ctrl.data('kendoNumericTextBox') != 'undefined') && (ctrl.data('kendoNumericTextBox') != null)) ||
            ((typeof ctrl.data('kendoDropDownList') != 'undefined') && (ctrl.data('kendoDropDownList') != null)) ||
            ((typeof ctrl.data('kendoAutoComplete') != 'undefined') && (ctrl.data('kendoAutoComplete') != null)) ||
            ((typeof ctrl.data('kendoDatePicker') != 'undefined') && (ctrl.data('kendoDatePicker') != null)) ||
            ((typeof ctrl.data('kendoDateTimePicker') != 'undefined') && (ctrl.data('kendoDateTimePicker') != null)) ||
            ((typeof ctrl.data('kendoTooltip') != 'undefined') && (ctrl.data('kendoTooltip') != null)))
            return true;
        else
            return false;
    }

    function kendoSetValue(ctrl, value) {
        var kendoControl = null;
        if (!kendoIsInitialized(ctrl)) {
            ctrl.val(value);
            return;
        }

        /*
        if ((typeof ctrl.data('kendoNumericTextBox') != 'undefined') && (ctrl.data('kendoNumericTextBox') != null))
            kendoControl = ctrl.data('kendoNumericTextbox');
        if ((typeof ctrl.data('kendoDropDownList') != 'undefined') && (ctrl.data('kendoDropDownList') != null))
            kendoControl = ctrl.data('kendoDropDownList');
        if ((typeof ctrl.data('kendoAutoComplete') != 'undefined') && (ctrl.data('kendoAutoComplete') != null))
            kendoControl = ctrl.data('kendoAutoComplete');
        if ((typeof ctrl.data('kendoDatePicker') != 'undefined') && (ctrl.data('kendoDatePicker') != null))
            kendoControl = ctrl.data('kendoDatePicker');
        if ((typeof ctrl.data('kendoDateTimePicker') != 'undefined') && (ctrl.data('kendoDateTimePicker') != null))
            kendoControl = ctrl.data('kendoDateTimePicker');
        if ((typeof ctrl.data('kendoTooltip') != 'undefined') && (ctrl.data('kendoTooltip') != null))
            kendoControl = ctrl.data('kendoTooltip');*/
        kendoControl = GetKendo(ctrl);
        kendoControl.value(value);
    }

    function kendoNumericTextBox_InitWithValue(ctrl, parameters, value) {
        if (!kendoIsInitialized(ctrl)) {
            parameters.value = value;
            ctrl.kendoNumericTextBox(parameters);
        }
        else
            kendoSetValue(ctrl, value);
    }

    function kendoDropDownList_InitWithValue(ctrl, parameters, value) {
        if (!kendoIsInitialized(ctrl)) {
            parameters.value = value;
            ctrl.kendoDropDownList(parameters);
        }
        else
            kendoSetValue(ctrl, value);
    }

    function hideShowKendoControl(ctrl, bShow) {
        var wrapper = null;

        if ((typeof ctrl.data('kendoNumericTextBox') != 'undefined') && (ctrl.data('kendoNumericTextBox') != null))
            wrapper = ctrl.data('kendoNumericTextBox').wrapper;
        if ((typeof ctrl.data('kendoDropDownList') != 'undefined') && (ctrl.data('kendoDropDownList') != null))
            wrapper = ctrl.data('kendoDropDownList').wrapper;
        if ((typeof ctrl.data('kendoAutoComplete') != 'undefined') && (ctrl.data('kendoAutoComplete') != null))
            wrapper = ctrl.data('kendoAutoComplete').wrapper;
        if ((typeof ctrl.data('kendoDatePicker') != 'undefined') && (ctrl.data('kendoDatePicker') != null))
            wrapper = ctrl.data('kendoDatePicker').wrapper;
        if ((typeof ctrl.data('kendoDateTimePicker') != 'undefined') && (ctrl.data('kendoDateTimePicker') != null))
            wrapper = ctrl.data('kendoDateTimePicker').wrapper;
        if ((typeof ctrl.data('kendoTooltip') != 'undefined') && (ctrl.data('kendoTooltip') != null))
            wrapper = ctrl.data('kendoTooltip').wrapper;

        if (wrapper != null) {
            if (bShow)
                wrapper.show();
            else
                wrapper.hide();
        }
    }

    function showKendoControl(ctrl) {
        hideShowKendoControl(ctrl, true);
    }

    function hideKendoControl(ctrl) {
        hideShowKendoControl(ctrl, false);
    }

    /*
     * Load / Create news
     */
    function openNewsEditor(newsId, ElementNr) {
        showLoader();

        if (newsId == 0) {
            NewsData = {}
            NewsData.CreateTime = new Date();
            NewsData.Id = 0;
            NewsData.Category = "DSC";
            NewsData.Title = "新聞標題";
            NewsData.Content = "";
            NewsData.ImageUrl = "";
            NewsData.ListImageUrl = "";
            NewsData.LikeCount = 0;
            NewsData.ShareCount = 0;
            NewsData.IsTicker = false;
            NewsData.Online = false;
            NewsData.ReadOnly = false;

            openNewsPopup(NewsData, ElementNr);
        }
        else {
            getRemoteData('/News/AjaxGetNewsDetails?NewsId=' + newsId, 'News Details', function (data, result) {
                openNewsPopup(data, ElementNr);
            });
        }
    }

    /*
     * News Popup
     */
    function openNewsPopup(NewsData, ElementNr) {
        NewsImageUploaded = false;
        ActivityLoaded = false;
        IsActivity = false;
        InitialLoad = true;

        CurrentProductsFilter = [];

        // create popup
        $('#NewsEditPopup').kendoWindow({
            width: '7230x',
            height: '720px',
            title: '編輯新聞文章 - ' + (NewsData.CreateTime instanceof Date ? dateTimeToString(NewsData.CreateTime) : jsonDateToDateTimeString(NewsData.CreateTime)) + (NewsData.ReadOnly ? ' (Read Only)' : ''),
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#newsdetailimg_upload_btn').data('kendoButton') != 'undefined')
                    $('#newsdetailimg_upload_btn').data('kendoButton').destroy();
                if (typeof $('#newslistimg_upload_btn').data('kendoButton') != 'undefined')
                    $('#newslistimg_upload_btn').data('kendoButton').destroy();
                if (typeof $('#activitylistimg_upload_btn').data('kendoButton') != 'undefined')
                    $('#activitylistimg_upload_btn').data('kendoButton').destroy();
                if (typeof $('#NewsOkButton').data('kendoButton') != 'undefined')
                    $('#NewsOkButton').data('kendoButton').destroy();
                if (typeof $('#NewsCancelButton').data('kendoUpload') != 'undefined')
                    $('#NewsCancelButton').data('kendoUpload').destroy();

                if (typeof $('#news_limit_starttime').data('kendoDateTimePicker') != 'undefined')
                    $('#news_limit_starttime').data('kendoDateTimePicker').destroy();
                if (typeof $('#news_limit_endtime').data('kendoDateTimePicker') != 'undefined')
                    $('#news_limit_endtime').data('kendoDateTimePicker').destroy();
                if (typeof $('#activity_redeem_enddate').data('kendoDateTimePicker') != 'undefined')
                    $('#activity_redeem_enddate').data('kendoDateTimePicker').destroy();

                //hideKendoControl($('#activity_stamps_count'));
                //if (typeof $('#activity_stamps_count').data('kendoNumericTextBox') != 'undefined')
                //    $('#activity_stamps_count').data('kendoNumericTextBox').destroy();

                $('.newspopuppart_activity').css('display', 'none');
                $('#newspopup_activityenddate').css('display', 'none');
            },
            activate: function (e) {
                equalWidth('.pop-c-lbl');
            }
        }).data('kendoWindow').center().open();

        // news edit popup - initialize category drop down
        NewsData.ReadOnly ? $('#news_category').show() : $('#news_category').hide();
        NewsData.ReadOnly ? $('#news_category_inp').hide() : $('#news_category_inp').show();
        if (!NewsData.ReadOnly) {
            getRemoteData('/News/AjaxGetCategories', 'News Categories', function (data, result) {
                $('#news_category_inp').kendoDropDownList({
                    dataSource: data,
                    dataTextField: 'Name',
                    dataValueField: 'Code',
                    change: function (e) {
                        var newCategory = $('#news_category_inp').data('kendoDropDownList').value();
                        if (newCategory == 'ACT') {
                            IsActivity = true;
                            showActivityPart(NewsData);
                        }
                        else {
                            IsActivity = false;
                            hideActivityPart(NewsData);
                        }
                    }
                }).val(NewsData.Category);
            });
        }

        if ((typeof $('#news_category_inp').data('kendoDropDownList') != 'undefined') && ($('#news_category_inp').data('kendoDropDownList') != null))
            $('#news_category_inp').data('kendoDropDownList').value(NewsData.Category);
        else
            $('#news_category_inp').val(NewsData.Category);

        // news image - allow/disallow edit
        if (NewsData.ReadOnly) {
            $('#newsdetailimg_upload_btn').hide();
            $('#news_detail_image').attr('onclick', '');
            $('#news_detail_image').css('cursor', 'default');
            $('#newslistimg_upload_btn').hide();
            $('#news_list_image').attr('onclick', '');
            $('#news_list_image').css('cursor', 'default');
            $('#activitylistimg_upload_btn').hide();
            $('#activity_list_image').attr('onclick', '');
            $('#activity_list_image').css('cursor', 'default');
            $('#activity_list_image_label').show();
        }
        else {
            $('#newsdetailimg_upload_btn').show();
            $('#news_detail_image').css('cursor', 'pointer');
            $('#activitylistimg_upload_btn').show();
            $('#news_list_image').css('cursor', 'pointer');
            if (NewsData.Category != 'ACT') {
                $('#activitylistimg_upload_btn').hide();
                $('#activity_list_image').hide();
                $('#activity_list_image_label').hide();
            }
            else {
                $('#activity_list_image_label').show();
                $('#activitylistimg_upload_btn').show();
                $('#activity_list_image').show();
                $('#activity_list_image').css('cursor', 'point');
            }
        }

        // news edit popup - init datepickers for limit start/endttime
        var limitStartTime = jsonDateToDate(NewsData.LimitStartTime);
        var limitEndTime = jsonDateToDate(NewsData.LimitEndTime);

        // kendoDateTimePicker (or kendoDatePicker) - BEST PRACTICE for setting the date value
        // -----------------------------------------------------------------------------------
        // -- kendo controls are sometimes having a quite strange behavior.
        // -- to make sure, that the datetimepicker is initialized correctly with the the correct date/time value, the following steps are needed:
        // -- 1) make sure to destroy() the datetimepicker controls in the close event of the kendoWindow dialogue (see above kendoWindow->close),
        //       otherwise the arguments given to the kendoDateTimePicker() constructor will only work the first time! Every other call of the constructor would be ignored!
        // -- 2) Set the initial value in the constructor with the 'value' property
        // -- 3) If you want to support a null date/time value, then it's also neccessary to explicitely set the value to null AFTER the constructor,
        //       because a null value IN the constructor will be ignored by kendo and would lead to show the last date/time value this kendoDateTimePicker control had before (!)
        //       that's why there is this function implemented after the constructor: .val(function () { return (limitEndTime == null ? null : $(this).val()); });
        //       Setting the value not in the constructor, but with this val() function would also not work, because the val() function would
        //       set the date value to the date/time STRING instead of the real date/time value!
        //       The official documented 'value()' function also would not work, because at this time it's not initialized yet and lead to "strange" javascript errors..
        //
        // for getting the current datetimepicker value the .data('kendoDateTimePicker').value() function need to be used
        // but also here it needs to take care that the kendoDateTimePicker does NOT really suppport null values, so also here
        // before it needs to be checked if the kendoDateTimePicker value is null with the $('#...').val() function (see further below)
        $('#news_limit_starttime').kendoDateTimePicker({
            value: limitStartTime
        }).val(function () { return (limitStartTime == null ? null : $(this).val()); });

        $('#news_limit_endtime').kendoDateTimePicker({
            value: limitEndTime
        }).val(function () { return (limitEndTime == null ? null : $(this).val()); });

        $('#activity_redeem_enddate').kendoDateTimePicker({
            value: null
        }).val(null);

        // news edit popup - load data into the popup
        $('#news_title').val(NewsData.Title);
        $('#news_author').text(NewsData.Author);

        if (NewsData.Category == "ACT") {
            $('#news_status').data('value', NewsData.ActivityStatus);
            $('#news_status').text(NewsData.ActivityStatus == @((int)ActivityStatus.Active) ? 'Online' : (NewsData.ActivityStatus == @((int)ActivityStatus.Closed) ? '活動結束' : '活動下架'));
        }
        else {
            $('#news_status').data('value', (NewsData.Online ? 1 : 0));
            $('#news_status').text(NewsData.Online ? 'Online' : 'Offline');
        }

        $('#news_status_div').removeClass('pop-c-status-gray');
        $('#news_status_div').removeClass('pop-c-status-green');
        $('#news_status_div').addClass(NewsData.Online ? 'pop-c-status-green' : 'pop-c-status-gray');

        $('#news_category').text(NewsData.CategoryName);
        $('#news_like_count').text(NewsData.LikeCount);
        $('#news_share_count').text(NewsData.ShareCount);

        if ((NewsData.ImageUrl != null) && (NewsData.ImageUrl.trim() != ''))
            $('#news_detail_image').attr('src', NewsData.ImageUrl + '?v=' + (((new Date()) * 10000)));
        else
            $('#news_detail_image').attr('src', '/images/noimage.png');

        if ((NewsData.ListImageUrl != null) && (NewsData.ListImageUrl.trim() != ''))
            $('#news_list_image').attr('src', NewsData.ListImageUrl + '?v=' + (((new Date()) * 10000)));
        else
            $('#news_list_image').attr('src', '/images/noimage.png');

        $('#news_content').val(replaceAll(NewsData.Content, '<br>', '\r\n'));

        if (NewsData.Category == "ACT") {
            IsActivity = true;
            showActivityPart(NewsData);
        }
        else {
            IsActivity = false;
            hideActivityPart(NewsData);
            hideLoader();
        }

        // news edit popup - change image button
        if (!NewsData.ReadOnly) {
            $('#newsdetailimg_upload_btn').show();
            $('#newsdetailimg_upload_btn').kendoButton({
                icon: 'edit',
                click: function (e) {
                    changeNewsImage(NewsData.Id, true, false);
                }
            });

            $('#newslistimg_upload_btn').show();
            $('#newslistimg_upload_btn').kendoButton({
                icon: 'edit',
                click: function (e) {
                    changeNewsImage(NewsData.Id, false, false);
                }
            });

            if (NewsData.Category == 'ACT')
                $('#activitylistimg_upload_btn').show();
            $('#activitylistimg_upload_btn').kendoButton({
                icon: 'edit',
                click: function (e) {
                    changeNewsImage(NewsData.Id, false, true);
                }
            });
        }
        else {
            $('#newsdetailimg_upload_btn').hide();
            $('#newslistimg_upload_btn').hide();
            $('#activitylistimg_upload_btn').hide();
        }

        // news edit popup - ok button
        $('#NewsOkButton').kendoButton({
            icon: 'check',
            click: function (e) {
                SaveNews(NewsData, ElementNr);
            }
        });

        // news edit popup - cancel button
        $('#NewsCancelButton').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#NewsEditPopup').data('kendoWindow').close();
            }
        });

        InitialLoad = false;        
    }

    function SaveNews(NewsData, ElementNr) {
        // validate data
        var ValidationOk = true;
        ValidationOk = checkRequiredPopupField(ValidationOk, 'news_title', '標題');
        ValidationOk = checkRequiredPopupField(ValidationOk, 'news_content', '內容');
        if (!NewsData.ReadOnly) {
            ValidationOk = checkRequiredPopupField(ValidationOk, 'news_category_inp', '分類');
        }

        if (NewsData.Category == "ACT") {
            var RedeemEndTime = $('#activity_redeem_enddate').val() == null || $('#activity_redeem_enddate').val().trim() == '' ? null : DateTimeToJson($('#activity_redeem_enddate').data('kendoDateTimePicker').value());
            var LimitEndTime = $('#news_limit_endtime').val() == null || $('#news_limit_endtime').val().trim() == '' ? null : DateTimeToJson($('#news_limit_endtime').data('kendoDateTimePicker').value());

            if ((LimitEndTime != null) && (RedeemEndTime < LimitEndTime)) {
                alert('兌換結束日期不可早於發佈日期間！');
                ValidationOk = false;
            }
        }

        if (!ValidationOk)
            return;

        showLoader();

        // take data from popup
        if (NewsData.CreateTime instanceof Date)
            NewsData.CreateTime = NewsData.CreateTime.toJSON();

        NewsData.LimitStartTime = $('#news_limit_starttime').val() == null || $('#news_limit_starttime').val().trim() == '' ? null : DateTimeToJson($('#news_limit_starttime').data('kendoDateTimePicker').value());
        NewsData.LimitEndTime = $('#news_limit_endtime').val() == null || $('#news_limit_endtime').val().trim() == '' ? null : DateTimeToJson($('#news_limit_endtime').data('kendoDateTimePicker').value());
        NewsData.Title = $('#news_title').val();
        NewsData.Online = $('#news_status').data('value') == 1 ? true : false;
        if (IsActivity)
            NewsData.ActivityStatus = $('#news_status').data('value');
        NewsData.Content = $('#news_content').val();
        NewsData.ImageUrl = ''; // we save the uploaded image _only_ with another function! (AjaxSaveNewsImage)
        NewsData.ListImageUrl = '';

        if (!NewsData.ReadOnly) {
            NewsData.Category = $('#news_category_inp').data('kendoDropDownList').value();
            NewsData.CategoryCode = NewsData.Category;
        }

        var PostUrl = '/News/AjaxModifyNews';
        if (NewsData.Id <= 0)
            PostUrl = '/News/AjaxAddNews';

        // save news article
        postData(PostUrl, 'News Article', NewsData, function (data, result) {
            saveActivity(NewsData, data, ElementNr); // now save activity, if neccessary
        });
    }

    function saveActivity(NewsData, saved_news_data, ElementNr) {
        if (NewsData.Category == "ACT") {
            CurrentActivity.NewsId = saved_news_data.Id;
            CurrentActivity.Status = NewsData.ActivityStatus;
            CurrentActivity.RedeemEndTime = $('#activity_redeem_enddate').val() == null || $('#activity_redeem_enddate').val().trim() == '' ? null : DateTimeToJson($('#activity_redeem_enddate').data('kendoDateTimePicker').value());

            // to reduce traffic remove the machine availability lists from the participating products list
            for (var iIndex = 0; iIndex < CurrentActivity.Products.length; iIndex++) {
                CurrentActivity.Products[iIndex].AvailableMachinesIdList = null;
                CurrentActivity.Products[iIndex].VendingMachineIdsAvailable = null;
            }

            // save activity
            postData('/News/AjaxSaveActivity', 'Save Activity', { ActivityData: CurrentActivity }, function (data, result) {
                checkSaveImages(NewsData, saved_news_data, ElementNr);
            });
        }
        else
            checkSaveImages(NewsData, saved_news_data, ElementNr);
    }

    // checkSaveImages: check if images need to be save and do so before finishing the save
    function checkSaveImages(NewsData, saved_news_data, ElementNr) {
        // last, but not least, save uploaded images (after records have been saved)
        if (NewsImageUploaded) {
            postData('/News/AjaxSaveNewsImage?newsId=' + saved_news_data.Id + '&NewArticle=' + (NewsData.Id <= 0 ? 'true' : 'false'), 'News Image', null, function (saveimg_data, saveimg_result) {
                if (saveimg_data.ImageUrl != null && saveimg_data.ImageUrl.trim() != '') {
                    saved_news_data.DetailImageUrl = saveimg_data.ImageUrl;
                    saved_news_data.ImageUrl = saved_news_data.DetailImageUrl + '?v=' + (((new Date()) * 10000));
                }
                if (saveimg_data.ListImageUrl != null && saveimg_data.ListImageUrl.trim() != '')
                    saved_news_data.ListImageUrl = saveimg_data.ListImageUrl;
                if (saveimg_data.ActivityListImageUrl != null && saveimg_data.ActivityListImageUrl.trim() != '')
                    CurrentActivity.ActivityListImageUrl = saveimg_data.ActivityListImageUrl;

                finishSave(NewsData, saved_news_data, ElementNr);
            });
        }
        else
            finishSave(NewsData, saved_news_data, ElementNr);
    }

    // finishSave: do layout/list updates and close popup
    function finishSave(NewsData, saved_news_data, ElementNr) {
        // now we can finish everything..
        if (saved_news_data.CreateTime != NewsData.CreateTime) {
            if (IsListView)
                loadNewsListView(CurrentPageNr);
            else
                loadNewsModular(CurrentPageNr);
            $('#NewsEditPopup').data('kendoWindow').close();
        }
        else
            updateListPage(NewsData.Id <= 0, saved_news_data, ElementNr);
    }

    function updateListPage(added, NewsData, ElementNr) {
        NewsData.DetailImageUrl = NewsData.ImageUrl;

        if (IsListView) {
            loadNewsListView(CurrentPageNr);
            $('#NewsEditPopup').data('kendoWindow').close();
        }
        else {
            showLoader();

            // update masonry layout
            $('#NewsEditPopup').data('kendoWindow').close();
            if (!added) {
                // modify inlet
                NewsData.CategoryCode = $('#news_category_inp').data('kendoDropDownList').value();
                replaceNewsInlet(NewsData, ElementNr);
            }
            else {
                // add new inlet
                NewsData.CategoryCode = $('#news_category_inp').data('kendoDropDownList').value();
                insertNewsInlet(1, NewsData);
                removeLastNewsInlet();
            }

            var gridCell = $('#GridCellsContainer').find('[data-newsid=' + NewsData.Id + ']');
            if (NewsData.Online) {
                gridCell.find('#mnuitm_remove_from_banners').css('display', gridCell.find('#news_banner_status').css('display'));
                gridCell.find('#mnuitm_add_to_banners').css('display', gridCell.find('#news_banner_status').css('display') == 'none' ? 'block' : 'none');
            }
            else {
                gridCell.find('#mnuitm_remove_from_banners').css('display', 'none');
                gridCell.find('#mnuitm_add_to_banners').css('display', 'none');
            }

            adjustLayoutAfterImagesLoaded(".mdm-sc-image-regular > img");
        }
    }
</script>

<!-- NewsImage Upload
     =============
-->

<div id="NewsImageUploadPopup" class="NewsImagepopup k-popup" style="display: none;">
    <div id="UploadContainer" class="NewsImageupload">
        <input name="file" type="file" id="NewsImagefile" class="k-button" />
        <input type="button" value="上傳" class="k-button k-primary" id="NewsImageupload" />
    </div>
    <div class="NewsImagepreview_header">
        預覽:
    </div>
    <div class="NewsImagepreview">
        <img id="NewsImageuploadimage" class="bannerpreviewimg" />
    </div>
    <div class="popupbuttons" id="FilterButtonsContainer">
        <div class="popupbutton">
            <button type="button" name="save" id="NewsImageOkButton">確認</button>
        </div>
        <div class="popupbutton">
            <button type="button" name="cancel" id="NewsImageCancelButton">取消</button>
        </div>
    </div>
</div>

<script>
    var ImageUploaded = false;

    function changeNewsImage(newsId, detailImage, activityListImage) {
        $('#NewsEditPopup').data('kendoWindow').minimize();

        var UploadImageUrl = (activityListImage ? '/News/AjaxUploadActivityListImage' : (detailImage ? '/News/AjaxUploadNewsImage' : '/News/AjaxUploadNewsListImage'));
        var GetUploadedImageUrl = (activityListImage ? '/News/AjaxGetUploadedActivityListImage' : (detailImage ? '/News/AjaxGetUploadedNewsImage' : '/News/AjaxGetUploadedNewsListImage'));

        ImageUploaded = false;
        $('#NewsImageuploadimage').attr('src', '');

        // NewsImage upload popup - open popup window
        $('#NewsImageUploadPopup').kendoWindow({
            width: '800px',
            height: '600px',
            title: '封面照片編輯',
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#NewsImageupload').data('kendoButton') != 'undefined')
                    $('#NewsImageupload').data('kendoButton').destroy();
                if (typeof $('#NewsImageUploadPopup').data('kendoUpload') != 'undefined')
                    $('#NewsImageUploadPopup').data('kendoUpload').destroy();
                if (typeof $('#NewsImageOkButton').data('kendoButton') != 'undefined')
                    $('#NewsImageOkButton').data('kendoButton').destroy();
                if (typeof $('#NewsImageCancelButton').data('kendoButton') != 'undefined')
                    $('#NewsImageCancelButton').data('kendoButton').destroy();

                $('#NewsEditPopup').data('kendoWindow').restore();
            }
        }).data('kendoWindow').center().open();

        // NewsImage upload popup - check file
        $('#NewsImagefile').on('change', function () {
            var file = this.files[0];
            if (file.size > (5 * (1024 * 1024))) {
                alert('圖檔大小不可超過5MB!');
            }
        });

        // NewsImage upload popup - upload
        $('#NewsImageupload').unbind('click');
        $('#NewsImageupload').on('click', function () {
            uploadFile('NewsImagefile', UploadImageUrl + '?newsId=' + newsId, onNewsImageUploadProgress,
                function () {
                    ImageUploaded = true;

                    $('#NewsImageuploadimage').attr('src', '');
                    $('#NewsImageuploadimage').attr('src', GetUploadedImageUrl + '?newsId=' + newsId + '&refreshToken=' + (((new Date()) * 10000)));
                });
        });

        // NewsImage upload popup - ok button
        $('#NewsImageOkButton').kendoButton({
            icon: 'check',
            click: function (e) {
                if (ImageUploaded) {
                    //postData('/News/AjaxSaveNewsImage?newsId=' + newsId, 'Confirm Image', { newsId: newsId }, function (data) {
                    $('#NewsImageUploadPopup').data('kendoWindow').close();
                    $('#NewsEditPopup').data('kendoWindow').restore();

                    if (activityListImage)
                        $('#activity_list_image').attr('src', GetUploadedImageUrl + '?newsId=' + newsId + '&refreshToken=' + (((new Date()) * 10000)));
                    else {
                        if (detailImage)
                            $('#news_detail_image').attr('src', GetUploadedImageUrl + '?newsId=' + newsId + '&refreshToken=' + (((new Date()) * 10000)));
                        else
                            $('#news_list_image').attr('src', GetUploadedImageUrl + '?newsId=' + newsId + '&refreshToken=' + (((new Date()) * 10000)));
                    }

                    NewsImageUploaded = true;
                    //$('#NewsImageimage' + newsId).attr('src', data + "?v=" + (((new Date()) * 10000)));
                    //});
                }
                else
                    alert('請選擇欲上傳的圖檔');
            }
        });

        // NewsImage upload popup - cancel button
        $('#NewsImageCancelButton').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#NewsImageUploadPopup').data('kendoWindow').close();
                $('#NewsEditPopup').data('kendoWindow').restore();
            }
        });
    }

    function onNewsImageUploadProgress(e) {

    }

    function changePopupNewsStatus(statusCtrl) {
        if ((($('#news_limit_starttime').val() != null && $('#news_limit_starttime').val().trim() != '') ||
            ($('#news_limit_endtime').val() != null && $('#news_limit_endtime').val().trim() != ''))
            && ((!IsActivity) || statusCtrl.data('value') == 1)) {
            showTooltipOn('news_status_div', '本狀態會由系統根據發佈日期自動變更');
        }
        else {
            $('#news_status_div').attr('title', '');

            if (IsActivity) {
                if (statusCtrl.data('value') == 1) {
                    statusCtrl.data('value', @((int)ActivityStatus.Closed));
                    statusCtrl.text('活動結束');
                    $('#news_status_div').removeClass('pop-c-status-green');
                    $('#news_status_div').addClass('pop-c-status-gray');
                }
                else if (statusCtrl.data('value') == @((int)ActivityStatus.Closed)) {
                    statusCtrl.data('value', @((int)ActivityStatus.Inactive));
                    statusCtrl.text('活動下架');
                } else {
                    if (($('#news_limit_starttime').val() != null && $('#news_limit_starttime').val().trim() != '') ||
                        ($('#news_limit_endtime').val() != null && $('#news_limit_endtime').val().trim() != ''))
                    {
                        statusCtrl.data('value', @((int)ActivityStatus.Closed));
                        statusCtrl.text('活動結束');
                    }
                    else
                    {
                        statusCtrl.data('value', 1);
                        statusCtrl.text('Online');
                        $('#news_status_div').removeClass('pop-c-status-gray');
                        $('#news_status_div').addClass('pop-c-status-green');
                    }
                }
            }
            else {
                if (statusCtrl.data('value') == 1) {
                    statusCtrl.data('value', 0);
                    statusCtrl.text('Offline');
                    $('#news_status_div').removeClass('pop-c-status-green');
                    $('#news_status_div').addClass('pop-c-status-gray');
                } else {
                    statusCtrl.data('value', 1);
                    statusCtrl.text('Online');
                    $('#news_status_div').removeClass('pop-c-status-gray');
                    $('#news_status_div').addClass('pop-c-status-green');
                }
            }
        }
    }

    /*
     * =============
     * Load Activity
     * =============
     */

    function showActivityPart(NewsData) {
        var kendoPopup = $('#NewsEditPopup').data('kendoWindow');
        var bigWidth = 1500;
        var bigHeight = 860;
        var leftPosition = ($('body').width() / 2) - (bigWidth / 2);
        var topPosition = ($(window).height() / 2) - (bigHeight / 2) - 20;

        kendoPopup.wrapper.css({
            width: bigWidth,
            height: bigHeight,
            left: leftPosition,
            top: topPosition
        });

        $('.newspopuppart_activity').css('display', 'block');
        $('#newspopup_activityenddate').css('display', 'block');
        $('#activity_list_image').show();
        $('#activitylistimg_upload_btn').show();
        $('#activity_list_image_label').show();
        if (!InitialLoad) {
            $('#news_status').data('value', ($('#news_status').data('value') == 1 ? 1 : 8));
            $('#news_status').text($('#news_status').data('value') == 1 ? 'Online' : '活動結束');
        }

        if (!ActivityLoaded)
            loadActivity(NewsData);
        else
            hideLoader();
    }

    function hideActivityPart(NewsData) {
        var kendoPopup = $('#NewsEditPopup').data('kendoWindow');
        var smallWidth = 720;
        var smallHeight = 720;
        var leftPosition = ($('body').width() / 2) - (smallWidth / 2);
        var topPosition = ($(window).height() / 2) - (smallHeight / 2) - 20;

        kendoPopup.wrapper.css({
            width: smallWidth,
            height: smallHeight,
            left: leftPosition,
            top: topPosition
        });

        $('.newspopuppart_activity').css('display', 'none');
        $('#newspopup_activityenddate').css('display', 'none');
        $('#activity_list_image').hide();
        $('#activitylistimg_upload_btn').hide();
        $('#activity_list_image_label').hide();
        if (!InitialLoad) {
            $('#news_status').data('value', ($('#news_status').data('value') == 1 ? 1 : 0));
            $('#news_status').text($('#news_status').data('value') == 1 ? 'Online' : 'Offline');
        }

        //hideKendoControl($('#activity_stamps_count'));
        //if (typeof $('#activity_stamps_count').data('kendoNumericTextBox') != 'undefined')
        //    $('#activity_stamps_count').data('kendoNumericTextBox').destroy();
    }

    function loadActivity(NewsData) {
        CurrentActivity = null;
        showLoader();

        getRemoteData('/News/AjaxGetNewsActivity?NewsId=' + NewsData.Id, 'News Activity', function (data, result) {
            CurrentActivity = data;
            if ((CurrentActivity.ActivityId <= 0) && ((CurrentActivity.Title == null) || (CurrentActivity.Title == '')))
                CurrentActivity.Title = NewsData.Title;

            $('#activity_text').val(CurrentActivity.ActivityText);
            $('#activity_title').val(CurrentActivity.Title);
            KendoSetValue($('#activity_redeem_enddate'), jsonDateToDate(CurrentActivity.RedeemEndTime));

            if ((CurrentActivity.ActivityListImageUrl != null) && (CurrentActivity.ActivityListImageUrl != ''))
                $('#activity_list_image').attr('src', CurrentActivity.ActivityListImageUrl + '?v=' + (((new Date()) * 10000)));
            else
                $('#activity_list_image').attr('src', '/images/noimage.png');

            if (CurrentActivity.HasUserCoupons) {
                $('#activity_stamps_count').css('display', 'none');
                $('#activity_nostamps').css('display', 'none');
                $('#activity_allow_send_coupons').css('display', 'none');
                hideKendoControl($('#activity_stamps_count')); // always have to do extra effort for kendo UI controls...
                hideKendoControl($('#activity_nostamps'));
                hideKendoControl($('#activity_allow_send_coupons'));

                $('#activity_stamps_count_readonly').css('display', 'block');
                $('#activity_stamps_count_readonly').text(CurrentActivity.StampsCount);
                $('#activity_nostamps_readonly').css('display', 'block');
                $('#activity_nostamps_readonly').text(CurrentActivity.NoStampsActivity ? '沒有印花的活動' : '正常的活動 (有印花)');
                $('#activity_allow_send_coupons_readonly').css('display', 'block');
                $('#activity_allow_send_coupons_readonly').text(CurrentActivity.SendingCouponsAllowed ? '可以送' : '不可以送');
            }
            else {
                $('#activity_stamps_count_readonly').css('display', 'none');
                $('#activity_stamps_count').css('display', 'inline-block');
                showKendoControl($('#activity_stamps_count')); // always have to do extra effort for kendo UI controls...

                $('#activity_nostamps_readonly').css('display', 'none');
                $('#activity_nostamps').css('display', 'inline-block');
                showKendoControl($('#activity_nostamps')); // always have to do extra effort for kendo UI controls...

                $('#activity_allow_send_coupons_readonly').css('display', 'none');
                $('#activity_allow_send_coupons').css('display', 'inline-block');
                showKendoControl($('#activity_allow_send_coupons')); // always have to do extra effort for kendo UI controls...

                kendoNumericTextBox_InitWithValue(
                    $('#activity_stamps_count'),
                    {
                        min: 2,
                        max: 60,
                        steps: 1,
                        decimals: 0,
                        format: 'n0',
                        change: function (e) {
                            CurrentActivity.StampsCount = $('#activity_stamps_count').data('kendoNumericTextBox').value();
                            if ((CurrentActivity.NoStampsActivity) && (CurrentActivity.StampsCount > 0)) {
                                CurrentActivity.StampsCount = 0;
                            }
                        }
                    },
                    CurrentActivity.StampsCount);

                // initialize "use stamps" dropdown
                $('#activity_nostamps').kendoDropDownList({
                    dataSource: [
                        { text: '正常的活動 (有印花)', value: false },
                        { text: '沒有印花的活動', value: true }
                    ],
                    dataTextField: 'text',
                    dataValueField: 'value',
                    change: function (e) {
                        CurrentActivity.NoStampsActivity = $('#activity_nostamps').data('kendoDropDownList').value();
                    }
                });

                // initialize "send coupons allowed" dropdown
                $('#activity_allow_send_coupons').kendoDropDownList({
                    dataSource: [
                        { text: '可以送', value: true },
                        { text: '不可以送', value: false }
                    ],
                    dataTextField: 'text',
                    dataValueField: 'value',
                    change: function (e) {
                        CurrentActivity.SendingCouponsAllowed = $('#activity_allow_send_coupons').data('kendoDropDownList').value();
                    }
                });

                // initialize "show on promotion machines list" dropdown
                $('#activity_show_on_promomachlist').kendoDropDownList({
                    dataSource: [
                        { text: '顯示', value: true },
                        { text: '不顯示', value: false }
                    ],
                    dataTextField: 'text',
                    dataValueField: 'value',
                    change: function (e) {
                        CurrentActivity.ShowOnPromotionMachinesList = $('#activity_show_on_promomachlist').data('kendoDropDownList').value();
                        //alert('請注意：本次改變的內容將於儲存後10分鐘內顯示');
                    }
                });

                kendoSetValue($('#activity_nostamps'), CurrentActivity.NoStampsActivity);
                kendoSetValue($('#activity_allow_send_coupons'), CurrentActivity.SendingCouponsAllowed);
                kendoSetValue($('#activity_show_on_promomachlist'), CurrentActivity.ShowOnPromotionMachinesList);
            }

            // load machines
            getRemoteData('/News/AjaxGetNewsActivityParticipatingMachines?ActivityId=' + CurrentActivity.ActivityId, 'Activity - participating machines', function (data, result) {
                CurrentActivity.Machines = data;

                reLoadParticipatingMachinesTable();

                // set machines filter
                var currentFilter = MachinesChoiceListDataSource.filter();
                currentFilter.filters = [];
                MachinesChoiceListDataSource.filter(currentFilter);

                for (var iNr = 0; iNr < CurrentActivity.Machines.length; iNr++) {
                    disableInDropDownDataSource(MachinesChoiceListDataSource, 'VendingMachineId', CurrentActivity.Machines[iNr].VendingMachineId);
                }

                /*
                 * fill product list dropdown
                 * --------------------------
                 */
                loadProductsListDropDown();

                // load products
                getRemoteData('/News/AjaxGetNewsActivityParticipatingProducts?ActivityId=' + CurrentActivity.ActivityId, 'Activity - participating products', function (data, result) {
                    CurrentActivity.Products = data;

                    reLoadParticipatingProductsTable();

                    RemoveAlreadyAddedProductsFromDropDown();

                    hideLoader();
                });
            });
        });

        /*
         * fill machine list dropdown
         * ---------------------------
         */
        if (MachinesChoiceListDataSource == null) {
            MachinesChoiceListDataSource = new kendo.data.DataSource(
                {
                    transport: {
                        read: {
                            url: '/News/AjaxGetMachineChoiceList',
                            dataType: 'json'
                        }
                    },
                    filter: {
                        logic: 'and',
                        filters: []
                    },
                    schema: {
                        data: 'Data',
                        model: {
                            fields: {

                            }
                        },
                        errors: function (response) {
                            var returnValue = getResult_ReturnValue(response);
                            var errorMsg = getResult_ErrorMessage(response);
                            if (returnValue != 0)
                                return errorMsg;
                            else {
                                if (response.Data != null)
                                    return '';
                                else
                                    return 'The Data property returned by the DropDown DataSource Ajax function is null! If there is no data please make sure that an "empty" object is returned!';
                            }
                        }
                    },
                    error: function (e) {
                        if ((typeof e != 'undefined') && (e != null) && (e != ''))
                            console.log('error for the Kendo UI DropDownList DataSource: ' + e.errorThrown);
                    }
                });
        }

        $('#MachinesList').kendoDropDownList({
            template: $('#ParticipatingMachineDropDownTemplate').html(),
            dataSource: MachinesChoiceListDataSource,
            dataValueField: 'VendingMachineId',
            dataTextField: 'VendingMachineName',
            value: null,
            change: function (e) {
                addParticipatingMachine();
            }
        });

        kendoSetValue($('#MachinesList'), null);
    }

    /*
     * loadProductsListDropDown
     * ------------------------
     */
    function loadProductsListDropDown() {
        var VendingMachineIds = '';

        for (var iNr = 0; iNr < CurrentActivity.Machines.length; iNr++) {
            VendingMachineIds += CurrentActivity.Machines[iNr].VendingMachineId + ',';
        }

        ProductsChoiceListDataSource = new kendo.data.DataSource(
            {
                transport: {
                    read: {
                        url: '/News/AjaxGetProductChoiceList?VendingMachineIdsFilter=' + VendingMachineIds,
                        dataType: 'json'
                    }
                },
                filter: {
                    logic: 'and',
                    filters: []
                },
                schema: {
                    data: 'Data',
                    model: {
                        fields: {
                            Id: { type: 'number' },
                            ProductId: { type: 'number' },
                            ProductName: { type: 'string' },
                            InternalId: { type: 'number' },
                            MerchandiseId: { type: 'string' },
                            ProductName: { type: 'string' },
                            ProductImageUrl: { type: 'string' },
                            StampTypeId1: { type: 'number' },
                            StampType1Name: { type: 'string' },
                            StampType1ImageUrl: { type: 'string' },
                            Status: { type: 'number' }
                        }
                    },
                    errors: function (response) {
                        var returnValue = getResult_ReturnValue(response);
                        var errorMsg = getResult_ErrorMessage(response);
                        if (returnValue != 0)
                            return errorMsg;
                        else {
                            if (response.Data != null)
                                return '';
                            else
                                return 'The Data property returned by the DropDown DataSource Ajax function is null! If there is no data please make sure that an "empty" object is returned!';
                        }
                    }
                },
                error: function (e) {
                    if ((typeof e != 'undefined') && (e != null) && (e != ''))
                        console.log('error for the Kendo UI DropDownList DataSource: ' + e.errorThrown);
                }
            });

        if (!kendoIsInitialized($('#ProductsList'))) {
            $('#ProductsList').kendoAutoComplete({
                dataSource: ProductsChoiceListDataSource,
                filter: "contains",
                dataValueField: 'ProductId',
                dataTextField: 'ProductDisplayName',
                value: null,
                change: function (e) {
                    addParticipatingProduct();
                }
            });
        }
        else {
            // well .. kendoAutoComplete is having a different behavior than dropddowns and other controls regarding re-initializing a control..
            // dropdownlists just can be re-initialized without any further handling, no need to destroy them or check if they are already initialized.
            // buttons need to be destroyed when not used anymore, and can be re-initialized later "normally" then.
            // destroying autocomplete controls does not work.. after re-initialize it still will have a different behavior than the first load, will look strange and will not work
            // so for autocomplete controls the only way is to check wether there is already an instance of the control or not and to refresh the datasource then.
            // 3 different behaviors.. that's kendo....
            $('#ProductsList').data('kendoAutoComplete').setDataSource(ProductsChoiceListDataSource);
            $('#ProductsList').data('kendoAutoComplete').refresh();
        }

        kendoSetValue($('#ProductsList'), null);
    }

    /*
     * RemoveAlreadyAddedProductsFromDropDown
     * --------------------------------------
     */
    function RemoveAlreadyAddedProductsFromDropDown() {
        // set products filter
        CurrentProductsFilter = [
            { field: "StampTypeId1", operator: "gte", value: "1" }
        ];

        for (var iNr = 0; iNr < CurrentActivity.Products.length; iNr++) {
            disableProductInDataSource('ProductId', CurrentActivity.Products[iNr].ProductId);
        }

        UpdateProductsAutoCompleteFilter();
    }

    /*
     * updateProductListStates
     * -----------------------
     */
    function updateProductListStates() {
        $('.productdisplayname').each(function (index) {
            var element = $(this);
            var ProductItem = getParticipatingProductEntityById(element.data('id'));
            var AvailableAtStr = '';

            var AvailableAtAllMachines = true;
            var AvailableAtOneMachine = false;
            var VendingMachineIdsAvailable = ProductItem.VendingMachineIdsAvailable == null ? [] : ProductItem.VendingMachineIdsAvailable.split(',');

            for (var iMachine = 0; iMachine < CurrentActivity.Machines.length; iMachine++) {
                var MachineId = CurrentActivity.Machines[iMachine].VendingMachineId;
                var Available = false;

                for (var iAvailIndex = 0; iAvailIndex < VendingMachineIdsAvailable.length; iAvailIndex++) {
                    if (VendingMachineIdsAvailable[iAvailIndex] == MachineId) {
                        AvailableAtOneMachine = true;
                        Available = true;

                        AvailableAtStr = AvailableAtStr + CurrentActivity.Machines[iMachine].VendingMachineName + ', ';
                    }
                }

                if (!Available)
                    AvailableAtAllMachines = false;
            }

            if (AvailableAtStr.endsWith(', '))
                AvailableAtStr = AvailableAtStr.substring(0, AvailableAtStr.length - 2);

            // set status in the HTML element
            element.removeClass('actprodstate_active');
            element.removeClass('actprodstate_partlyactive');
            element.removeClass('actprodstate_inactive');

            if (AvailableAtAllMachines) {
                element.addClass('actprodstate_active');
                element.attr('title', 'Available at all chosen machines');
            }
            else if (AvailableAtOneMachine) {
                element.addClass('actprodstate_partlyactive');
                element.attr('title', 'Available only at ' + AvailableAtStr);
            }
            else {
                element.addClass('actprodstate_inactive');
                element.attr('title', 'Currently not available at any of the chosen machines!');
            }
        });
    }

    /*
     * changeQuickStatus
     * -----------------
     */
    function changeQuickStatus(ctrl, onlyupdate) {
        var id = ctrl.data('id');
        var entity = ctrl.data('entity');
        var currentValue = ctrl.data('value');
        var partproduct = null;
        var partmachine = null;
        var product = null;
        var machine = null;

        // check entity
        if (entity == 'product') {
            console.log(id);
            partproduct = getParticipatingProductEntityById(id);
            product = getProductById(partproduct.ProductId);

            if (product != null) {
                if (((product.Status == 9) && (currentValue != 1)) && (!onlyupdate)) {
                    showTooltipOn(ctrl.attr('id'), '此產品目前尚不能在推廣活動中使用');
                    return;
                }
            }
        }

        if (entity == 'machine') {
            partmachine = getParticipatingMachineEntityById(id);
            machine = getMachineById(partmachine.VendingMachineId);

            if (((machine.Status == 9) && (currentValue != 1)) && (!onlyupdate)) {
                showTooltipOn(ctrl.attr('id'), '此販賣機目前尚不能在推廣活動中使用');
                return;
            }
        }

        // update status
        if (typeof onlyupdate == 'undefined' || onlyupdate == null || (!onlyupdate)) {
            if (currentValue == 1)
                currentValue = 9;
            else
                currentValue = 1;
        }

        ctrl.data('value', currentValue);
        ctrl.text(currentValue == 1 ? '顯示' : '隱藏');
        ctrl.attr('class', (currentValue == 1 ? 'status_green' : 'status_red'));

        // update entity
        if (entity == 'product') {
            if (partproduct != null)
                partproduct.Status = currentValue;
        }

        if (entity == 'machine') {
            if (partmachine != null)
                partmachine.Status = currentValue;
        }
    }

    /*
     * changeRedeemableStatus
     * -----------------
     */
    function changeRedeemableStatus(ctrl, onlyupdate) {
        var id = ctrl.data('id');
        var entity = ctrl.data('entity');
        var currentValue = ctrl.data('value');
        var partproduct = null;
        var partmachine = null;
        var machine = null;

        // check entity
        partproduct = getParticipatingProductEntityById(id);

        // update redeemable status
        if (typeof onlyupdate == 'undefined' || onlyupdate == null || (!onlyupdate)) {
            if (currentValue)
                currentValue = false;
            else
                currentValue = true;
        }

        ctrl.data('value', currentValue);
        ctrl.text(currentValue ? '可以' : '不可以');
        ctrl.attr('class', (currentValue ? 'status_green' : 'status_red'));

        // update entity
        if (partproduct != null)
            partproduct.Redeemable = currentValue;
    }

    /*
     * disableInDropDownDataSource
     * ---------------------------
     */
    function disableInDropDownDataSource(dataSource, idColumnName, idValue) {
        var iIndex = -1;
        var currentFilter = dataSource.filter();

        for (var iNr = 0; iNr < currentFilter.filters.length; iNr++) {
            if (currentFilter.filters[iNr].value == idValue) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex < 0) {
            currentFilter.filters.push({
                field: idColumnName,
                operator: 'neq',
                value: idValue
            });

            dataSource.filter(currentFilter);
        }
    }

    function disableProductInDataSource(idColumnName, idValue) {
        var iIndex = -1;

        for (var iNr = 0; iNr < CurrentProductsFilter.length; iNr++) {
            if (CurrentProductsFilter[iNr].value == idValue) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex < 0) {
            CurrentProductsFilter.push({
                field: idColumnName,
                operator: 'neq',
                value: idValue
            });
        }
    }

    /*
     * enableInDropDownDataSource
     * --------------------------
     */
    function enableInDropDownDataSource(dataSource, idColumnName, idValue, useSeparatedFilter) {
        var iIndex = -1;
        var currentFilter = dataSource.filter();

        for (var iNr = 0; iNr < currentFilter.filters.length; iNr++) {
            if (currentFilter.filters[iNr].value == idValue) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex >= 0) {
            currentFilter.filters.splice(iIndex, 1);
            dataSource.filter(currentFilter);
        }
    }

    function enableProductInDataSource(idColumnName, idValue) {
        var iIndex = -1;

        for (var iNr = 0; iNr < CurrentProductsFilter.length; iNr++) {
            if (CurrentProductsFilter[iNr].value == idValue) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex >= 0) {
            CurrentProductsFilter.splice(iIndex, 1);
        }
    }

    /*
     * UpdateProductsAutoCompleteFilter
     * --------------------------------
     * because the kendoAutoComplete control seems not to be designed for having additional filters (they like to design their controls in a quite inflexible way..)
     * we need to "trick" a bit and update the data source filter while taking care about keeping the autocomplete-text-filter the kendoAutoComplete control is using.
     * (Also in their documentation not any word about how to add extra filters..)
     */
    function UpdateProductsAutoCompleteFilter() {
        var currentFilter = ProductsChoiceListDataSource.filter();
        var filtersToRemove = [];

        // check which filters are our extra filters..
        for (var iNr = 0; iNr < currentFilter.filters.length; iNr++) {
            if ((currentFilter.filters[iNr].field == 'ProductId') || (currentFilter.filters[iNr].field == 'StampTypeId1'))
                filtersToRemove.push(iNr);
            if ((typeof currentFilter.filters != 'undefined') && (currentFilter.filters != null))
                filtersToRemove.push(iNr);
        }

        // remove them first..
        for (var iNr = filtersToRemove.length - 1; iNr >= 0; iNr--) {
            currentFilter.filters.splice(filtersToRemove[iNr], 1);
        }

        // and replace them by the new filters..
        for (var iNr = 0; iNr < CurrentProductsFilter.length; iNr++) {
            currentFilter.filters.push(CurrentProductsFilter[iNr]);
        }

        ProductsChoiceListDataSource.filter(currentFilter);
    }


    /*
     * ======================
     * participating PRODUCTS
     * ======================
     */

    function reLoadParticipatingProductsTable() {
        ParticipatingProductsTableDrawn = false;

        ParticipatingProductsTable = DataTableWrapper('#ParticipatingProductsTable', CurrentActivity.Products, {
            columns: [
                {
                    data: 'ProductName',
                    width: '31%',
                    render: function (data, type, full, meta) {
                        return "<span class='productdisplayname' data-productid='" + full.ProductId + "' data-id='" + full.Id + "'>" + escapeHtml(data) + "</span>";
                    }
                },
                {
                    data: 'MerchandiseId',
                    width: '13%',
                    render: function (data, type, full, meta) {
                        return "<span title='ProductId " + full.ProductId + "'>" + data + "</span>";
                    }
                },
                {
                    data: 'Volume',
                    width: '8%'
                },
                {
                    data: 'ProductImageUrl',
                    render: function (data, type, full, meta) {
                        return "<img src='" + full.ProductImageUrl + "' onclick='showImagePopup(this);' height='40' id='prodimg" + full.Id + "'>";
                    },
                    width: '14%'
                },
                {
                    data: 'StampTypeId1',
                    render: function (data, type, full, meta) {
                        return "<img src='" + (full.StampType1ImageUrl != null && full.StampType1ImageUrl.trim() != '' ? full.StampType1ImageUrl : '/images/stamp_empty.jpg') + "' onclick='showImagePopup(this);' title='" + full.StampType1Name + "' height='30' id='prodstampimg" + full.Id + "'>";
                    },
                    width: '11%'
                },
                {
                    data: 'Redeemable',
                    render: function (data, type, full, meta) {
                        return "<div id='redeemable" + full.Id + "' data-value='" + full.Redeemable + "' data-id='" + full.Id + "' data-entity='product' class='" + (full.Redeemable ? "status_green" : "status_red") + "' onclick='changeRedeemableStatus($(this));'>" + (full.Redeemable ? "可以" : "不可以") + "</div>";
                    },
                    width: '9%'
                },
                {
                    data: 'Status',
                    render: function (data, type, full, meta) {
                        return "<div id='productstatus" + full.Id + "' data-value='" + full.Status + "' data-id='" + full.Id + "' data-entity='product' class='" + (full.Status == 1 ? "status_green" : "status_red") + "' onclick='changeQuickStatus($(this));'>" + (full.Status == 1 ? "顯示" : "隱藏") + "</div>";
                    },
                    width: '9%'
                },
                {
                    data: 'Id',
                    width: '5%',
                    render: function (data, type, full, meta) {
                        return '<a class="c-icon c-icon--main u-opacity-50p u-color-omitted" href="javascript:removeParticipatingProduct(' + full.Id + ');">delete</a>';
                    }
                }
            ],
            ondraw: function (e) {
                ParticipatingProductsTableDrawn = true;
                updateProductListStates();
            },
            ordering: false
        });
    }

    function getParticipatingProductEntityById(partprodid) {
        for (var iNr = 0; iNr < CurrentActivity.Products.length; iNr++) {
            if (CurrentActivity.Products[iNr].Id == partprodid)
                return CurrentActivity.Products[iNr];
        }

        return null;
    }

    function getProductById(productid) {
        var productslist = ProductsChoiceListDataSource.data();

        if (productslist.length > 0) {
            for (var iNr = 0; iNr < productslist.length; iNr++) {
                if (productslist[iNr].ProductId == productid)
                    return productslist[iNr];
            }
        }

        return null;
    }

    function addParticipatingProduct() {
        var selectedProduct = $('#ProductsList').data('kendoAutoComplete').dataItem();

        // get a new id
        var newDummyId = -1;
        for (var iNr = 0; iNr < CurrentActivity.Products.length; iNr++) {
            if (CurrentActivity.Products[iNr].Id <= newDummyId)
                newDummyId = CurrentActivity.Products[iNr].Id - 1;
            if (CurrentActivity.Products[iNr].ProductId == selectedProduct.ProductId)
            {
                alert('This product already has been added to the list！');
                return;
            }
        }

        var newProduct = {
            Id: newDummyId,
            InternalId: selectedProduct.InternalId,
            MerchandiseId: selectedProduct.MerchandiseId,
            ProductId: selectedProduct.ProductId,
            ProductName: selectedProduct.ProductName,
            ProductDisplayName: selectedProduct.ProductDisplayName,
            ProductImageUrl: selectedProduct.ProductImageUrl,
            StampTypeId1: selectedProduct.StampTypeId1,
            StampType1ImageUrl: selectedProduct.StampType1ImageUrl,
            StampType1Name: selectedProduct.StampType1Name,
            Volume: selectedProduct.Volume,
            Redeemable: selectedProduct.Redeemable,
            Status: (selectedProduct.Status == 1 ? 1 : 9)
        };

        CurrentActivity.Products.push(newProduct);
        reLoadParticipatingProductsTable();

        disableProductInDataSource('ProductId', selectedProduct.ProductId);
        UpdateProductsAutoCompleteFilter();

        kendoSetValue($('#ProductsList'), null);

        updateProductListStates();
    }

    function removeParticipatingProduct(id) {
        var iIndex = -1;
        for (var iNr = 0; iNr < CurrentActivity.Products.length; iNr++) {
            if (CurrentActivity.Products[iNr].Id == id) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex >= 0) {
            var ProductId = CurrentActivity.Products[iIndex].ProductId;

            CurrentActivity.Products.splice(iIndex, 1);
            reLoadParticipatingProductsTable();
            enableProductInDataSource('ProductId', ProductId);
        }
        else
            console.log('Can not find a participating product with the id ' + id);

        UpdateProductsAutoCompleteFilter();
    }

    /*
     * ======================
     * participating MACHINES
     * ======================
     */

    function reLoadParticipatingMachinesTable() {
        ParticipatingMachinesTableDrawn = false;

        ParticipatingMachinesTable = DataTableWrapper('#ParticipatingMachinesTable', CurrentActivity.Machines, {
            columns: [
                {
                    data: 'VendingMachineName',
                    render: function (data, type, full, meta) {
                        var html = '';

                        if (full.AppStatus == 0)
                            html = data + ' (不顯示)';
                        else
                            html = data;

                        html = '<span title="' + full.MOCCPAssetNo + '">' + html + '</span>';
                        return html;
                    }
                },
                {
                    data: 'VendingMachineLocation'
                },
                {
                    data: 'Status',
                    render: function (data, type, full, meta) {
                        return "<div id='machinestatus" + full.Id + "' data-value='" + full.Status + "' data-id='" + full.Id + "' data-entity='machine' class='" + (full.Status == 1 ? "status_green" : "status_red") + "' onclick='changeQuickStatus($(this));'>" + (full.Status == 1 ? "顯示" : "隱藏") + "</div>";
                    }
                },
                {
                    data: 'Id',
                    render: function (data, type, full, meta) {
                        return '<a class="c-icon c-icon--main u-opacity-50p u-color-omitted" href="javascript:removeParticipatingMachine(' + full.Id + ');">delete</a>';
                    }
                }
            ],
            ondraw: function (e) {
                ParticipatingMachinesTableDrawn = true;
            },
            ordering: false
        });
    }

    function getParticipatingMachineEntityById(partmachineid) {
        for (var iNr = 0; iNr < CurrentActivity.Machines.length; iNr++) {
            if (CurrentActivity.Machines[iNr].Id == partmachineid)
                return CurrentActivity.Machines[iNr];
        }

        return null;
    }

    function getMachineById(machineid) {
        var machineslist = MachinesChoiceListDataSource.data();

        if (machineslist.length > 0) {
            for (var iNr = 0; iNr < machineslist.length; iNr++) {
                if (machineslist[iNr].VendingMachineId == machineid)
                    return machineslist[iNr];
            }
        }

        return null;
    }

    function addParticipatingMachine() {
        var selectedMachine = $('#MachinesList').data('kendoDropDownList').dataItem();

        // get a new id
        var newDummyId = -1;
        for (var iNr = 0; iNr < CurrentActivity.Machines.length; iNr++) {
            if (CurrentActivity.Machines[iNr].Id <= newDummyId)
                newDummyId = CurrentActivity.Machines[iNr].Id - 1;
        }

        var newMachine = {
            Id: newDummyId,
            VendingMachineId: selectedMachine.VendingMachineId,
            VendingMachineName: selectedMachine.VendingMachineName,
            VendingMachineLocation: selectedMachine.VendingMachineLocation,
            MOCCPAssetNo: selectedMachine.MOCCPAssetNo,
            AppStatus: selectedMachine.AppStatus,
            Status: (selectedMachine.Status == 1 ? 1 : 9)
        };

        CurrentActivity.Machines.push(newMachine);
        reLoadParticipatingMachinesTable();

        disableInDropDownDataSource(MachinesChoiceListDataSource, 'VendingMachineId', selectedMachine.VendingMachineId);
        kendoSetValue($('#MachinesList'), null);

        loadProductsListDropDown();
        RemoveAlreadyAddedProductsFromDropDown();

        updateProductListStates();
    }

    function removeParticipatingMachine(id) {
        var iIndex = -1;
        for (var iNr = 0; iNr < CurrentActivity.Machines.length; iNr++) {
            if (CurrentActivity.Machines[iNr].Id == id) {
                iIndex = iNr;
                break;
            }
        }

        if (iIndex >= 0) {
            var MachineId = CurrentActivity.Machines[iIndex].VendingMachineId;

            CurrentActivity.Machines.splice(iIndex, 1);
            reLoadParticipatingMachinesTable();
            enableInDropDownDataSource(MachinesChoiceListDataSource, 'VendingMachineId', MachineId);
        }
        else
            console.log('Can not find a participating vending machine with the id ' + id);

        loadProductsListDropDown();
        RemoveAlreadyAddedProductsFromDropDown();

        updateProductListStates();
    }
</script>