﻿@using VmaBase.Shared
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared

<script type="text/template" id="newsTemplate">
    <div class="o-grid__cell ##gridcellclass## news-cell ##statusclass##" id="##id##" data-element-nr="##elenr##" data-newsid="##newsid##" data-status="##newsstatus##" data-readonly="##newsreadonly##">
        <div class="c-portlet u-bg-light u-shadow-mini">
            <div class="c-portlet__header o-stack o-stack--center o-stack--splitted u-border-bottom u-px-small u-py-mini">
                <div class="o-stack__cell">
                    <h5 name="newsticker_title">##newsdate##</h5>
                </div>
                <div class="o-stack__cell">
                    <!-- Settings Menu -->
                    <div class="o-stack o-stack--center o-stack--nowrap o-stack--tinyGap u-font-small">
                        <div class="o-stack__cell u-relative">
                            <div class="fn-dropdownTrigger"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="#">settings</a></div>
                            <ul class="c-menu c-menu--dropdown u-r-none">
                                <li class="c-menu__item">
                                    <a class="c-menu__link" href="javascript:openNewsEditor(##newsid##, ##elenr##);">
                                        <span class="c-menu__text">編輯新聞</span>
                                    </a>
                                </li>
                                <li class="c-menu__item" id="mnuitm_add_to_banners" style="display:##addtobanners_display##;">
                                    <a class="c-menu__link" href="javascript:addToBannersModular(##newsid##);">
                                        <span class="c-menu__text">加入輪播</span>
                                    </a>
                                </li>
                                <li class="c-menu__item" id="mnuitm_remove_from_banners" style="display:##removefrombanners_display##;">
                                    <a class="c-menu__link" href="javascript:removeFromBannersModular(##newsid##);">
                                        <span class="c-menu__text">從輪播移除</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="o-stack__cell u-relative" style="display:##removenews_display##"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="javascript:deleteNewsModular(##newsid##);">delete</a></div>
                    </div>
                </div>
            </div>
            <div class="c-portlet__content u-m-tiny">
                <!-- Contents Template -->
                <div class="o-stack__cell u-font-bold mdm-sc-title" onclick="openNewsEditor(##newsid##, ##elenr##);">
                    ##title##
                </div>
                <div class="o-stack__cell mdm-sc-image-regular">
                    <img src="##newsimage_url##" id="newsimage##newsid##" onclick="openNewsEditor(##newsid##, ##elenr##);" />
                </div>
                <div class="o-stack__cell mdm-sc-text-3lines" onclick="openNewsEditor(##newsid##, ##elenr##);">
                    <span>
                        ##newscontent##
                    </span>
                </div>
                <div class="o-stack__cell mdm-sc-statusline">
                    <div id="cell_news_status_##newsid##" class="status_##statuscolor##" style="cursor: pointer;" onmousedown="changeStatusModularBegin(##newsid##, '##categorycode##')" onmouseup="changeStatusModularEnd(##newsid##)" onmouseout="changeStatusModularEnd(##newsid##)" data-limit-starttime="##limitstarttime##" data-limit-endtime="##limitendtime##">
                        ##statustext##
                    </div>
                    <div class="status_red" id="news_banner_status" style="display: ##bannerstatus_display##;">
                        Banner
                    </div>
                    <div class="news_status_daterange">
                        ##statusdaterange##
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    var NewsInletsCount = 0;

    function loadNewsModular(pageNr)
    {
        CurrentPageNr = pageNr;

        showLoader();

        // load data
        getRemoteData('/News/AjaxGetNewsList?IncludeContent=true&Paging=true&MaxItems=8&Page=' + pageNr, 'News', function (data, result) {
            emptyMasonryGrid();
            NewsInletsCount = 0;

            for (var iItem = 0; iItem < data.length; iItem++) {
                var NewsEntry = data[iItem];

                addNewsInlet(NewsEntry, iItem + 1);
            }

            adjustLayoutAfterImagesLoaded(".mdm-sc-image-regular > img");
            applyTriggers();

            ContextPagingPanel(pageNr, result.TotalPages, toPage);
        });
    }
</script>

<script>
    function addNewsInlet(NewsEntry, ItemNr, insertBefore, addVersionToImage)
    {
        var imageUrl = ((NewsEntry.DetailImageUrl != 'undefined') && (NewsEntry.DetailImageUrl != null)) ? NewsEntry.DetailImageUrl : "/images/noimage.png";
        if (addVersionToImage)
            imageUrl = imageUrl + '?v=' + (((new Date()) * 10000));

        var dateRangeText = '';
        if ((NewsEntry.LimitStartTime != null) || (NewsEntry.LimitEndTime != null))
        {
            dateRangeText = '(';
            if (NewsEntry.LimitStartTime != null)
                dateRangeText += "從 " + jsonDateToDateTimeString(NewsEntry.LimitStartTime) + ' ';
            if (NewsEntry.LimitEndTime != null)
                dateRangeText += "到 " + jsonDateToDateTimeString(NewsEntry.LimitEndTime);
            if (dateRangeText.endsWith(' '))
                dateRangeText = dateRangeText.substring(0, dateRangeText.length - 1);
            dateRangeText += ')';
        }

        AddMasonryInlet('newsTemplate', insertBefore, 'newsitem' + ItemNr,
                 NewsEntry.Title,
                 'newsdate: ' + jsonDateToDateTimeString(NewsEntry.CreateTime) + (NewsEntry.ReadOnly || NewsEntry.Author == null ? '' : '(' + NewsEntry.Author + ')') + ' 「' + NewsEntry.CategoryName + '」',
                 'categorycode: ' + NewsEntry.CategoryCode,
                 'newsid: ' + NewsEntry.Id,
                 'elenr: ' + ItemNr,
                 'newsstatus: ' + NewsEntry.Online,
                 'statusclass: ' + (NewsEntry.Online ? '' : 'ticker_disabled'),
                 'newsimage_url: ' + imageUrl,
                 'newscontent: ' + NewsEntry.Content,
                 'newsreadonly: ' + (NewsEntry.ReadOnly ? '1' : '0'),
                 'statustext: ' + (NewsEntry.Online ? 'Online' : (NewsEntry.CategoryCode == '@(VmaBase.Shared.GlobalConst.NewsCategory_Activities)' ? (NewsEntry.ActivityStatus == @((int)ActivityStatus.Closed) ? '活動結束' : '活動下架') : 'Offline')),
                 'limitstarttime: ' + jsonDateToDate(NewsEntry.LimitStartTime),
                 'limitendtime: ' + jsonDateToDate(NewsEntry.LimitEndTime),
                 'statusdaterange: ' + dateRangeText,
                 'statuscolor: ' + (NewsEntry.Online ? 'green' : 'gray'),
                 'bannerstatus_display: ' + (NewsEntry.IsTicker ? 'block' : 'none'),
                 'addtobanners_display: ' + (NewsEntry.IsTicker || (!NewsEntry.Online) ? 'none' : 'block'),
                 'removefrombanners_display: ' + (NewsEntry.IsTicker && NewsEntry.Online ? 'block' : 'none'),
                 'removenews_display: ' + (NewsEntry.ReadOnly ? 'none' : 'block'));

        NewsInletsCount++;
    }

    function insertNewsInlet(beforeItemNr, NewsEntry, ItemNr)
    {
        var gridCellInsertBefore = getMasonryGrid().find("[data-element-nr=" + (beforeItemNr) + "]");

        addNewsInlet(NewsEntry, ItemNr, gridCellInsertBefore.attr('id'), true);
        reorderElementNumbers();
        applyTriggers();
    }

    function replaceNewsInlet(NewsEntry, ItemNr)
    {
        var gridCell = getMasonryGrid().find("[data-element-nr='" + ItemNr + "']");
        var gridCellNext = getMasonryGrid().find("[data-element-nr=" + (ItemNr + 1) + "]");

        if (gridCell.length <= 0)
            alert('Internal error! Can not find element nr ' + ItemNr);

        gridCell.remove();

        var insertBefore = '';
        if (gridCellNext != null)
            insertBefore = gridCellNext.attr('id');

        addNewsInlet(NewsEntry, ItemNr, insertBefore, true);
        applyTriggers();
    }

    function removeLastNewsInlet()
    {
        var element = getMasonryGrid().find("[data-element-nr=" + NewsInletsCount + "]");
        if (element.length > 0)
        {
            element.remove();
            NewsInletsCount = NewsInletsCount - element.length;
        }
    }

    function reorderElementNumbers()
    {
        // renumber the elements
        var elements = getMasonryGrid().find("o-grid__cell");
        var ElementNr = 1;

        elements.each(function (index) {
            $(this).data('element-nr', ElementNr);
            ElementNr++;
        });
    }
</script>

<script>
    function deleteNewsModular(NewsId)
    {
        var gridCell = getMasonryGrid().find('[data-newsid=' + NewsId + ']');
        if (gridCell.data('readonly') == 0)
        {
            gridCell.find('.c-portlet').css('border', '3px solid red');

            if (confirm('Are you sure you want to delete this news article?'))
            {
                postData('/News/AjaxDeleteNews', 'Delete News Article', { NewsId: NewsId }, function(data) {
                    gridCell.remove();

                    loadNews(CurrentPageNr);
                });
            }

            gridCell.find('.c-portlet').css('border', '');
        }
        else
            alert('Sorry! Delete not possible for crawled news items!');
    }

    function removeFromBannersModular(NewsId)
    {
        var gridCell = getMasonryGrid().find('[data-newsid=' + NewsId + ']');
        showLoader();

        postData('/News/AjaxDeleteNewsTicker', 'Delete News Ticker', { NewsId: NewsId }, function(data) {
            gridCell.find('#news_banner_status').css('display', 'none');
            gridCell.find('#mnuitm_remove_from_banners').css('display', 'none');
            gridCell.find('#mnuitm_add_to_banners').css('display', 'block');

            hideLoader();
        });
    }

    function addToBannersModular(NewsId)
    {
        var gridCell = getMasonryGrid().find('[data-newsid=' + NewsId + ']');
        showLoader();

        postData('/News/AjaxAddNewsTicker', 'Add News-Ticker', { NewsId: NewsId }, function (data) {
            gridCell.find('#news_banner_status').css('display', 'block');
            gridCell.find('#mnuitm_remove_from_banners').css('display', 'block');
            gridCell.find('#mnuitm_add_to_banners').css('display', 'none');

            hideLoader();
        });
    }
</script>

<script>
    /*
     * Direct Status Change Logic
     * ==========================
     * makes it possible to directly change the status in the widgets list
     */

    var StatusClickBegan = false;
    var StatusClickFinishTimeout = null;

    function changeStatusModularBegin(NewsId, CategoryCode)
    {
        StatusClickBegan = true;
        var statusElement = getMasonryGrid().find('[data-newsid=' + NewsId + ']').find('#cell_news_status_' + NewsId);
        var currentStatus = getMasonryGrid().find('[data-newsid=' + NewsId + ']').data('status');

        var limitStartTime = statusElement.data('limit-starttime');
        var limitEndTime = statusElement.data('limit-endtime');

        if ((limitStartTime == null) && (limitEndTime == null))
        {
            statusElement.data('orig-color', statusElement.css('color'));
            statusElement.css('cursor', 'hand');
            statusElement.removeClass('status_changing');
            statusElement.addClass('status_changing');
            statusElement.animate({ color: (currentStatus == 1 ? 'gray' : 'green') }, 2000);

            StatusClickFinishTimeout = setTimeout(function (e) {
                if (StatusClickBegan)
                {
                    StatusClickBegan = false;
                    doStatusChangeModular(NewsId, statusElement, CategoryCode);
                }
            }, 2200);
        }
        else
        {
            showTooltipOn('cell_news_status_' + NewsId, '本狀態會由系統根據發佈日期自動變更');
        }
    }

    function changeStatusModularEnd(NewsId)
    {
        if (StatusClickBegan)
        {
            var statusElement = getMasonryGrid().find('[data-newsid=' + NewsId + ']').find('#cell_news_status_' + NewsId);
            statusElement.stop();
            statusElement.css('color', statusElement.data('orig-color'));
            statusElement.css('cursor', 'pointer');
            statusElement.removeClass('status_changing');

            StatusClickBegan = false;
            clearTimeout(StatusClickFinishTimeout);
        }
    }

    function doStatusChangeModular(NewsId, statusElement, CategoryCode)
    {
        showLoader();

        var currentStatus = getMasonryGrid().find('[data-newsid=' + NewsId + ']').data('status');
        var gridCell = getMasonryGrid().find('[data-newsid=' + NewsId + ']');
        var NewOnlineFlag = (currentStatus == 1 ? false : true);

        statusElement.removeClass('status_changing');

        postData('/News/AjaxChangeNewsStatus', 'Change News Status', { NewsId: NewsId, Online: NewOnlineFlag },
            function(data, result) {
                statusElement.css('color', '');

                // success
                if (NewOnlineFlag)
                {
                    statusElement.text('Online');
                    statusElement.removeClass('status_gray');
                    statusElement.addClass('status_green');

                    gridCell.data('status', 1);
                    gridCell.removeClass('ticker_disabled');

                    gridCell.find('#mnuitm_remove_from_banners').css('display', gridCell.find('#news_banner_status').css('display'));
                    gridCell.find('#mnuitm_add_to_banners').css('display', gridCell.find('#news_banner_status').css('display') == 'none' ? 'block' : 'none');
                }
                else
                {
                    if (CategoryCode == '@(VmaBase.Shared.GlobalConst.NewsCategory_Activities)') {
                        statusElement.text("活動結束");
                    }
                    else {
                        statusElement.text("Offline");
                    }

                    statusElement.removeClass('status_green');
                    statusElement.addClass('status_gray');

                    gridCell.data('status', 0);
                    gridCell.removeClass('ticker_disabled');
                    gridCell.addClass('ticker_disabled');

                    gridCell.find('#mnuitm_remove_from_banners').css('display', 'none');
                    gridCell.find('#mnuitm_add_to_banners').css('display', 'none');
                }

                statusElement.css('cursor', 'pointer');
                hideLoader();
            },
            function() {
                // cancelled
                statusElement.css('color', statusElement.data('orig-color'));
                statusElement.css('cursor', 'pointer');
                hideLoader();
            });
    }
</script>