﻿@using VmaBase.Shared
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared

@{
    ViewBag.Title = "NewsManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Html.Partial("NewsManagement_Modular")
    @Html.Partial("NewsManagement_ListView")
    @Html.Partial("NewsManagement_EditPopup")

    <script>          
        var NewsImageUploaded = false;
        var CurrentPageNr = 1;
        var IsListView = false;
              
        /*
         * loadNews
         * ========
         */

        function loadNews(pageNr)
        {
            if (IsListView)
                loadNewsListView(pageNr);
            else
                loadNewsModular(pageNr);
        }

        function toPage(pageNr)
        {            
            loadNews(pageNr);
        }

        /*
         * Switch between List and Modular View
         * ------------------------------------
         */

        function switchToListView()
        {
            emptyMasonryGrid();
            
            IsListView = true;
            loadNews(1);
        }

        function switchToWidgetView()
        {
            emptyMasonryGrid();
            
            IsListView = false;
            loadNews(1);
        }
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            // init tooltip
            loadNews(1);

            clearContextButtons();
            addContextButton('ctxAdd', 'add_circle', 'javascript:openNewsEditor(0)', '新增文章');
            addContextButton('ctxListWiew', 'view_list', 'javascript:switchToListView()', '清單模式');
            addContextButton('ctxWidgetView', 'view_module', 'javascript:switchToWidgetView()', '圖片模式');
        </script>
</text>)