﻿@using VmaBase.Shared
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared

<script type="text/template" id="dataTableTemplate">
    <div class="o-grid__cell u-width-100p@lg+ u-width-100p@xlg+ u-11/12@hd+" id="news_datatable_cell">
        <div class="c-portlet u-bg-light u-shadow-mini">
            <div class="c-portlet__header o-stack o-stack--center o-stack--splitted u-border-bottom u-px-small u-py-mini">
                <div class="o-stack__cell">
                    <h5>Data Tables</h5>
                </div>
                <div class="o-stack__cell">
                    <div class="o-stack o-stack--center o-stack--nowrap o-stack--tinyGap u-font-small">
                        <div class="o-stack__cell u-relative"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="javascript:loadNewsListView(CurrentPageNr);">refresh</a></div>
                        <div class="o-stack__cell u-relative"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="javascript:switchToWidgetView();">clear</a></div>
                    </div>
                </div>
            </div>
            <div class="c-portlet__content u-p-small u-overflow-hidden">
                <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="news_table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <!-- <th><input type="checkbox" class="k-checkbox" id="news_select_all" value="0" /><label for="news_select_all" class="k-checkbox-label"></label> </th> -->
                            <th style="text-align: center; width: 10%;">日期</th>
                            <th style="text-align: center; width: 20%;">標題</th>
                            <th style="text-align: center; width: 39%;">內容</th>
                            <th style="text-align: left; padding-left: 10px; width: 10%;">狀態</th>
                            <th style="text-align: left; width: 16%;">發佈時間</th>
                            <th style="width: 5%;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</script>

<script>
    var NewsListViewDataTable = null;

    function loadNewsListView(pageNr)
    {
        showLoader();

        if (getMasonryGrid().find('#news_datatable_cell').length <= 0)
            getMasonryGrid().append($('#dataTableTemplate').html());

        CurrentPageNr = pageNr;

        getRemoteData('/News/AjaxGetNewsList?IncludeContent=true&Paging=true&MaxItems=20&Page=' + pageNr, 'News', function (data, result) {
            if (NewsListViewDataTable != null)
                NewsListViewDataTable.destroy();
            NewsListViewDataTable = null;

            NewsListViewDataTable = $('#news_table').DataTable({
                data: data,
                columns: [
                    /*{
                        data: "Id",
                        render: function (data, type, full, meta) {
                            return '<input type="checkbox" class="k-checkbox" id="news_select_' + data + '" value="' + data + '" />';
                        }
                    },*/
                    {
                        data: "CreateTime",
                        render: function (data, type, full, meta) {
                            return "<a class='c-link' href='javascript:openNewsEditor(" + full.Id + ", 0);'>" + jsonDateToDateTimeString(data) + "</a>";
                        }
                    },
                    {
                        data: "Title",
                        render: function (data, type, full, meta) {
                            return "<a class='c-link' href='javascript:openNewsEditor(" + full.Id + ", 0);'>" + data + "</a>";
                        }
                    },
                    {
                        data: "Content",
                        render: function (data, type, full, meta) {
                            return maxLenStr(data, 50, ' ..');
                        }
                    },
                    {
                        data: "Online",
                        render: function (data, type, full, meta) {
                            return "<div class='newslist_status_" + (data == true ? 'green' : 'gray') + "' id='newsstatus" + full.Id + "' data-status='" + (data == true ? 1 : 0) + "' " +
                                   "onmousedown='changeStatusListViewBegin(" + full.Id + ", \"" + full.CategoryCode + "\")' onmouseup='changeStatusListViewEnd(" + full.Id + ", \"" + full.CategoryCode + "\")' onmouseout='changeStatusListViewEnd(" + full.Id + ")'>" +
                                    (data == true ? 'Online' : (full.CategoryCode == '@(VmaBase.Shared.GlobalConst.NewsCategory_Activities)' ? (full.ActivityStatus == @(((int)ActivityStatus.Closed).ToString()) ? '活動結束' : '活動下架') : 'Offline')) +
                                   "</div>" +
                                   "<div class='newslist_isbanner' id='newslist_isbanner" + full.Id + "' data-isbanner='" + (full.IsTicker ? 1 : 0) + "'>" + (full.IsTicker ? 'Banner' : '&nbsp;') + "</div>";
                        }
                    },
                    {
                        data: "LimitStartTime",
                        render: function (data, type, full, meta) {
                            var limitStartTime = jsonDateToDateTimeString(full.LimitStartTime);
                            var limitEndTime = jsonDateToDateTimeString(full.LimitEndTime);
                            var limitDateText = '';

                            if ((limitStartTime != null) || (limitEndTime != null))
                            {
                                if (limitStartTime != null)
                                    limitDateText += '從 ' + limitStartTime + ' ';
                                if (limitEndTime != null)
                                    limitDateText += '到 ' + limitEndTime;
                                if (limitDateText.endsWith(' '))
                                    limitDateText = limitDateText.substring(0, limitDateText.length - 1);
                            }

                            return "<div class='newslist_limitdate' id='limittime" + full.Id + "' data-limit-starttime='" + full.LimitStartTime + "' data-limit-endtime='" + full.LimitEndTime + "'>" + limitDateText + "</div>";
                        }
                    },
                    {
                        data: "Id",
                        render: function (data, type, full, meta) {
                            var buttons = '';

                            if (!full.ReadOnly)
                                buttons += '<a class="c-icon c-icon--main u-opacity-50p u-color-minor" href="javascript:deleteNewsListView(' + data + ');">delete</a>';
                            else
                                buttons += '<a class="c-icon c-icon--main u-opacity-50p u-color-omitted" href="javascript:alert(\'not possible for crawled articles!\');">delete</a>';

                            buttons += '<a id="newslist_togglebanner_link' + data + '" data-newsid="' + data + '" data-category="' + full.CategoryCode + '" data-actstatus="' + full.ActivityStatus + '" class="c-icon c-icon--main u-opacity-50p u-color-minor togglenews-link" href= "#" > dummy</a > ';
                            return buttons;
                        }
                    },
                ],
                language: {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "lengthMenu": "顯示 _MENU_ 項結果",
                    "zeroRecords": "沒有符合的結果",
                    "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                    "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                    "infoFiltered": "(從 _MAX_ 項結果中過濾)",
                    "infoPostFix": "",
                    "search": "搜尋:",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "«",
                        "next": "»",
                        "last": "最後一頁"
                    },
                    "aria": {
                        "sortAscending": ": 升冪排列",
                        "sortDescending": ": 降冪排列"
                    }
                },
                //dom: "lfrti", // defines what UI elements to show on the datatable
                deferRender: false,
                scroller: false,
                scrollCollapse: true,
                filter: true,
                ordering: false,
                colReorder: true,
                paginate: false
            }).on('draw.dt', function () {
                $('.togglenews-link').each(function (e) {
                    updateStatus($(this).data('newsid'), $(this).data('category'), $(this).data('actstatus'));
                });
            });

            NewsListViewDataTable.draw();

            ContextPagingPanel(pageNr, result.TotalPages, toPage);

            adjustLayout();
            hideLoader();
        });
    }

    function updateStatus(NewsId, CategoryCode, ActivityStatus)
    {
        var statusElement = $('#newsstatus' + NewsId);
        var isBannerElement = $('#newslist_isbanner' + NewsId);
        var toggleBannerLink = $('#newslist_togglebanner_link' + NewsId);

        var Online = statusElement.data('status') == 1;
        var IsTicker = isBannerElement.data('isbanner') == 1;

        if (Online)
        {
            // Online
            statusElement.text("Online");
            statusElement.removeClass("newslist_status_green");
            statusElement.removeClass("newslist_status_gray");
            statusElement.addClass("newslist_status_green");

            toggleBannerLink.removeClass("u-color-minor");
            toggleBannerLink.removeClass("u-color-omitted");
            toggleBannerLink.addClass("u-color-minor");

            if (IsTicker)
            {
                isBannerElement.html("Banner");

                toggleBannerLink.text('remove_circle');
                toggleBannerLink.attr('href', 'javascript:removeFromBannersListView(' + NewsId + ', "' + CategoryCode + '", ' + ActivityStatus + '); ');
            }
            else
            {
                isBannerElement.html("&nbsp;");

                toggleBannerLink.text('add_circle');
                toggleBannerLink.attr('href', 'javascript:addToBannersListView(' + NewsId + ', "' + CategoryCode + '", ' + ActivityStatus + ');');
            }
        }
        else
        {
            // Offline
            if (CategoryCode == '@(VmaBase.Shared.GlobalConst.NewsCategory_Activities)') {
                if (ActivityStatus == @((int)ActivityStatus.Closed))
                    statusElement.text("活動結束");
                else
                    statusElement.text("活動下架");
            }
            else {
                statusElement.text("Offline");
            }

            statusElement.removeClass("newslist_status_green");
            statusElement.removeClass("newslist_status_gray");
            statusElement.addClass("newslist_status_gray");

            isBannerElement.html("&nbsp;");

            toggleBannerLink.removeClass("u-color-minor");
            toggleBannerLink.removeClass("u-color-omitted");
            toggleBannerLink.addClass("u-color-omitted");

            toggleBannerLink.text('add_circle');
            toggleBannerLink.attr('href', 'javascript:alert("This news can not be added to the banners because it is Offline!")');
        }
    }

    function removeFromBannersListView(NewsId, CategoryCode, ActivityStatus) {
        var isBannerElement = $('#newslist_isbanner' + NewsId);

        showLoader();

        postData('@Utils.APIServerUrl("api/vma/news/delete_banner")', 'Delete News Ticker', { NewsId: NewsId }, function (data) {            
            isBannerElement.data('isbanner', 0); // set banner to 'removed'
            updateStatus(NewsId, CategoryCode, ActivityStatus);

            hideLoader();
        });
    }

    function addToBannersListView(NewsId, CategoryCode, ActivityStatus) {
        var isBannerElement = $('#newslist_isbanner' + NewsId);
        showLoader();

        postData('@Utils.APIServerUrl("api/vma/news/add_ticker")', 'Add News-Ticker', { NewsId: NewsId }, function (data) {
            isBannerElement.data('isbanner', 1); // set banner to 'is banner'
            updateStatus(NewsId, CategoryCode, ActivityStatus);

            hideLoader();
        });
    }
</script>

<script>
    /*
     * Direct Status Change Logic
     * ==========================
     * makes it possible to directly change the status in the widgets list
     */

    var StatusClickListViewBegan = false;
    var StatusClickListViewFinishTimeout = null;

    function changeStatusListViewBegin(NewsId, CategoryCode)
    {
        StatusClickListViewBegan = true;
        var statusElement = $('#newsstatus' + NewsId);
        var currentStatus = statusElement.data('status');
        var limitElement = $('#limittime' + NewsId);

        var limitStartTime = jsonDateToDate(limitElement.data('limit-starttime'));
        var limitEndTime = jsonDateToDate(limitElement.data('limit-endtime'));

        if ((limitStartTime == null) && (limitEndTime == null)) {
            statusElement.data('orig-color', statusElement.css('color'));
            statusElement.css('cursor', 'hand');
            statusElement.removeClass('newslist_status_changing');
            statusElement.addClass('newslist_status_changing');
            statusElement.animate({ color: (currentStatus == 1 ? 'gray' : 'green') }, 2000);

            StatusClickListViewFinishTimeout = setTimeout(function (e) {
                if (StatusClickListViewBegan) {
                    StatusClickListViewBegan = false;
                    doStatusChangeListView(NewsId, currentStatus, CategoryCode);
                }
            }, 2200);
        }
        else {
            showTooltipOn('newsstatus' + NewsId, '本狀態會由系統根據發佈日期自動變更');
        }
    }

    function changeStatusListViewEnd(NewsId, CategoryCode)
    {
        if (StatusClickListViewBegan)
        {
            var statusElement = $('#newsstatus' + NewsId);
            statusElement.stop();
            statusElement.css('color', statusElement.data('orig-color'));
            statusElement.css('cursor', 'pointer');
            statusElement.removeClass('newslist_status_changing');

            StatusClickListViewBegan = false;
            clearTimeout(StatusClickListViewFinishTimeout);
        }
    }

    function doStatusChangeListView(NewsId, currentStatus, CategoryCode)
    {
        showLoader();

        var statusElement = $('#newsstatus' + NewsId);
        var NewOnlineFlag = (currentStatus == 1 ? false : true);

        statusElement.removeClass('status_changing');

        postData('/News/AjaxChangeNewsStatus', 'Change News Status', { NewsId: NewsId, Online: NewOnlineFlag },
            function(data, result) {
                statusElement.css('color', '');

                // success
                statusElement.css('cursor', 'pointer');
                statusElement.removeClass('newslist_status_changing');
                statusElement.data('status', NewOnlineFlag ? 1 : 0);

                updateStatus(NewsId, CategoryCode, (NewOnlineFlag ? @((int)ActivityStatus.Active) : @((int)ActivityStatus.Closed)));

                hideLoader();
            },
            function() {
                // cancelled
                statusElement.removeClass('newslist_status_changing');
                statusElement.css('color', statusElement.data('orig-color'));
                statusElement.css('cursor', 'pointer');
                hideLoader();
            });
    }

    function deleteNewsListView(NewsId)
    {       
        if (confirm('Are you sure you want to delete this news article?')) {
            postData('/News/AjaxDeleteNews', 'Delete News Article', { NewsId: NewsId }, function (data) {
                loadNewsListView(CurrentPageNr);
            });
        }
    }
</script>