﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="AppUsersTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center; display: none;" data-property="UID" data-visible="no">UID</th>
                    <th style="text-align: center;" data-property="Account" data-column-width="5%" data-edit="0" data-edit-type="text" data-onrender="RenderAccountColumn">帳號</th>
                    <th style="text-align: center;" data-property="ImageUrl" data-column-width="5%" data-edit="1" data-edit-readonly="true" data-edit-type="image" data-image-width="0" data-image-height="50">圖片</th>
                    <th style="text-align: center;" data-property="Nickname" data-column-width="9%" data-edit="0" data-edit-type="text">暱稱</th>
                    <th style="text-align: center;" data-property="Name" data-column-width="9%" data-edit="0" data-edit-type="text">名字</th>
                    <th style="text-align: center;" data-property="Gender" data-visible="no" data-edit="1" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(GenderTypes))">性別</th>
                    <th style="text-align: center;" data-property="GenderDisplayText" data-column-width="4%" data-edit="0" data-edit-type="text">性別</th>
                    <th style="text-align: center;" data-property="Age" data-column-width="4%" data-edit="5" data-edit-type="numeric" data-edit-width="12ch">年齡</th>
                    <th style="text-align: center;" data-property="Phone" data-column-width="8%" data-edit="0" data-edit-type="text">手機號碼</th>
                    <th style="text-align: center;" data-property="Email" data-column-width="13%" data-edit="0" data-edit-type="text">Email</th>
                    <th style="text-align: center;" data-property="LastLoginTime" data-column-width="6%" data-edit="0" data-format="date">上次登入</th>
                    <th style="text-align: center;" data-property="CreateTime" data-column-width="6%" data-edit="0" data-format="date" data-edit-type="text">註冊日期</th>
                    <th style="text-align: center;" data-property="PointsTotal" data-column-width="20%" data-edit="0" data-format="integer" data-edit-type="text" data-onrender="RenderPointsColumn">積分</th>
                    <th style="text-align: center;" data-property="Status" data-column-width="6%" data-edit="1" data-edit-type="dropdown" data-edit-width="100" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(Kooco.Framework.Models.Enum.UserStatus))">Status</th>
                    <th style="text-align: center;" data-property="ButtonsId" data-column-width="5%" data-onrender="RenderButtonsColumn"></th>
                </tr>
            </thead>
        </table>
    </script>
}

<div id="StampTypeSelector" class="prodstamptypesel_popup">
    <div class="prodstamptypesel_itmcontainer">

    </div>
    <div class="prodstamptypesel_buttons">
        <div class="prodstamptypesel_button">
            <a href="javascript:void(0);" onclick="$('.prodstamptypesel_popup').hide()"><img src="~/images/close.png" /></a>
        </div>
    </div>
</div>

<div id="SendPushMessagePopup" class="k-popup maxima-texteditpopup" style="display: none;">
    <div class="pop-stack-cell">
        <div class="pop-c-lbl">
            <label>消息:</label>
        </div>
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inp">
            <textarea type="text" class="k-textbox pop-c-textarea" id="PushMessageContent"></textarea>
        </div>
    </div>
    <div class="pop-buttonline" id="MaximaTextEditPopupButtonsContainer">
        <div class="pop-button">
            <button type="button" name="save" id="SendPushMessageButtonOk">發送</button>
        </div>
        <div class="pop-button">
            <button type="button" name="cancel" id="SendPushMessageButtonCancel">取消</button>
        </div>
    </div>
</div>

<div id="UserActivityStampsPopup" class="newspopup k-popup pop-container" style="display: none;">
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            會員 Account Id:
        </div>
        <div class="pop-c-text">
            <span id="ActivityStampsUserAccount"></span>
        </div>
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            會員暱稱:
        </div>
        <div class="pop-c-text">
            <span id="ActivityStampsUserNickname"></span>
            <input type="hidden" id="ActivityStampsUID" />
        </div>
    </div>
    <div class="pop-stack-cell">
        &nbsp;
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            活動:
        </div>
        <div class="pop-c-inpdd">
            <input id="ActivityListDropDown" />
        </div>
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            完成集的贈飲券:
        </div>
        <div class="pop-c-text">
            <span id="ActivityStampsCouponsCompleted"></span>
        </div>
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            正在集的贈飲券-印花數:
        </div>
        <div class="pop-c-text">
            <span id="ActivityStampsCurrentCouponStampsCount"></span>
        </div>
    </div>
    <div class="pop-stack-cell">
        &nbsp;
    </div>
    <div>
        <div class="pop-c-inplbl">
            印花:
        </div>
        <div class="pop-c-inp" style="padding-right: 20px;">
            <input id="ActivityStampsStampListDropDown" class="stampseldd" style="width: 90px;" />
        </div>
        <div class="pop-c-button">
            <input type="button" id="ActivityStampsAddStampButton" value="加印花" />
        </div>
    </div>
    <div class="pop-buttonline">
        <div class="pop-button">
            <button type="button" name="cancel" id="ActivityStampsCloseButton">關閉</button>
        </div>
    </div>
</div>

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            loadUsers();

            refreshLoginTicket();
        </script>
</text>)

<script type="text/javascript">
    var StampAddButtonLocked = false;
    var StampAddLockTimer = null;

    function loadUsers(pageNr) {
        addContextButton('sendBroadcastMessage', 'record_voice_over', 'javascript:openNotificationPopup(null, null)', '發送消息給所有的會員');

        MaximaPageManager.init({
            IdColumnName: "UID",
            GetDataUrl: "/AppUsers/AjaxGetList",
            GetPropertyUrl: "/AppUsers/AjaxGetProperty",
            SavePropertyUrl: "/AppUsers/AjaxSaveProperty",
            CanDelete: false,
            CanExport: true,

            AddExcelExportColumns: {
                ImageUrl: { Hide: true },
                CompletedCouponsCount: { Label: '贈飲券', After: 'PointsTotal' },
                ButtonsId: { Hide: true }
            },

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: true,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: 'Account,Nickname,Gender,Age[fromto],Phone,Status',
            InitialFilter: {
            },
            FilterDirectMode: true,

            DataTableItemTemplateId: 'AppUsersTableTemplate',
            ItemsPerPage: 10,
        });
    }

    function RenderAccountColumn(eventArgs)
    {
        eventArgs.Html = '<span title="UID ' + eventArgs.ColumnValues['UID'] + '">' + eventArgs.Html + '</span>';
    }

    /*
     * RenderPointsColumn
     * ------------------
     */
    function RenderPointsColumn(eventArgs)
    {
        var points = ((eventArgs.ColumnValues['PointsTotal'] == null) ? 0 : eventArgs.ColumnValues['PointsTotal']);
        var couponsCount = ((eventArgs.ColumnValues['CompletedCouponsCount'] == null) ? 0 : eventArgs.ColumnValues['CompletedCouponsCount']);
        var lotteryCoins = ((eventArgs.ColumnValues['LotteryCoinsTotal'] == null) ? 0 : eventArgs.ColumnValues['LotteryCoinsTotal']);
        var lotteryPricesWon = ((eventArgs.ColumnValues['LotteryPricesWon'] == null) ? 0 : eventArgs.ColumnValues['LotteryPricesWon']);
        var watersportsCoins = ((eventArgs.ColumnValues['WatersportsCoinsTotal'] == null) ? 0 : eventArgs.ColumnValues['WatersportsCoinsTotal']);
        var watersportsPricesWon = ((eventArgs.ColumnValues['WatersportsPricesWon'] == null) ? 0 : eventArgs.ColumnValues['WatersportsPricesWon']);

        var html = '<div class="appusr_statscol">';
        html += '  <div class="appusr_statsgroup">';
        html += '    <div class="statsicon">';
        html += '       <img src="/images/points.png" title="積分" />';
        html += '    </div>';
        html += '    <div class="stats_5numbers">'
        html += '       <span id="appusr_points_' + eventArgs.ColumnValues['UID'] + '">' + points.toLocaleString() + '</span>';
        html += '    </div>';
        html += '    <div class="statsbutton">';
        html += '       <a href="javascript:void(0);" onclick="OpenPointsAdder(' + eventArgs.ColumnValues['UID'] + ', \'' + eventArgs.ColumnValues['Nickname'] + '\', \'' + eventArgs.ColumnValues["Account"] + '\')" class="c-icon c-icon--main u-color-major u-opacity-50p">add_circle</a>';
        html += '    </div>';
        html += '  </div>';
        html += '  <div class="appusr_statsgroup">';
        html += '    <div class="statsicon">';
        html += '       <img src="/images/coupon.png" title="贈飲券" onclick="OpenStampsPopup(' + eventArgs.ColumnValues['UID'] + ', \'' + eventArgs.ColumnValues['Nickname'] + '\', \'' + eventArgs.ColumnValues["Account"] + '\')" />';
        html += '    </div>';
        html += '    <div class="stats_3numbers" onclick="OpenStampsPopup(' + eventArgs.ColumnValues['UID'] + ', \'' + eventArgs.ColumnValues['Nickname'] + '\', \'' + eventArgs.ColumnValues["Account"] + '\')">'
        html += '       ' + couponsCount.toLocaleString();
        html += '    </div>';
        html += '  </div>';
        html += '  <div class="appusr_statsgroup">';
        html += '    <div class="statsicon">';
        html += '       <img src="/images/lottery_coin2.png" title=" 辛運汽水機 - Coins" />';
        html += '    </div>';
        html += '    <div class="stats_3numbers">'
        html += '       <span id="appusr_lotterycoins_' + eventArgs.ColumnValues['UID'] + '">' + lotteryCoins.toLocaleString() + '</span>';
        html += '    </div>';
        html += '    <div class="statsbutton">';
        html += '       <a href="javascript:void(0);" onclick="OpenLotteryCoinsAdder(' + eventArgs.ColumnValues['UID'] + ', \'' + eventArgs.ColumnValues['Nickname'] + '\', \'' + eventArgs.ColumnValues["Account"] + '\')" class="c-icon c-icon--main u-color-major u-opacity-50p">add_circle</a>';
        html += '    </div>';
        html += '  </div>';
        html += '  <div class="appusr_statsgroup">';
        html += '    <div class="statsicon">';
        html += '       <img src="/images/award.png" title=" 辛運汽水機 - 獎品" />';
        //html += '       <img src="/images/award.png" title=" 水動樂活動 - 獎品" />';
        html += '    </div>';
        html += '    <div class="stats_3numbers">'
        html += '       ' + lotteryPricesWon.toLocaleString();
        //html += '       ' + watersportsPricesWon.toLocaleString();
        html += '    </div>';
        html += '  </div>';
        html += '</div>';

        eventArgs.Html = html;
    }

    /*
     * OpenPointsAdder
     * ---------------
     */
    function OpenPointsAdder(UID, Nickname, Account)
    {
        var pointsTextElement = $('#appusr_points_' + UID);
        var PopupOptions = {
            PopupId: 'AppUsersPointsAdderPopup',
            Title: '會員 ' + Nickname + ' (' + Account + ') - 加積分',
            Prompt: '請輸入要加多少積分',
            Width: 300,
            Height: 130,
            MaxLength: 4,
            SaveCallback: function (value, popupId) {
                if (!isNaN(value)) {
                    if (value < 0)
                        alert('The entered value can not be a negative number!');
                    else if (value == 0)
                        alert('Value can not be 0!');
                    else
                    {
                        if (confirm('給' + Nickname + ' ' + value + '積分?')) {
                            postData('/AppUsers/AjaxAddPoints', 'add points to user', { UID: UID, PointsToAdd: value }, function (data, result) {
                                pointsTextElement.text(data);
                            });
                        }
                    }
                }
                else
                    alert('輸入的值無效!');
            }
        };

        MaximaPageManager.ShowCustomTextPopup(PopupOptions);
    }

    /*
     * OpenLotteryCoinsAdder
     * ---------------------
     */
    function OpenLotteryCoinsAdder(UID, Nickname, Account) {
        var coinsTextElement = $('#appusr_lotterycoins_' + UID);
        var PopupOptions = {
            PopupId: 'AppUsersLotteryCoinsAdderPopup',
            Title: '會員 ' + Nickname + ' (' + Account + ') - 加辛運汽水機活動的Coins',
            Prompt: '請輸入要加多少辛運汽水機活動的Coins',
            Width: 300,
            Height: 130,
            MaxLength: 4,
            SaveCallback: function (value, popupId) {
                if (!isNaN(value)) {
                    if (value < 0)
                        alert('The entered value can not be a negative number!');
                    else if (value == 0)
                        alert('Value can not be 0!');
                    else {
                        if (confirm('給' + Nickname + ' ' + value + ' Coins?')) {
                            postData('/AppUsers/AjaxAddLotteryCoins', 'add lottery coins to user', { UID: UID, CoinsToAdd: value }, function (data, result) {
                                console.log('new coins: ' + data);
                                coinsTextElement.text(data);
                            });
                        }
                    }
                }
                else
                    alert('輸入的值無效!');
            }
        };

        MaximaPageManager.ShowCustomTextPopup(PopupOptions);
    }

    /*
     * OpenWsCoinsAdder
     * ----------------
     */
    function OpenWsCoinsAdder(UID, Nickname, Account) {
        var coinsTextElement = $('#appusr_wscoins_' + UID);
        var PopupOptions = {
            PopupId: 'AppUsersWsCoinsAdderPopup',
            Title: '會員 ' + Nickname + ' (' + Account + ') - 加水動樂活動的Coins',
            Prompt: '請輸入要加多少水動樂活動的Coins',
            Width: 300,
            Height: 130,
            MaxLength: 4,
            SaveCallback: function (value, popupId) {
                if (!isNaN(value)) {
                    if (value < 0)
                        alert('The entered value can not be a negative number!');
                    else if (value == 0)
                        alert('Value can not be 0!');
                    else {
                        if (confirm('給' + Nickname + ' ' + value + ' Coins?')) {
                            postData('/AppUsers/AjaxAddWsCoins', 'add watersports coins to user', { UID: UID, CoinsToAdd: value }, function (data, result) {
                                coinsTextElement.text(data);
                            });
                        }
                    }
                }
                else
                    alert('輸入的值無效!');
            }
        };

        MaximaPageManager.ShowCustomTextPopup(PopupOptions);
    }

    /*
     * RenderButtonsColumn
     * -------------------
     */
    function RenderButtonsColumn(eventArgs) {
        var html = '';        

        html += '<a href="javascript:void(0);" onclick="openNotificationPopup(' + eventArgs.Id + ', this);" data-username="' + eventArgs.ColumnValues['Nickname'] + '"><img src="/images/sendpush.png" width="20" height="20" ></a>';
        html += '<a href="javascript:void(0);" onclick="removeUser(' + eventArgs.Id + ', \'' + eventArgs.ColumnValues['Account'] + '\', \'' + eventArgs.ColumnValues['Nickname'] + '\');" style="padding-left: 10px;"><img src="/images/cancelred.png" width="20" height="20" ></a>';

        eventArgs.Html = html;
    }

    /*
     * OpenStampsPopup
     * ---------------
     */
    function OpenStampsPopup(UID, Nickname, Account)
    {
        // create popup
        $('#UserActivityStampsPopup').kendoWindow({
            width: '500x',
            height: '550px',
            title: '會員 - 加印花',
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#ActivityStampsAddStampButton').data('kendoButton') != 'undefined')
                    $('#ActivityStampsAddStampButton').data('kendoButton').destroy();
                if (typeof $('#ActivityStampsCloseButton').data('kendoButton') != 'undefined')
                    $('#ActivityStampsCloseButton').data('kendoButton').destroy();
            },
            activate: function (e) {
                equalWidth('.pop-c-inplbl');
            }
        }).data('kendoWindow').center().open();

        $('#ActivityStampsUserAccount').text(Account);
        $('#ActivityStampsUserNickname').text(Nickname);
        $('#ActivityStampsUID').val(UID);
        $('#ActivityStampsChosenStampType').val(0);

        // fill activity list dropdown
        getRemoteData('/AppUsers/AjaxGetActvityDropDownList', 'Load Activity Dropdown', function (data, result) {
            $('#ActivityListDropDown').kendoDropDownList({
                dataSource: data,
                dataTextField: 'Title',
                dataValueField: 'Id',
                change: function (e) {
                    loadActivityInfo();
                },
                dataBound: function (e) {
                    loadActivityInfo();
                }
            });
        });

        // fill stamp list dropdown
        getRemoteData('/VendingProducts/AjaxGetStampsSelectionList', 'load stamps list', function (data, result) {
            $('#ActivityStampsStampListDropDown').kendoDropDownList({
                dataSource: data,
                dataTextField: 'ImageUrl',
                dataValueField: 'Id',
                template: '<img src="#:data.ImageUrl#" style="height: 50px;" />',
                valueTemplate: '<span class="selected-value"><img src="#:data.ImageUrl#" style="height: 50px;" /></span>'
            });
        });        

        // add stamps popup - add stmaps button
        $('#ActivityStampsAddStampButton').kendoButton({
            icon: 'check',
            click: function (e) {
                // to make sure the button can not be clicked twice
                // "lock it" - and to make sure the button is released again - add a timeout
                GetKendo('ActivityStampsAddStampButton').enable(false);
                StampAddLockTimer = window.setTimeout(function () { GetKendo('ActivityStampsAddStampButton').enable(true); }, 10000);

                AddStampToUser();
            }
        });

        // add stamps popup - close button
        $('#ActivityStampsCloseButton').kendoButton({
            icon: 'check',
            click: function (e) {
                $('#UserActivityStampsPopup').data('kendoWindow').close();
            }
        });
    }

    function loadActivityInfo()
    {
        var UID = $('#ActivityStampsUID').val();
        var ActivityId = $('#ActivityListDropDown').data('kendoDropDownList').value();

        // load activity info for this user and activity
        getRemoteData('/AppUsers/AjaxGetUserActivityInfo?UID=' + UID + '&ActivityId=' + ActivityId, 'Load Activity Info', function (data, result) {
            $('#ActivityStampsCouponsCompleted').text(data.CompletedCouponsCount);
            $('#ActivityStampsCurrentCouponStampsCount').text(data.CurrentCouponCollectedStamps);
        });
    }

    function AddStampToUser()
    {
        var UID = $('#ActivityStampsUID').val();
        var Account = $('#ActivityStampsUserAccount').text();
        var Nickname = $('#ActivityStampsUserNickname').text();
        var ActivityId = $('#ActivityListDropDown').data('kendoDropDownList').value();
        var StampTypeId = $('#ActivityStampsStampListDropDown').data('kendoDropDownList').value();
        
        postData('/AppUsers/AjaxAddStamp', 'Add Stamp to User', { UID: UID, ActivityId: ActivityId, StampTypeId: StampTypeId }, function (data, result) {
            alert('加印花成功');
            $('#ActivityStampsCouponsCompleted').text(data.CompletedCouponsCount);
            $('#ActivityStampsCurrentCouponStampsCount').text(data.CurrentCouponCollectedStamps);
            GetKendo('ActivityStampsAddStampButton').enable(true);
            window.clearInterval(StampAddLockTimer);
        });
    }
</script>

<script type="text/javascript">
    var NotificationPopupTitle = null;

    function openNotificationPopup(UID, element)
    {
        NotificationPopupTitle = '發送新的消息給會員 ' + (UID == null || UID <= 0 ? "所有的會員" : $(element).data('username'));

        $('#SendPushMessagePopup').kendoWindow({
            width: '600px',
            height: '360px',
            title: null,
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#SendPushMessageButtonOk').data('kendoButton') != 'undefined')
                    $('#SendPushMessageButtonOk').data('kendoButton').destroy();
                if (typeof $('#SendPushMessageButtonCancel').data('kendoButton') != 'undefined')
                    $('#SendPushMessageButtonCancel').data('kendoButton').destroy();
            },
            activate: function (e) {
                equalWidth('.pop-c-lbl');
                $('#SendPushMessagePopup').data('kendoWindow').title(NotificationPopupTitle);
            }
        }).data('kendoWindow').center().open();

        $('#PushMessageContent').val('');
        $('#PushMessageContent').width('550px');
        $('#PushMessageContent').height('250px');

        // news edit popup - ok button
        $('#SendPushMessageButtonOk').kendoButton({
            icon: 'check',
            click: function (e) {
                SendPushNotification(UID, $(element).data('username'));
            }
        });

        // news edit popup - cancel button
        $('#SendPushMessageButtonCancel').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#SendPushMessagePopup').data('kendoWindow').close();
            }
        });
    }


    function SendPushNotification(UID, userName)
    {
        var message = $('#PushMessageContent').val();

        if ((message == null) || (message.trim() == ''))
        {
            alert('消息不可以為空！');
            return;
        }

        postData('/AppUsers/AjaxSendNotification', 'Push Notification', { UID: UID, Message: message }, function (data, result) {
            alert('發送消息成功');

            $('#SendPushMessagePopup').data('kendoWindow').close();
        }, function (error) {
            console.log(error);
            alert(' 發送消息失敗');
        }, true);
    }

    function removeUser(UID, account, userName)
    {
        $.prompt('<span style="font-size: 11pt;"><b>WARNING!</b></span><br/>This will completely delete this user (<font color="blue">' + (userName == null ? '' : userName) + ' - ' + account + '</font>)</br>and all data this user created!<br/><b>THIS CAN NOT BE UNDONE!</b><br/>Are you sure?', {
                buttons: { Ok: true, Cancel: false },
                focus: 1,
                submit: function (e, value) {
                    if (value == true)
                    {
                        postData('/AppUsers/AjaxRemoveUser', 'remove user', { UID: UID }, function (data, result) {
                            alert('User deleted.');

                            MaximaPageManager.Refresh();
                        });
                    }                
                }
            });
    }

</script>