﻿<script>
    function userDetailsPopup(id) {
        getRemoteData('/AppUsers/AjaxGetUserDetails?UID=' + id, 'load user details', function (data, result) {
            $('#UserDetailsPopupHeaderText').text('会员 ' + data.Account);
            $('#UserDetailsPopupHeaderImage').attr('src', data.ImageUrl);
            $('#UserDetailsPopup_Name').text(data.Name);
            $('#UserDetailsPopup_Nickname').text((data.Nickname == null ? "" : data.Nickname));
            $('#UserDetailsPopup_GenderDisplayText').text(data.GenderDisplayText);
            $('#UserDetailsPopup_CreateTime').text((data.CreateTime == null ? "n/a" : jsonDateToDateTimeString(data.CreateTime)));
            $('#UserDetailsPopup_LastLoginTime').text((data.LastLoginTime == null ? "n/a" : jsonDateToDateTimeString(data.LastLoginTime)));
            $('#UserDetailsPopup_Location').text((data.City == null ? "" : data.City));
            $('#UserDetailsPopup_Phone').text((data.Phone == null ? "" : data.Phone));
            $('#UserDetailsPopup_Email').text((data.Email == null ? "" : data.Email));
            $('#UserDetailsPopup_Birthday').text((data.Birthday == null ? "" : jsonDateToDateTimeString(data.Birthday)));

            GetKendo('UserDetailsPopup').center().open();

            equalWidth('.infopopup-label');
        });
    }
</script>

@(Html.Kendo().Window()
                    .Name("UserDetailsPopup")
                    .Title("会员资料")
                    .Width(400).Height(570)
                    .Draggable(true)
                    .Content(@<text>
                        <div class="maxtblpopup_header">
                            <div class="maxtblpopup_headerimg">
                                <img id="UserDetailsPopupHeaderImage" />
                            </div>
                            <div class="maxtblpopup_headertext">
                                <span id="UserDetailsPopupHeaderText"></span>
                            </div>
                        </div>
                        <div class="maxpopupseparator">
                            &nbsp;
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    名称:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_Name"></span>
                            </div>
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    暱稱:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_Nickname"></span>
                            </div>
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    性别:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_GenderDisplayText"></span>
                            </div>
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    新增日期:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_CasinoUserCreateTime"></span>
                            </div>
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    最后登入时间:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_LastLoginTime"></span>
                            </div>
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    地點:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_Location"></span>
                            </div>
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    手机号码:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_Phone"></span>
                            </div>
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    电子邮件:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_Email"></span>
                            </div>
                        </div>
                        <div class="pop-stack-cell" style="padding-top: 15px;">
                            <div class="infopopup-label">
                                <label>
                                    生日:
                                </label>
                            </div>
                            <div class="infopopup-contents">
                                <span id="UserDetailsPopup_Birthday"></span>
                            </div>
                        </div>
                        <div class="pop-buttonline" id="HeroesPopupButtonsContainer">
                            <div class="pop-button">
                                @Html.Kendo().Button().Name("UserDetailsPopupOkButton").Icon("check").Content("OK").Events(itm => itm.Click("function() { GetKendo('UserDetailsPopup').close(); }"))
                            </div>
                        </div>
                    </text>)
                                         .Visible(false))

