﻿@using Kooco.Framework.Authentication
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.DataTransferObjects;
<!DOCTYPE html>
<!--
    _Layout Template for the new Masonry Layout
    ===========================================

    This is a template file for copy+paste into the project's _Layout file.

    modify: please only update this template in the Maxima project
    in Maxima: please only update the file in the root /Views/Templates folder, NOT in the NugetOverwriteContents folder!
    changes will be overwritten otherwise!
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" href="~/styles/masonry_design/base.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/styles/Maxima.common.css" rel="stylesheet">
    <link href="~/styles/Maxima.Masonry.css" rel="stylesheet">
    <link href="~/styles/datatables.default-theme.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1018/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1018/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1018/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/loading-overlay.default.css" rel="stylesheet">

    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>

    <script src="~/scripts/kendo.modernizr.custom.js"></script>
    <script src="~/scripts/clipboard.min.js"></script>
    <script src="~/scripts/moment.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1018/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1018/js/jszip.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/api/maxima/maximaresourcesjs?v=@Kooco.Framework.Shared.GlobalConst.MaximaFrameworkVersion"></script>
    <script src="~/api/maxima/maximajs?v=@Kooco.Framework.Shared.GlobalConst.MaximaFrameworkVersion"></script>
    <script src="~/api/maxima/maximapagemanagerjs?v=@Kooco.Framework.Shared.GlobalConst.MaximaFrameworkVersion"></script>
    <script src="~/api/maxima/maximaimageuploaderjs?v=@Kooco.Framework.Shared.GlobalConst.MaximaFrameworkVersion"></script>
    <script src="~/scripts/loading-overlay.min.js"></script>
    <script src="~/scripts/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/masonry_design/moment.min.js"></script>
    <script src="~/scripts/masonry_design/extras/fullcalendar.min.js"></script>
    <script src="~/scripts/masonry_design/isMobile.min.js"></script>
    <script src="~/scripts/masonry_design/ion.rangeSlider.min.js"></script>
    <script src="~/scripts/masonry_design/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/scripts/masonry_design/autosize.min.js"></script>
    <script src="~/scripts/masonry_design/sticky-kit.min.js"></script>
    <script src="~/scripts/masonry_design/toggles-switches.js"></script>
    <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/masonry_design/wysihtml5.rules.js"></script>
    <script src="~/scripts/masonry_design/wysihtml5-0.4.0pre.min.js"></script>

    <script src="~/scripts/masonry_design/sliders.js"></script>
    <script src="~/scripts/masonry_design/app.js"></script>

    <script src="https://kendo.cdn.telerik.com/2017.3.1018/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1018/js/kendo.aspnetmvc.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2017.3.1018/js/messages/kendo.messages.zh-TW.min.js"></script>

    <style>
        /* Dynamic Styles */
        .c-logo {
          background-image: url('@Utils.AddVirtualPath("images/logo.png")');

          display: block;
          width: 120px;
          height: 31px;
          /*-webkit-transition: all 280ms ease-in-out 0ms;
          opacity: 0.94;
                  transition: all 280ms ease-in-out 0ms;*/
        }
        .c-logo:hover {
          opacity: 1;
        }

        .c-miniProfile {
          background-image: url('@Utils.AddVirtualPath("images/offcanvas-profile.jpg")');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
    </style>

    <script>
        var AuthHeaderKey = '@Kooco.Framework.Shared.GlobalConst.VarAuthRequestHeaderName';  // required definition! Please don't remove!
        var ApplicationApiServerUrl = '@Utils.APIServerUrl("/")';  // required definition! Please don't remove!
        var CurrentMenuItemName = '@(MenuManager.CurrentMenuItem != null ? MenuManager.CurrentMenuItem.Name : "")';
        var ApplicationLanguage = 'zh-@(GlobalConst.MaximaLanguage == FrameworkLanguages.ChineseCN ? "CN" : "TW")';
        var ApplicationUseTimezoneHandling = @(ConfigManager.AdminUseTimezoneHandling ? "true" : "false");
        var MaximaPageManagerEnableTraceMessages = @(Kooco.Framework.Shared.ConfigManager.MaximaPageManagerTraceMsg.ToString().ToLower());
        var MaximaStoredDataTables = {};
    </script>
</head>
<body id="pagebody">
    <div id="MaximaGlobalPopup"></div>
    @Html.Partial("~/MaximaWeb/MaximaWeb.Views.Modules.LayoutMasonry.AdminTopBar.cshtml")
    <div class="c-page o-stack o-stack--nowrap _u-flexSelfStretch">
        @Html.Partial("~/MaximaWeb/MaximaWeb.Views.Modules.LayoutMasonry.AdminSidebar.cshtml")
        <div class="c-content o-stack__cell o-stack__cell--expanded">
            @Html.Partial("~/MaximaWeb/MaximaWeb.Views.Modules.LayoutMasonry.AdminBreadcrumb.cshtml")
            <div id="MaximaBarsContainer"></div>
            <div class="c-main o-stack o-stack--nowrap u-relative">
                <div class="u-p-small u-width-100p">
                    <div class="c-Masonry u-relative o-grid o-grid--smallGap _u-4/12@lg+ _u-width-100p@lg- _u-3/12@hd+" id="GridCellsContainer">
                        <div class="c-Masonry__sizer u-absolute"></div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (IsSectionDefined("Templates"))
    {
        @RenderSection("Templates")
    }
    @if (IsSectionDefined("PageScripts"))
    {
        @RenderSection("PageScripts")
    }

    @RenderSection("scripts", required: false)
    @Html.Partial("_MaximaBase")
</body>
</html>
