﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="VendingProductsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center; display: none;" data-property="Id" data-visible="no">Id</th>
                    <th style="text-align: center;" data-property="MOCCPGoodsId" data-column-width="5%" data-edit="0" data-edit-type="text">BuyBuy Id</th>
                    <th style="text-align: center;" data-property="ImageUrl" data-column-width="8%" data-edit="1" data-edit-readonly="true" data-edit-type="image" data-image-width="0" data-image-height="94" data-edit-imageupload-filenamemask="vendingproduct_##property:MOCCPGoodsId##.png">圖片</th>
                    <th style="text-align: center;" data-property="DefaultStampTypeId" data-visible="0" />
                    <th style="text-align: center;" data-property="DefaultStampTypeImageUrl" data-edit="0" data-format="image" data-image-width="0" data-image-height="45" data-onrender="RenderStampType">印花</th>
                    <th style="text-align: center;" data-property="ProductTypeId" data-column-width="10%" data-edit="1" data-edit-type="dropdown" data-edit-datasource="/VendingProducts/AjaxGetProductTypesDDList" data-edit-textmember="Name" data-edit-valuemember="Id">類型</th>
                    <th style="text-align: center;" data-property="ProductBrandId" data-column-width="10%" data-edit="1" data-edit-type="dropdown" data-edit-datasource="/VendingProducts/AjaxGetProductBrandsDDList" data-edit-textmember="Name" data-edit-valuemember="Id">品牌</th>
                    <th style="text-align: center;" data-property="Name" data-column-width="23%" data-edit="0" data-edit-type="text" data-edit-maxlength="60">名字</th>
                    <!--<th style="text-align: center;" data-property="NameEN" data-edit="1" data-edit-type="text" data-edit-maxlength="60">英文的名字</th>-->
                    <th style="text-align: center;" data-property="Volume" data-column-width="7%" data-edit="0" data-edit-type="text" data-edit-maxlength="60">Volume</th>
                    <th style="text-align: center;" data-property="AveragePrice" data-column-width="6%" data-edit="0" data-edit-type="numeric" data-onrender="RenderAveragePrice">平均價錢</th>
                    <th style="text-align: center;" data-property="PointsExtra" data-column-width="7%" data-edit="1" data-edit-type="numeric" data-min-value="0" data-max-value="999" data-edit-width="15ch">額外的積分</th>
                    <th style="text-align: center;" data-property="PointsMultiplier" data-column-width="7%" data-edit="1" data-edit-type="numeric" data-min-value="1" data-max-value="10" data-edit-width="10ch">乘以積分</th>
                    <th style="text-align: center;" data-property="StampsMultiplier" data-column-width="7%" data-edit="1" data-edit-type="numeric" data-min-value="1" data-max-value="10" data-edit-width="10ch">乘以印花</th>
                    <th style="text-align: center;" data-property="Status" data-column-width="8%" data-edit="1" data-edit-readonly="true" data-edit-type="onoff" data-edit-width="15ch" data-onoff-quickmode="true" data-ontext="提供" data-offtext="不提供">Status</th>
                    <th style="text-align: center;" data-property="ActivityId" data-visible="false" data-edit-type="dropdown" data-edit-datasource="/News/AjaxGetActivityList" data-edit-valuemember="ActivityId" data-edit-textmember="Title" data-filter-addallitem="true">活動</th>
                </tr>
            </thead>
        </table>
    </script>

    <script type="text/template" id="CustomFilterTemplate">
        <div>

        </div>
    </script>
}

<div id="StampTypeSelector" class="prodstamptypesel_popup">
    <div class="prodstamptypesel_itmcontainer">

    </div>
    <div class="prodstamptypesel_buttons">
        <div class="prodstamptypesel_button">
            <a href="javascript:void(0);" onclick="$('.prodstamptypesel_popup').hide()"><img src="~/images/close.png" /></a>
        </div>
    </div>
</div>

@KoocoHtmlHelper.DocumentReady(@<text>
    <script>
        addContextButton('ctxAddNew', 'add_circle', 'javascript:addNewProduct();', '新增產品');

        loadProducts();

        refreshLoginTicket();
    </script>
</text>)

<script type="text/javascript">
    function loadProducts(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/VendingProducts/AjaxGetList",
            GetPropertyUrl: "/VendingProducts/AjaxGetProperty",
            SavePropertyUrl: "/VendingProducts/AjaxSaveProperty",
            CanDelete: true,

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: false,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: 'MOCCPGoodsId,Name,ProductTypeId,ProductBrandId,Status,ActivityId',
            InitialFilter: {
            },
            FilterDirectMode: true,

            DataTableItemTemplateId: 'VendingProductsTableTemplate',
            ItemsPerPage: 10,

            LoadCompleted: function () {
                var ActivityId = MaximaPageManager.GetFilterValue('ActivityId');

                if ((ActivityId != null) && (ActivityId != '')) {
                    MaximaPageManager.SetExtraTitle('活動：' + MaximaPageManager.GetFilterDisplayText('ActivityId'), 'color: goldenrod');
                    $('#MaximaFilterControlActivityId_label').css('color', 'goldenrod');
                    $('#MaximaFilterControlActivityId_label').css('font-weight', 'bold');

                    $('th[data-property="PointsMultiplier"]').css('background-color', 'goldenrod')
                    $('th[data-property="StampsMultiplier"]').css('background-color', 'goldenrod')
                }
                else {
                    $('#MaximaFilterControlActivityId_label').css('color', 'black');
                    $('#MaximaFilterControlActivityId_label').css('font-weight', 'normal');

                    $('th[data-property="PointsMultiplier"]').css('background-color', '')
                    $('th[data-property="StampsMultiplier"]').css('background-color', '')

                    MaximaPageManager.SetExtraTitle('沒有活動', 'color: silver');
                }
            }
        });
    }

    function addNewProduct() {
        if (confirm('新增新產品?')) {
            postData('/VendingProducts/AjaxCreateProduct', 'Create new product', null, function (data, result) {
                MaximaPageManager.Refresh();
            });
        }
    }

    function RenderStampType(eventArgs) {
        eventArgs.Html = replaceAll(eventArgs.Html, "data-id='undefined'", "data-id='" + eventArgs.Id + "'");
        eventArgs.Html = replaceAll(eventArgs.Html, "<img ", "<img onclick='ChooseStampType(" + eventArgs.Id + ")' ");
    }

    function RenderAveragePrice(eventArgs) {
        eventArgs.Html = Number(parseFloat(eventArgs.Value), 2).toFixed(2);
    }

    function ChooseStampType(Id) {
        var imgElement = $('img[data-id=' + Id + '][data-property="DefaultStampTypeImageUrl"]');
        showLoader();

        $('.prodstamptypesel_popup').css({
            position: "absolute",
            top: imgElement.position().top + 80,
            left: imgElement.position().left + 50
        });

        $('.prodstamptypesel_itmcontainer').empty();

        getRemoteData('/VendingProducts/AjaxGetStampsSelectionList', 'load stamps list', function (data, result) {
            for (var iIndex = 0; iIndex < data.length; iIndex++) {
                var StampType = data[iIndex];

                var html = '<div class="prodstamptypesel_item">';
                html = html + '  <a href="javascript:void(0);" onclick="ChangeStampType(' + Id + ', ' + StampType.Id + ', \'' + StampType.ImageUrl + '\');">';
                html = html + '    <img src="' + StampType.ImageUrl + '" class="prodstamptypeimg" />';
                html = html + '  </a>';
                html = html + '</div>';

                $('.prodstamptypesel_itmcontainer').append(html);
            }

            hideLoader();
            $('.prodstamptypesel_popup').show();
        });
    }

    function ChangeStampType(Id, StampTypeId, ImageUrl) {
        var imgElement = $('img[data-id=' + Id + '][data-property="DefaultStampTypeImageUrl"]');

        MaximaPageManager.SavePropertyValue(Id, 'DefaultStampTypeId', StampTypeId);

        $('.prodstamptypesel_popup').hide();
        imgElement.attr('src', ImageUrl);
    }
</script>