﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using VmaBase.Models.DataStorage.Tables;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="VendingProductBrandsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: center;" data-column-width="5%" data-property="Id" data-visible="no">Id</th>
                    <th style="text-align: center;" data-property="Name" data-column-width="88%" data-edit="1" data-edit-type="text" data-edit-maxlength="@(VendingProductBrand.NameMaxLength)">名稱</th>                    
                    <th style="text-align: center;" data-property="CanDelete" data-column-width="7%" data-onrender="RenderButtonsColumn"></th>
                </tr>
            </thead>
        </table>
    </script>

    <script type="text/template" id="CustomFilterTemplate">
        <div>

        </div>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
    <script>
        addContextButton('ctxAddNew', 'add_circle', 'javascript:addNewProductBrand();', '新增品牌');

        loadProductBrands();

        refreshLoginTicket();
    </script>
</text>)

<script type="text/javascript">
    function loadProductBrands() {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/VendingProducts/AjaxProductBrandsGetList",
            GetPropertyUrl: "/VendingProducts/AjaxProductBrandsGetProperty",
            SavePropertyUrl: "/VendingProducts/AjaxProductBrandsSaveProperty",
            CanDelete: false,

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: true,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: '',
            InitialFilter: {
            },
            FilterDirectMode: true,
            DefaultSortOrder: 'Id asc',

            DataTableItemTemplateId: 'VendingProductBrandsTableTemplate',
            ItemsPerPage: 25,
        });
    }

    function RenderButtonsColumn(eventArgs) {
        var productName = MaximaPageManager.GetRawValueFromDataSource(eventArgs.Id, 'Name');

        if (eventArgs.ColumnValues['CanDelete']) {
            eventArgs.Html = '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="deleteProductBrand(\'' + eventArgs.Id + '\');" class="c-icon c-icon--main u-opacity-50p u-color-minor" style="float:left;">delete</a></div>';
        }
        else
            eventArgs.Html = '<div style="float:left; padding-left: 10px;"><a href="javascript:void(0);" onclick="alert(\'因為品牌【' + productName + '】已使用，所以不可以刪除！\');" class="c-icon c-icon--main u-opacity-50p u-color-omitted" style="float:left;">delete</a></div>';
    }

    function deleteProductBrand(id) {
        var productName = MaximaPageManager.GetPropertyValue(id, 'Name');

        if (confirm('刪除品牌【' + productName + '】?')) {
            postData('/VendingProducts/AjaxProductBrandsRemove', 'Remove product type', { Id: id }, function (data, result) {
                MaximaPageManager.Refresh();
            });
        }
    }

    function addNewProductBrand() {
        if (confirm('新增品牌?')) {
            postData('/VendingProducts/AjaxProductBrandsCreateNew', 'Create new product type', null, function (data, result) {
                MaximaPageManager.Refresh();
            });
        }
    }
</script>