﻿@using Kooco.Framework.Shared
@using MaximaWeb.Shared

<!--
    Maxima Settings Management Page
    -------------------------------

    DO NOT CHANGE ANYTHING! CHANGES WILL BE OVERWRITTEN ON THE NEXT NUGET UPDATE!

    In Maxima: please only change the Index.cshtml in the root /Views/MaximaSettings folder!
    NOT inside the NugetOverwriteContents folder!
    The NugetOverwriteContentsFolder will be overwritten on each build!
-->

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.SettingsTableContainer = "Maxima_SettingsListTable_container";
}


@section Templates {
    @Html.Partial("~/Views/Templates/GridCells/DataTableListInletTemplate.cshtml")
}

@section scripts {
    @Html.Partial("~/Views/Modules/SettingsManager/SettingsEditor.cshtml")
}

@KoocoHtmlHelper.DocumentReady(@<text>
<script>
    AddMasonryInlet('DataTableListInletTemplate', '', 'InletSettingsEditor', '設定編輯',
            'refresh_display: block',
            'clear_display: none',
            'excel_display: none',
            'refresh_link: javascript:LoadSettingsList();',
            'clear_link: ',
            'tableid: Maxima_SettingsListTable',
            'headers: ');

    $('#Maxima_SettingsListTable_container').empty();

    window.setTimeout(function () {
        adjustLayout();
    }, 1000);

    window.setTimeout(function () {
        adjustLayout();
    }, 2000);
</script>
</text>)