﻿@using VmaBase.Shared;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/loading-overlay.default.css" rel="stylesheet">
    <link href="~/styles/Maxima.common.css" rel="stylesheet">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/kendo_ui/kendo.core.min.js"></script>
    <script src="~/scripts/kendo_ui/kendo.ui.core.min.js"></script>
    <script src="~/scripts/kendo_ui/kendo.messages.zh-TW.js"></script>    
    <script src="~/scripts/loading-overlay.min.js"></script>
    <script src="~/Scripts/maxima.js"></script>
</head>
<body id="pagebody">
    <script>
        var AuthHeaderKey = '@Kooco.Framework.Shared.GlobalConst.VarAuthRequestHeaderName';  // required definition! Please don't remove!
        var ApplicationApiServerUrl = '@Utils.APIServerUrl("/")';  // required definition! Please don't remove!
        var ApplicationLanguage = 'zh-@(GlobalConst.MaximaLanguage == Kooco.Framework.Shared.FrameworkLanguages.ChineseCN ? "CN" : "TW")';
        var ApplicationVirtualDirectory = '@(string.IsNullOrWhiteSpace(Kooco.Framework.Shared.GlobalConst.MaximaVirtualPath) ? "/" : Kooco.Framework.Shared.GlobalConst.MaximaVirtualPath)';
        var GlobalMessagePopup = null;

        $(function () {
            GlobalMessagePopup =
                $('#MaximalGlobalMessagePopup').kendoDialog({
                    width: '500px',
                    title: 'Popup Title',
                    content: 'dummy content',
                    closable: true,
                    modal: true,
                    visible: false,
                    actions: [
                        { text: 'OK' }
                    ]
                }).data('kendoDialog');
        });
    </script>

    <div class="container body-content">
        <div id="MaximaGlobalPopup"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
