﻿/*
    Common Maxima Stylesheet for all designs
    ----------------------------------------

    modify: please only update in the Maxima project
    in Maxima: please only update the file in the root /styles folder, NOT in the NugetOverwriteContents folder!
    changes will be overwritten otherwise!
*/

input.k-textbox {
    height: 2.40em !important; /* to make the textboxes having the same height than the Telerik UI dropdown's */
}

/*
  Dynamic Input Forms - Default Design
  ====================================
*/

.std-formcontainer
{
    width: 100%;
    margin-top: 10px;
}

.std-form
{
    width: 100%;
}

.std-formmsg
{
    width: 100%;
    float: left;
    clear: both;
    padding-left: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}
.std-formmsg .std-okmsg
{
    color: green;
}
.std-formmsg .std-errmsg
{
    color: #b58f8f;  
}

.std-icontainer
{
    width: 100%;
    float: left;
    clear: both;

    padding-left: 10px;
    margin-top: 5px;
}

.std-fieldgroup
{
    clear: both;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}

.std-formlabel
{
    float: left;
    clear: both;
    white-space: nowrap;
    padding-right: 25px;
    padding-top: 3px;
}

.std-edit
{
    float: left;
}

.std-subgroup
{
    float: left;
}

.std-sg-formlabel
{
    float: left;
    padding-right: 10px;    
}

.std-sg-edit
{
    float: left;
    padding-right: 10px;
}

.std-sg-editonly
{
    float: left;
    padding-right: 10px;
}

.invalid-msg-container
{
    clear: left;
    margin-top: 5px;
    margin-bottom: 2px;
    overflow: hidden;
}

span.k-invalid-msg
{
    border: 1px solid green;
}

.ajaxinputloader
{
    float: left;
    
}

.ajaxinputdiv
{
    white-space: nowrap;
    float: left;
    display: inline-flex;
}

.ajaxinputdiv > input
{
    
}

.loaderimg
{
    float: left;
    margin-left: 7px;
    margin-top: 5px;
    margin-right: 2px;
}

.maximaonoff
{
    font-weight: bold;
}

.maximaonoff_changing
{
    font-size: 12pt;
}

/*
 * Settings Management
 * -------------------
*/

.settings_loaderimg
{
    margin-left: 10px;
}

.settings_ajaxinput
{
    float: left;
}

.AppSettingUploader
{
    margin-left: 15px !important;
}

.AppSettingUploadButton
{
    margin-left: 15px !important;
}

/*
    Image Upload Popup
    ------------------
*/

.maximauploadcontainer
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.maximapreview_header
{

}

.maximapreviewimg
{
    max-width: 760px;
    max-height: 440px;
    margin-bottom: 15px;
}

.maximaimgpopupbutton
{
    float: left;
    margin-right: 10px;
}

.maximaimgurledit
{
    padding-bottom: 15px;
}
.maximaimgurleditlabel
{
    padding-right: 10px;
}

/*
    Jira Issue Editor
    =================
*/

.maximaissueprevimg
{
    max-width: 140px;
    max-height: 140px;
    margin-bottom: 15px;
}

.jira_attachcontainer
{
    display: flex;
}

.jira_attachblock
{
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top:  5px;
    padding-bottom:  5px;
    border: 1px solid darkgray;
    background-color: #dddcdc;
    border-radius: 5px;
    margin-right: 10px;
    width: 150px;
    overflow-x: hidden;
}

.jira_attachpreview
{
    padding-bottom: 10px;
    padding-top:  5px;
    cursor: pointer;
}

.jira_attachfilename
{
    padding-bottom: 5px;
    overflow-wrap: break-word;
    min-height: 6ch;
    max-height: 6ch;
    cursor: pointer;
}

.jira_attachbutton
{
    padding-bottom: 5px;
}

/*
    Modal Image for MaximaPageManager
    =================================

    from https://www.w3schools.com/howto/howto_css_modal_images.asp
*/

 /* Style the Image Used to Trigger the Modal */
#MaximaPageManager_ModalImage_Image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#MaximaPageManager_ModalImage_Image:hover {opacity: 0.7;}

/* The Modal (background) */
.maxima-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.maxima-modal-content {
    margin: auto;
    display: block;
    /*width: 80%;*/
    max-width: 800px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.maxima-modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.maxima-modal-close:hover,
.maxima-modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .maxima-modal-content {
        width: 100%;
    }
} 

/* 
   Style for radio buttons to make it possible to use them..

   without that style a radio button would be completely invisible with the masonry/kendo stylesheets .. 
   for what reason ever..
*/
.maxima-radio {
    border: 2px solid white !important;
    border-radius: 50%;
    box-shadow: 0 0 0 1px gray;
    width: 8pt;
    height: 8pt;
}

.maxima-radio:checked {    
    background-color: #4d5051;    
}

.logoutbutton
{
    font-size: 9pt;
}

/*
    Styles for the Action Permission Management Popup
    -------------------------------------------------
*/

.actionpermissionpop_listcontainer
{
    height: 600px;
    overflow-y: scroll !important;
}

.actionpermissionpop_listcontainer > div:nth-of-type(odd)
{
    background-color: #F4F5F6;
}

.actionpermissionpoprow
{
    float: left;
    clear: both;

    height: 26pt;
}

.actionpermissionpop_text
{
    float: left;
    width: 320px;

    padding-top: 5pt;
    padding-left: 5px;
}

.actionpermissionpop_code
{
    float: left;
    width: 160px;

    padding-top: 5pt;
}

.actionpermissionpop_menuitem
{
    float: left;
    width: 250px;

    padding-top: 5pt;
}

.actionpermissionpop_permission
{
    float: left;
    width: 100px;

    padding-top: 2pt;    
}

.actionpermissionpop_implicite
{
    float: left;
    width: 80px;

    padding-top: 5pt;
    color: gray;
}
.actionpermissionpop_explicite
{
    float: left;
    width: 80px;
    color: blue;

    padding-top: 5pt;
}

.permissionentry-allow
{
    color: green;
}

.permissionentry-deny
{
    color: #be1717;
}

.maxlog-contents
{
    overflow-y: scroll;
    text-wrap: normal;

    font-size: 9pt;
    font-weight: bold;

    background-color: #f6f6f6;
    font-family: Consolas, 'Courier New';

    border: 1px solid gray;
    cursor: text;
}

.maxlogwindowcaption
{
    font-weight: bold;
    font-size: 11pt;

    padding-top: 5px;
    padding-bottom: 10px;

    text-align: center;
}

/*
    MaximaContextDropDown Menu
*/

.maxima-contextdropdown
{
    position: absolute;
    display: none;
    height: auto;
    width: auto;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: white;

    border: 1px solid gray;   
    padding-top: 4px;
    padding-bottom: 4px;

    z-index: 5000;

    box-shadow: 1px 1px 4px black;
}

.maxima-contextdd-item
{
    min-height: 26px;

    padding-left: 20px;   
    padding-right: 15px;    
    width: auto;
    white-space: nowrap;

    font-size: 9pt;
    cursor: pointer;

    background-color: white;
}
.maxima-contextdd-item:hover
{
    background-color: #364150;
    color: #45B6AF;
}