﻿/*
    Banner Management
    -----------------
*/

.adm_banner_link
{
    padding-top: 10px;
    min-height: 45pt;
}

.bannerimage
{    
    max-width: 100%;
    max-height: 200px;
    cursor: pointer;
}

.ticker_disabled .c-portlet
{
    background-color: #c6c6c6 !important;
}

.news_elenr
{
    font-size: 13pt;
    padding-right: 2px;
    color: #315997;
}

.adm_banner_img
{
text-align:center;
}

/*
    Banner Image Upload Popup
    -------------------------
*/

.bannerupload
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.bannerpreview_header
{

}

.bannerpreviewimg
{
    max-width: 760px;
    max-height: 440px;
    margin-bottom: 15px;
}

.popupbutton
{
    float: left;
    margin-right: 10px;
}

/*
    Dynamic Cells Drag/Drop Styles
    ------------------------------
*/

.dyncell_drop_before .c-portlet
{
    background-color: #ededed !important;
}
.dyncell_drop_before:before
{
    content: "";

    top: 0px;
    left: 0px;
    height: 95%;
    width: 18px;
    position: absolute;

    border: 6px solid #dbdbdb;

    background-color: #417ea7;
}

.dyncell_drop_after .c-portlet
{
    background-color: #ededed !important;
}
.dyncell_drop_after:after
{
    content: "";

    top: 0px;
    right: -18px;
    height: 95%;
    width: 18px;
    position: absolute;

    border: 6px solid #dbdbdb;

    background-color: #417ea7;
}

.dragbehindphd
{
    width: 50px;
    margin-left: 10px;

    background-color: #e5e4e4;
    border: 1px solid #9a9999;
}

.dragbehind_hover 
{
    background-color: #4169a7;
    border: 10px solid #dbdbdb;
}

/*
    News / Master Data Management
    -----------------------------
*/

.mdm-sc-title
{
    min-height: 36pt;
    margin-bottom: 3px;
    cursor: pointer;
    text-align:center;
}

.mdm-sc-image-regular
{
    max-height: 200px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
}
.mdm-sc-image-regular > img
{
    max-width:100%;
    max-height: 200px;
}

mdm-sc-image-small
{
    max-height: 100px;
    cursor: pointer;
}

.mdm-sc-image-small > img
{
    max-height: 150px;
    max-width: 100px;
}

.mdm-sc-infoline
{
    font-size: 12pt;

    min-height: 16pt;
    max-height: 16pt;
    height: 16pt;

    margin-top: 6px;
    margin-bottom: 3px;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

.mdm-sc-text-2lines
{
    font-size: 12pt;

    min-height: 36pt;
    max-height: 36pt;
    height: 36pt;

    margin-top: 6px;
    margin-bottom: 3px;

    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.mdm-sc-text-3lines
{
    font-size: 12pt;

    min-height: 52pt;
    max-height: 52pt;
    height: 52pt;

    margin-top: 6px;
    margin-bottom: 6px;

    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.mdm-sc-text-4lines
{
    font-size: 12pt;

    min-height: 70pt;
    max-height: 70pt;
    height: 70pt;

    margin-top: 6px;
    margin-bottom: 4px;

    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.mdm-sc-statusline
{
    padding-left: 10px; 
    padding-right: 10px; 
    height: 30px;
    font-family: Arial;
    font-weight: bold;
}

.mdm-sc-statusline .status_green
{
    color: green;
    float: left;
    padding-right: 15px;
}

.mdm-sc-statusline .status_gray
{
    color: #282828;
    float: left;
    padding-right: 15px;
}

.mdm-sc-statusline .status_red
{
    color: #cb0f0f;
    float: left;
    padding-right: 15px;
}

.mdm-sc-statusline .status_changing
{
    font-size: 12pt;
}

.newslist_status_green
{
    color: green;
    font-weight: bold;
    float: left;
}

.newslist_status_gray
{
    color: #282828;
    font-weight: bold;
    float: left;
}

.newslist_status_changing
{
    font-size: 10pt;
}

.newslist_isbanner
{
    color: #cb0f0f;
    font-weight: bold;
    padding-left: 10px;
    float: left;
}

.u-color-red
{
    color: #cb0f0f;
}

.news_status_daterange
{
    font-size: 8pt;
}