﻿/*
    Maxima Masonry Layout (Esther)
    ==============================

    modify: please only update in the Maxima project
    in Maxima: please only update the file in the root /styles folder, NOT in the NugetOverwriteContents folder!
    changes will be overwritten otherwise!
*/

.wd_submenu {
    margin-left: 18px;
    max-width: none;
}

.wd_submenu_item {
    float: left;
    padding-right: 25px;
    padding: 5px 20px;
    margin: 0px 1px;
    min-width: 100px;
    text-align: center;
    border: 1px solid lightgrey;
}

    .wd_submenu_item a:link, .wd_submenu_item a:active, .wd_submenu_item a:visited {
        text-decoration: none;
        color: #45B6AF;
        font-size: 11pt;
    }

    .wd_submenu_item a:hover {
        -webkit-transition: all 280ms ease-in-out 0ms;
        color: #F2C533;
        transition: all 280ms ease-in-out 0ms;
    }

.wd_itm_active a:link, .wd_itm_active a:active, .wd_itm_active a:visited, .wd_itm_active a:hover {
    color: black;
}

.wd_itm_active {
    background-color: lightgrey;
}

.c-menu__active {
    background-color: #364150;
}

    .c-menu__active a:link, .c-menu__active a:active, .c-menu__active a:visited, .c-menu__active a:hover {
        color: #45B6AF;
    }

.tableinlet_title_reccount
{
    color: #759b98;
    padding-left: 15px;
}

.tableinlet_additionaltitle
{
    padding-left: 15px;
    color: goldenrod;
}

/*
    Breadcrumb
    ----------
*/

.breadcrumb-main {
    box-sizing: border-box;
    width: 65%;
    float: left;
}

/*
    Breadcrumb Context Buttons Area
    -------------------------------
*/

.contextbuttons-container {
    box-sizing: border-box;
    width: 35%;
    float: left;
    text-align: right;
    margin-top: 5px;
}

.contextbutton {
    float: right;
    width: 30pt;
    text-align: right;
    padding-top: 3px;
    font-size: 20pt;
}

.contextbuttons-container .disabled {
    cursor: default;
}

    .contextbuttons-container .disabled a:link, .contextbuttons-container .disabled a:visited, .contextbuttons-container .disabled a:active, .contextbuttons-container .disabled a:hover {
        cursor: default;
    }

/*
    Paging
    ------
*/

.context_pageinfo {
    font-size: 12pt;
    padding-top: 5pt;
}

    .context_pageinfo > span {
        padding-right: 20px;
    }

    .context_pageinfo .pagenr {
        float: right;
        cursor: pointer;
    }

    .context_pageinfo .pagecount {
        float: right;
        cursor: default;
    }

    .context_pageinfo .pagenredit {
        width: 28pt;
        height: 15pt;
        text-align: right;
        border: 1px solid gray;
        margin-right: 3px;
    }

/*
    Popups Standard Layout
    ======================
*/

.pop-container {
    padding-left: 15px !important;
    padding-top: 15px !important;
}

.pop-stack-cell {
    margin-bottom: 4px;
    clear: both;
    overflow: hidden;
    width: 100%;
    padding-bottom: 4px;
}

.pop-c-lbl {
    width: auto;
    padding-right: 20px;
    vertical-align: top;
    white-space: nowrap;
    float: left;
}

.pop-c-inplbl {
    width: auto;
    padding-right: 20px;
    padding-top: 4px;
    vertical-align: top;
    white-space: nowrap;
    float: left;
}

.pop-c-text {
    width: auto;
    padding-top: 4px;
    white-space: nowrap;
    float: left;
}

.pop-c-inpdd {
    float: left;
}

.pop-c-inp
{
    float: left;
}

.pop-c-sep
{
    float: left;
    width: 30px;
}

.pop-c-button
{
    float: left;
}

.pop-c-info {
    width: auto;
}

.pop-c-inp2lines .pop-c-textarea {
    width: auto;
    float: left;
    height: 34pt;
}

.pop-c-inp10lines .pop-c-textarea {
    width: auto;
    float: left;
    height: 140pt;
}

.pop-c-img-small > img {
    float: left;
    max-width: 220px;
    max-height: 180px;
}

.pop-c-img-tiny > img {
    float: left;
    max-width: 140px;
    max-height: 110px;
}

.pop-c-img-tiny img.upload, .pop-c-img-small img.upload {
    cursor: pointer;
    float: left;
    clear: none;
}

.pop-c-img-tiny input.upload, .pop-c-img-small input.upload {
    float: left;
    margin-left: 15px;
    clear: none;
}

.pop-c-status-green, .pop-c-status-gray {
    width: auto;
    float: left;
}

    .pop-c-status-green span {
        float: left;
        cursor: pointer;
        font-weight: bold;
        color: green;
    }

    .pop-c-status-gray span {
        float: left;
        cursor: pointer;
        font-weight: bold;
        color: #282828;
    }

.pop-buttonline {
    clear: both;
    float: left;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.pop-button {
    float: left;
    margin-right: 20px;
}

/*
    Filter area
    -----------
*/

.c-filter {
    background-color: #ebebef;
}

.c-filter-container {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: gray;
    float: left;
}

.c-filter-container-collapsed {
    background-color: #ebebef;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
}

.c-filter-collapser {
    float: left;
}

.c-filter-contents {
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    width: 98%;
}

.c-filter-contents-collapsed {
    padding-left: 30px;
}

.c-filter-controls {
    float: left;
    width: 95%;
}

.c-filter-control {
    float: left;
    padding-right: 25px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.c-filter-search {
    float: right;
    padding-right: 0.4%;
    vertical-align: bottom;
}

.maximafilter_label {
}

.maximafilter_fromto_span {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.maximafilter_inputdiv {
    float: left;
}

/*
    Maxima Popup - Copy link
*/

.pop-copylink-container
{
    
}

.pop-copylink
{
    display: inline-block;
    font-size: 9pt;
}

/*
    Statistics/Charts Module
    ------------------------
*/

.chartcontents
{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    padding-top: 10px !important;
    padding-bottom: 5px !important;
}

.nochartdata
{
    display: none;
    font-size: 12pt;
    font-weight: bold;
    color: brown;
    padding-top: 100px;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.chart_container
{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.chartbar
{
    height: 25px;
    display: inline;
    width: 100%;

    margin-top: 0px;
    padding-top: 0px;
    box-sizing: border-box;        
}

.chartbar_periods
{
    display: inline-block;
    float: left;
    width: 65%;

    box-sizing: border-box;

    padding-left: 10px;
    padding-top: 2px;
    margin-top: 0px;

    border-bottom: 1px solid #909090;
    background-color: #e7e7e9;
}

.chartbar_period
{
    box-sizing: border-box;
    display: inline-block;
    float: left;

    padding-left: 15px;
}

.chartbar_period a:visited, .chartbar_period a:link, .chartbar_period a:active, .chartbar_period a:hover
{
    color: #2d827d;
    text-decoration: none;
}

.chartbar_period a:hover
{
    color: #38bfb7;
}

.periodactive a:visited, .periodactive a:link, .periodactive a:active, .periodactive a:hover
{
    font-weight: bold;
    color: black;
}

.chartbar_selector
{
    display: inline-block;
    float: left;
    width: 35%;
    box-sizing: border-box;

    padding-top: 2px;

    border-bottom: 1px solid #909090;
    background-color: #e7e7e9;

    padding-right: 20px;
    cursor: pointer;
}

.chartbar_chartypemenutext
{
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 90%;

    padding-left: 5px;
    padding-bottom: 0px;

    font-size: 9pt;
    background-color: #dfdfe0;
}

.chartbar_chartypemenuicon
{
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 10%;

    font-size: 9pt;
    background-color: #dfdfe0;
}



.chartfilterbar
{
    width: 100%;
    box-sizing: border-box;

    text-align: center !important;
}

.chartfilter_separator
{
    display: inline-block;
    float: left;
    box-sizing: border-box;

    width: 15px;
    padding-left: 10px;
}

.period_customfilter
{
    font-size: 16pt;
    font-weight: bold;
}

/*
    Charts Period Filter Type Day - Date Range Filter
*/

.chartfilter_daterange
{
    display: inline-block;
    float: left;
    width: 300px;
    box-sizing: border-box;

    margin: 0 auto;

    padding-top: 8px;
}

.chartfilter_daterangefrom
{
    display: inline-block;
    float: left;
    width: 140px;
    box-sizing: border-box;
    padding-left: 20px;
}

.chartfilter_daterangeto
{
    display: inline-block;
    float: left;
    width: 140px;
    box-sizing: border-box;
}

/*
    Charts Period Filter Type Week/Month - Period Filter
*/

.chartfilter_periodrange
{
    display: inline-block;
    float: left;
    width: 290px;
    box-sizing: border-box;

    margin: 0 auto;

    padding-top: 8px;
}

.chartfilter_periodyearfrom
{
    display: inline-block;
    float: left;
    width: 80px;
    box-sizing: border-box;
    padding-left: 20px;
}

.chartfilter_periodfrom
{
    display: inline-block;
    float: left;
    width: 60px;
    box-sizing: border-box;
    padding-left: 10px;
}

.chartfilter_periodyearto
{
    display: inline-block;
    float: left;
    width: 70px;   
    padding-left: 10px;
    box-sizing: border-box;
}

.chartfilter_periodto
{
    display: inline-block;
    float: left;
    width: 60px;
    padding-left: 10px;
    box-sizing: border-box;
}

/*
    Charts Period Filter Type Year - Year Range Filter
*/

.chartfilter_yearrange
{
    display: inline-block;
    float: left;
    width: 180px;
    box-sizing: border-box;

    margin: 0 auto;

    padding-top: 8px;
}

.chartfilter_yearfrom
{
    display: inline-block;
    float: left;
    width: 80px;
    box-sizing: border-box;
    padding-left: 20px;
}

.chartfilter_yearto
{
    display: inline-block;
    float: left;
    width: 70px;   
    padding-left: 10px;
    box-sizing: border-box;
}

/*
    Charts - Chart-Type Menu
*/

.statisticstypemenu
{
    position: absolute;
    display: none;
    height: auto;

    width: 180px;

    background-color: white;

    border: 1px solid gray;    

    z-index: 5000;
}

.statisticstypemenuitem
{
    width: 178px;
    height: 22px;

    padding-left: 8px;   

    font-size: 9pt;
    cursor: pointer;
}
.statisticstypemenuitem:hover
{
    background-color: #364150;
    color: #45B6AF;
}

.c-content
{
    overflow-x: auto;
}