﻿/*
    old Kooco2015 Stylesheet
    ------------------------

    modify: please only update in the Maxima project
    in Maxima: please only update the file in the root /styles folder, NOT in the NugetOverwriteContents folder!
    changes will be overwritten otherwise!
*/

body{
    font-family: SimHei;
}

/*
    Standard dialogs
*/

.errordialog_text
{    
    background-color: transparent;
    color: orangered;
}

.infodialog_text
{    
    background-color: transparent;
    color: blue;
}

/*
    Login Page
*/

.loginbody {
    background-color: #364150;
}

.loginpage
{
    color: #d0d0d0;
}

.login-header
{
    width: 200px;
    height: 50px;
}

.kooco-logo
{    
    background-image: url(/images/kooco-logo.png);
    background-repeat: no-repeat;
    background-position-x: center;

    padding-left: 145px;
    padding-top: 12px;

    width: 200px;
    height: 50px;
}

.loginform
{
    width: 450px;
    background-color: #ECEEF1;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-form-title
{
    font-size: 22pt;
    color: #4DB3A5;
}

.login-input
{
    width: 100% !important;
    height: 30pt !important;
}

.login-button
{
    background-color: #45B6AF !important;
    color: white !important;
    width: 80pt;
    height: 30pt;

    font-weight: bold;
}

.login-register
{
    width: 450px;
    height: 42pt;
    background-color: #6C7A8D;

    padding-top: 14pt;

    color: #C3CEDD;
}

.login-register a:link
{
    color: #C3CEDD;
    font-weight: bold;
}
.login-register a:visited
{
    color: #C3CEDD;
    font-weight: bold;
}
.login-register a:hover
{
    color: #C3CEDD;
    font-weight: bold;
}
.login-register a:active
{
    color: #C3CEDD;
    font-weight: bold;
}

.login-footer
{
    color: #7A8CA5;
}

/* 
    alt-grid
    Classes for alternative bootstrap grid system (no padding or margin left and right - and the width does not go over 100% of the page width)
    http://stackoverflow.com/questions/26204283/bootstrap-container-fluid-remove-margins-the-right-way-overflow
*/

.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0}

/* container adjusted */
.alt-grid .container {width:100%;max-width:none;padding:0;}

/*
    Maxima Standard Layout
    ----------------------
*/
.maxima-pagecontainer
{
}

.maxima-titlebar
{
    background-color: #2B3643;
    color: white;
    height: 50px;
}

.maxima-titlebar-element
{
    background-color: #2B3643;
    color: white;
    height: 50px;
}

.maxima-titlebar-logo
{
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 5px;
}

.maxima-titlebar-logo > span, 
.maxima-titlebar-logo > img, 
.maxima-titlebar-logo > div
{
    float: left;
    color: #C3CEDD;
    font-size: 10pt;

    padding-bottom: 8px;
    padding-left: 5px;
}
.maxima-titlebar-logo > span
{
    padding-top: 3px;
}

.maxima-sidebar-toggle
{
    width: 35px;
    padding-top: 3px;
}
.maxima-sidebar-toggle > i
{
    font-size: 16pt;
    cursor: pointer;
}

.maxima-clock
{
    padding-top: 14px;
}

/*
    Sidebar
    -------
*/

.maxima-sidebar-contents-row
{
    background-color: #364150;
}

.maxima-sidebar-col
{
    color: #B4BCC8;
}

.maxima-sidebar
{
    width: 100%;
    
}

/*
    Contents Area
    -------------
*/

.maxima-contents-col
{
    background-color: white;
}

/*
    Footer
    ------
*/
.maxima-sitefooter
{
    height: 30px;
    background-color: #2B3643;
    color: #B4BCC8;
    
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
    padding-top: 5px;
}

#maxima-sidebar .k-link
{
    background-color: #364150;
    color: #B4BCC8;
    border-top: 0px none;
    border-bottom: 1px solid #3D4957;
}

#maxima-sidebar .k-item
{
    border: 0px none;
    background-color: #364150;    
}

#maxima-sidebar .k-state-hover
{
    background-color: #495668;
    background: radial-gradient(#516176, #505e71, #495668);
}

#maxima-sidebar .k-state-selected
{
    background-color: #495668;
    background: radial-gradient(#1774ee, #1a6edd, #1966ca);
    border: 0px none;
    color: white;
}

#maxima-sidebar
{
    border: 0px none;
    margin-top: 10px;
}

.maxima-sidebar-itemtext
{

}

.maxima-sidebar-subitemtext
{
    padding-left: 20px;
}

.maxima-sidebar .k-i-arrow-s::before
{
    color: #B4BCC8;
}

.maxima-sidebar .k-i-arrow-n::before
{
    color: #B4BCC8;
}