﻿.pop-activitycell{
    padding-bottom: 5px;
    clear: both;
}

.small-button {
    height: 20px; 
    border: 1px solid gray; 
    border-radius: 3px; 
    padding-left: 3px; 
    padding-right: 3px;
}

.small-button:hover {
    background-color: #e1e1e1;
}

.status_green{
    color: green;
}

.status_red{
    color: #cb0f0f;
}

/* Product Stamp Selctor Popup */

.prodstamptypesel_popup
{
    display: none; 
    z-index: 100000; 

    border: 1px solid gray; 
    background-color: #f7f6f6;

    width: 630px;
}

.prodstamptypesel_itmcontainer
{
    float: left;

    width: 600px;
    margin-top: 5px;
}

.prodstamptypesel_item
{
    width: 65px;
    float: left;

    margin-left: 5px;
    margin-bottom: 7px;

    border: 2px solid #f7f6f6;
    border-radius: 10px;
}

.prodstamptypeimg
{
    height: 57px;
    width: 60px;
    padding: 2px;
}

.prodstamptypesel_item:hover {
    background-color: gray;
    border: 2px solid gray;
    border-radius: 50px;    
}

.prodstamptypesel_buttons
{
    float: left;
}

.prodstamptypesel_button
{
    float: left;
}

.actprodstate_active
{
    color: #176417;
}

.actprodstate_partlyactive
{
    color: #8e8e32;
}

.actprodstate_inactive
{
    color: #8d8b8b;
}

.appusr_pointsedit
{
    width: 90px;    
}

.appusr_pointsedit_text
{
    float: left;
    width: 70px;
}

.appusr_pointsedit_button
{
    float: left;
}

.stampseldd.k-dropdown
{
    height: 55px;
}
.stampseldd.k-dropdown .k-dropdown-wrap{
    height: 55px;
}
.stampseldd.k-dropdown .k-dropdown-wrap .k-input{
    height: 55px;
}

/*
    Stats (Column) Numbers/Icons
*/

.appusr_statscol
{
    float: left;
}

.appusr_statsgroup
{
    white-space: nowrap;
    float: left;
    margin-right: 10px;
}

.statsicon
{
    display: inline-block;

    margin-right: 4px;
}

.stats_3numbers
{
    display: inline-block;

    text-align: left;
    padding-top: 1px;
    width: 3.5ch;
}

.stats_5numbers
{
    display: inline-block;

    text-align: left;
    padding-top: 1px;
    width: 5.5ch;
}

.statsbutton
{
    display: inline-block;
}

/*
    Mini Statistics
*/

.ministatistics_container
{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-sizing: border-box;
}

.ministatistis_table
{
    width: 100%;
    box-sizing: border-box;
}

.ministatistics_row
{
    box-sizing: border-box;
    font-size: 10.5pt;
}

.ministatistics_label
{
    width: 30%;
    padding-bottom: 4px;

    padding-left: 2px;
    padding-right: 5px;

    font-weight: bold;
    box-sizing: border-box;
    text-align: left;   
}

.ministatistics_dayvalue
{
    width: 10%; /* why I need to use more than 100% in sum to reach the width of the table, I don't get it... */
    display: inline-block;

    padding-left: 0px;
    padding-right: 2px;
    margin-right: 0px;

    padding-bottom: 4px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: right !important;
    white-space: nowrap;    
}

/*
    (future) Maxima Table Popup
    ---------------------------
*/

/* Maxima Table Popup - Header */

.maxtblpopup_header
{
    padding: 0px;
    margin: 0px;
    width: 100%;

    border: 1px solid gray;

    float: left;
}

.maxtblpopup_headerimg
{
    height: 40px;

    float: left;
}

.maxtblpopup_headerimg img
{
    height: 45px;
}

.maxtblpopup_headertext
{
    height: 30px;
    margin-left: auto;

    background-color: #c4e0d5;

    text-align: center;
    padding-top: 15px;
    padding-right: 5%;
    font-weight: bold;
    font-size: 12pt;
}

/* Maxima Table Popup - Separator */

.maxpopupseparator
{
    float: left;
    clear: both;
    height: 15px;
}

/* Maxima Table Popup - Table */

.maxtblpopup_tablecontainer
{
    float: left;
    clear: both;

    width: 100%;

    overflow-y: scroll;
    overflow-x: auto;
}

.maxtblpopuprow:nth-child(even)
{
    background-color: #F4F5F6;
}

/* Maxima Table Popup - Table Header/Row */

.maxtblpopuprow
{
    min-width: 99%;    

    float: left;
    clear: both;
    white-space: nowrap;
}

.maxtblpopupheaderrow
{
    min-width: 99%;

    float: left;
    clear: both;
    white-space: nowrap;

    background-color: #c2c3c4;
    color: #1c6d68;
    font-weight: bold;
}

.maxtblpopupheadercol
{
    display: inline-block;  

    white-space: nowrap;
    padding-right: 13px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-top: 4px;
}

/* Maxima Table Popup - Table Columns */

.maxtblpopupcol
{
    display: inline-block;

    white-space: nowrap;
    padding-right: 13px;
    padding-left: 2px;

    height: 40px;
}

.maxtblpopupimgcol
{
    padding-left: 0px;
    padding-right: 15px;
}
.maxtblpopupheaderrow .maxtblpopupimgcol
{
    padding-left: 2px;
    padding-right: 13px;
}

.maxtblpopupimgcol img
{
    height: 40px;
    width: auto;
}

.maxtblpopuptxtcol
{
    padding-top: 9px;
    height: 31px;
    text-align :left;
}
.maxtblpopupheaderrow .maxtblpopuptxtcol
{
    padding-top: 4px;
    height: auto;
}

.maxtblpopupnumcol
{
    padding-top: 9px;
    height: 31px;
    text-align: right;
}
.maxtblpopupheaderrow .maxtblpopupnumcol
{
    padding-top: 4px;
    height: auto;
}

.maxtblpopupinput
{
    padding-top: 4px;
    height: 36px;
}
.maxtblpopupheaderrow .maxtblpopupinput
{
    padding-top: 4px;
    height: auto;
}



.infopopup-label {
    padding-left: 5px;
    font-size: 11pt;
    float: left;
    clear: both;
}

.infopopup-contents {
    padding-left: 15px;
    padding-top: 1px;
    font-size: 11pt;
    float: left;
}
