﻿<!--
    Template for DataTable Masonry Inlets
    =====================================

    This is a template file for copy+paste purposes only

    modify: please only update this template in the Maxima project
    in Maxima: please only update the file in the root /Views/Templates folder, NOT in the NugetOverwriteContents folder!
    changes will be overwritten otherwise!
-->

<script type="text/template" id="DataTableListInletTemplate">
    <div class="o-grid__cell u-width-100p@lg+ u-width-100p@xlg+ u-11/12@hd+" id="##id##">
        <div class="c-portlet u-bg-light u-shadow-mini">
            <div class="c-portlet__header o-stack o-stack--center o-stack--splitted u-border-bottom u-px-small u-py-mini">
                <div class="o-stack__cell">
                    <h5>##title##</h5>
                </div>
                <div class="o-stack__cell">
                    <div class="o-stack o-stack--center o-stack--nowrap o-stack--tinyGap u-font-small">
                        <div class="o-stack__cell u-relative" style="display: ##excel_display##"><a class="u-opacity-50p" href="##excel_link##"><img src="/images/icons8-xls-24.png"/></a></div>
                        <div class="o-stack__cell u-relative" style="display: ##refresh_display##"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="##refresh_link##">refresh</a></div>
                        <div class="o-stack__cell u-relative" style="display: ##clear_display##"><a class="c-icon c-icon--main u-color-light u-opacity-50p" href="##clear_link##">clear</a></div>
                    </div>
                </div>
            </div>
            <div class="c-portlet__content u-p-small u-overflow-hidden" id="##tableid##_container">
                <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            ##headers##
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
 </script>