﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="SalesTransactionsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>                    
                    <th style="text-align: center; display: none;" data-property="Id" data-visible="no">Id</th>                    
                    <th style="text-align: center;" data-property="CreateTime" data-column-width="12%" data-edit="0" data-format="datetime" data-edit-type="datetimepicker" data-onrender="RenderCreateTimeColumn">日期</th> 
                    <th style="text-align: center;" data-property="ReceiptNumber" data-column-width="12%" data-edit="0" data-edit-type="text">收據號</th>                    
                    <th style="text-align: center;" data-property="PurchaseTypeText" data-column-width="9%" data-edit="0">買在</th>
                    <th style="text-align: center;" data-property="UserAccount" data-column-width="10%" data-edit="0" data-edit-type="text" data-onrender="RenderUserAccountColumn">會員</th>                    
                    <th style="text-align: center;" data-property="VendingMachineName" data-column-width="20%" data-edit="0" data-edit-type="text" data-onrender="RenderVendingMachineNameColumn">販賣機</th>
                    <th style="text-align: center;" data-property="VendingMachineAssetNo" data-visible="no" data-edit="1" data-edit-type="text">販賣機的AssetNo</th>
                    <th style="text-align: center;" data-property="ProductName" data-column-width="27%" data-edit="0" data-edit-type="text" data-onrender="RenderProductNameColumn">產品</th>
                    <th style="text-align: center;" data-property="StatusText" data-column-width="10%" data-edit="0" data-edit-type="text">狀態</th>

                    <th style="text-align: center;" data-property="PurchaseType" data-visible="no" data-edit="1" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(PurchaseType))">買在</th>
                    <th style="text-align: center;" data-property="Status" data-visible="no" data-edit="1" data-edit-type="dropdown" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(SalesTransactionStatus))">狀態</th>
                </tr>
            </thead>
        </table>
    </script>

}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            loadSalesTransactions();

            refreshLoginTicket();
        </script>
</text>)

<script type="text/javascript">
    function RenderCreateTimeColumn(eventArgs)
    {
        eventArgs.Html = '<span title="Transaction Id ' + eventArgs.Id + '">' + eventArgs.Html + '</span>';
    }

    function RenderUserAccountColumn(eventArgs) {
        eventArgs.Html = '<span title="UID ' + eventArgs.ColumnValues['UID'] + '">' + eventArgs.Html + ' (' + eventArgs.ColumnValues['UserNickname'] + ')' + '</span>';
    }

    function RenderVendingMachineNameColumn(eventArgs) {
        eventArgs.Html = '<span title="Machine Id ' + eventArgs.ColumnValues['VendingMachineId'] + '">' + eventArgs.Html + ' (' + eventArgs.ColumnValues['VendingMachineAssetNo'] + ')' + '</span>';
    }

    function RenderProductNameColumn(eventArgs) {
        eventArgs.Html = '<span title="Product Id ' + eventArgs.ColumnValues['ProductId'] + '">' + eventArgs.Html + ' (' + eventArgs.ColumnValues['ProductMerchandiseId'] + ')</span>';
    }

    function loadSalesTransactions(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/SalesTransactions/AjaxGetList",
            GetPropertyUrl: "/SalesTransactions/AjaxGetProperty",
            SavePropertyUrl: "/SalesTransactions/AjaxSaveProperty",
            CanDelete: false,

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: true,

            DefaultSortOrder: 'CreateTime desc',

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            FilterProperties: 'CreateTime[fromto],UserAccount,VendingMachineAssetNo,PurchaseType,Status',
            InitialFilter: {

            },
            FilterDirectMode: true,

            DataTableItemTemplateId: 'SalesTransactionsTableTemplate',
            ItemsPerPage: 14,
        });
    }
</script>

