﻿@using VmaAdmin.Shared;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="PromotionProductsTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>                    
                    <th style="text-align: center; display: none;" data-property="Id" data-visible="no">Id</th>                    
                    <th style="text-align: center;" data-property="ProductNumber">禮品號碼</th> 
                    <th style="text-align: center;" data-property="ImageUrl" data-edit="1" data-edit-type="image" data-image-width="96" data-image-height="94" data-edit-imageupload-filenamemask="promoprod_##property:ProductNumber[2]##.jpg">圖片</th>                    
                    <th style="text-align: center;" data-property="Name" data-edit="1" data-edit-type="text" data-edit-maxlength="60" data-edit-width="60ch">名字</th>
                    <th style="text-align: center;" data-property="Points" data-edit="1" data-edit-type="numeric" data-edit-minvalue="1" data-edit-maxvalue="999999" data-edit-width="20ch">積分</th>
                    <th style="text-align: center;" data-property="PayAdditional" data-edit="1" data-edit-type="numeric" data-edit-minvalue="0" data-edit-maxvalue="999999" data-edit-width="20ch">加錢換</th>
                    <th style="text-align: center;" data-property="InStock" data-edit="1" data-edit-type="numeric" data-edit-minvalue="0" data-edit-maxvalue="999999" data-edit-width="20ch">有庫存數</th>
                    <th style="text-align: center;" data-property="Status" data-edit="1" data-edit-type="enabledisable" data-edit-width="15ch" data-onoff-quickmode="true" data-ontext="提供" data-offtext="不提供">Status</th>                    
                </tr>
            </thead>
        </table>
    </script>

    <script type="text/template" id="CustomFilterTemplate">
        <div>

        </div>
    </script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            addContextButton('ctxAddNew', 'add_circle', 'javascript:addNewProduct();', '新增產品');

            loadProducts();

            refreshLoginTicket();
        </script>
</text>)

<script type="text/javascript">
    function loadProducts(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/PromotionProducts/AjaxGetList",
            GetPropertyUrl: "/PromotionProducts/AjaxGetProperty",
            SavePropertyUrl: "/PromotionProducts/AjaxSaveProperty",
            CanDelete: true,

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: false,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            DataTableItemTemplateId: 'PromotionProductsTableTemplate',
            ItemsPerPage: 25,
        });
    }

    function addNewProduct() {
        if (confirm('新增新禮品?')) {
            postData('/PromotionProducts/AjaxCreateProduct', 'Create new product', null, function (data, result) {
                MaximaPageManager.Refresh();
            });
        }
    }
</script>

