﻿@using VmaAdmin.Shared;
@using VmaBase.Models.DataStorage.Tables;
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared;
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Templates {
    <script type="text/template" id="PromotionOrdersTableTemplate">
        <table class="dataTable c-table c-table--bordered c-table--hoverable c-table--striped" id="##tableid##" cellspacing="0" style="box-sizing: border-box; width: 100%;">
            <thead>
                <tr>                    
                    <th style="text-align: center;" data-property="OrderNumber" data-column-width="7%" data-edit="0" data-edit-type="text">兌換號碼</th> 
                    <th style="text-align: center;" data-property="UserAccount" data-column-width="10%" data-edit="0" data-edit-type="text">會員 AccountID</th>
                    <th style="text-align: center;" data-property="UserNickname" data-column-width="10%" data-edit="0" data-edit-type="text">會員暱稱</th>
                    <th style="text-align: center;" data-property="PromotionProductImageUrl" data-column-width="6%" data-edit="0" data-format="image" data-image-height="40" data-image-width="0">圖片</th>
                    <th style="text-align: center;" data-property="PromotionProductName" data-column-width="12%" data-edit="0" data-edit-type="text">名稱</th>
                    <th style="text-align: center;" data-property="PointsExchanged" data-column-width="6%" data-edit="0" data-format="integer">積分用</th>
                    <th style="text-align: center;" data-property="PayAdditional" data-column-width="6%" data-edit="0" data-format="integer">加錢換</th>
                    <th style="text-align: center;" data-property="OrderNotes" data-column-width="18%" data-edit="1" data-edit-type="textpopup" data-edit-textpopup-linktype="extra" data-truncate="30" data-edit-maxlength="@(PromotionOrder.OrderNotesMaxLength - 10)" data-edit-width="400">兌換筆記</th>
                    <th style="text-align: center;" data-property="ExchangeTime" data-column-width="7%" data-edit="0" data-edit-type="date" data-format="datetime">兌換日期</th>
                    <th style="text-align: center;" data-property="PickupTime" data-column-width="7%" data-edit="0" data-edit-type="date" data-format="datetime" data-onrender="RenderPickupTimeColumn">領取日期</th>
                    <th style="text-align: center;" data-property="StatusText" data-column-width="6%" data-edit="0" data-onrender="RenderStatusColumn">狀態</th>
                    <th style="text-align: center;" data-property="Status" data-visible="no" data-edit="1" data-edit-type="dropdown" data-edit-width="100" data-edit-listvalues="@Utils.GetDropDownListValuesFromEnum(typeof(PromotionOrderStatus))">狀態</th>
                    <th style="text-align: center;" data-property="Id" data-column-width="5%" data-edit="0" data-onrender="RenderButtonsColumn"></th>
                </tr>
            </thead>
        </table>
    </script>
}

<div id="OrderRefundPopup" class="newspopup k-popup pop-container" style="display: none;">
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            會員 Account Id:
        </div>
        <div class="pop-c-text">
            <span id="OrderRefundUserAccount"></span>
        </div>
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            會員暱稱:
        </div>
        <div class="pop-c-text">
            <span id="OrderRefundUserNickname"></span>
        </div>
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            兌換號碼:
        </div>
        <div class="pop-c-text">
            <span id="OrderRefundOrderNumber"></span>
        </div>
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            禮品名稱:
        </div>
        <div class="pop-c-text">
            <span id="OrderRefundProductName"></span>
        </div>
    </div>
    <div class="pop-stack-cell">
        &nbsp;
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            退換的原因:
        </div>
        <div class="pop-c-text">
            <input id="OrderRefundReasonList" />
        </div>
    </div>
    <div class="pop-stack-cell">
        <div class="pop-c-inplbl">
            兌換筆記:
        </div>
        <div class="pop-c-text">
            <textarea id="OrderRefundOrderNotes" class="k-textbox" maxlength="@(PromotionOrder.OrderNotesMaxLength - 10)" style="width: 300px; height: 150px;"></textarea>
        </div>
    </div>
    <div class="pop-buttonline">
        <div class="pop-button">
            <button type="button" name="ok" id="OrderRefundSaveButton">退還</button>
        </div>
        <div class="pop-button">
            <button type="button" name="cancel" id="OrderRefundCancelButton">取消</button>
        </div>
    </div>
</div>

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
            loadPromotionOrders();

            refreshLoginTicket();
        </script>
</text>)

<script type="text/javascript">
    function loadPromotionOrders(pageNr) {
        MaximaPageManager.init({
            IdColumnName: "Id",
            GetDataUrl: "/PromotionProducts/AjaxOrdersGetList",
            GetPropertyUrl: "/PromotionProducts/AjaxOrdersGetProperty",
            SavePropertyUrl: "/PromotionProducts/AjaxOrdersSaveProperty",
            CanDelete: false,
            CanExport: true,

            ExcelFilename: 'promoorders',
            AddExcelExportColumns: {
                Id: { Hide: true },
                UserName: { Label: '會員姓名', After: 'UserNickname' },
                UserPhone: { Label: '會員電話號碼', After: 'UserName' },
                UserAddress: { Label: '會員地址', After: 'UserPhone' }
            },

            EnableDetailListView: false,
            EnableBoxView: false,
            EnableSorting: true,

            FilterProperties: 'OrderNumber,UserAccount,ExchangeTime[fromto],Status',
            InitialFilter: {
            },
            FilterDirectMode: true,

            InitialViewType: MaximaPageManager_ViewTypes.DataTable,

            DataTableItemTemplateId: 'PromotionOrdersTableTemplate',
            ItemsPerPage: 12,

            BeforeFilterApply: function (filterUriString, filterProperties)
            {
                CurrentFilterString = filterUriString;
            },
        });
    }

    function RenderStatusColumn(eventArgs)
    {
        eventArgs.Html = '<span id="orderstatus' + eventArgs.Id + '">' + eventArgs.Html + '</span>';
    }

    function RenderPickupTimeColumn(eventArgs)
    {
        eventArgs.Html = '<span id="orderpickuptime' + eventArgs.Id + '">' + (eventArgs.Html == null ? '' : eventArgs.Html) + '</span>';
    }

    function RenderButtonsColumn(eventArgs)
    {
        var html = '';

        html += '<a id="orderpickupbtn' + eventArgs.Id + '" class="c-icon c-icon--main u-opacity-50p u-color-green" style="font-size: 16pt; color: darkgreen; float: left;" ' +
                (eventArgs.ColumnValues['Status'] == @((int)PromotionOrderStatus.PointsExchanged) ?
                 ' href="javascript:MarkPickedUp(' + eventArgs.Id + ', \'' + eventArgs.ColumnValues['UserNickname'] + '\', \'' + eventArgs.ColumnValues['UserAccount'] + '\', \'' + eventArgs.ColumnValues['PromotionProductName'] + '\');" title="會員拿起了">check</div>'
                 : '>&nbsp;</a>');

        html += '<a id="orderrefundbtn' + eventArgs.Id + '" class="c-icon c-icon--main u-opacity-50p u-color-green" style="float: left; padding-left: 10px; margin-top: 3px;" ' +
                (eventArgs.ColumnValues['Status'] == @((int)PromotionOrderStatus.PointsExchanged) ?
                 ' href="javascript:ShowRefundPopup(' + eventArgs.Id + ', \'' + eventArgs.ColumnValues['UserNickname'] + '\', \'' + eventArgs.ColumnValues['UserAccount'] + '\', \'' + eventArgs.ColumnValues['OrderNumber'] + '\', \'' + eventArgs.ColumnValues['PromotionProductName'] + '\');" title="退換"><img src="/images/points_return.png" /></div>'
                 : '><img src="/images/blank_16x16.png" /></a>');

        eventArgs.Html = html;
    }

    /*
     * MarkPickedUp
     * ------------
     */
    function MarkPickedUp(Id, Nickname, Account, ProductName)
    {
        if (confirm('會員【' + Nickname + ' (' + Account + ')】採集【' + ProductName + '】了嗎?'))
        {
            postData('/PromotionProducts/AjaxOrdersMarkPickedUp', 'set pickup status for order', { PromotionOrderId: Id }, function(data, result) {
                $('#orderstatus' + Id).text('@(Utils.GetEnumDisplayName(typeof(PromotionOrderStatus), PromotionOrderStatus.PickedUp.ToString()))');                
                $('#orderpickuptime' + Id).text(jsonDateToDateTimeString(data.PickupTime));
                $('#orderpickupbtn' + Id).hide();
                $('#orderrefundbtn' + Id).hide();
            });
        }
    }

    /*
     * ShowRefundPopup
     * ---------------
     */
    var CurrentPromotionOrderId = null;

    function ShowRefundPopup(Id, Nickname, Account, OrderNumber, ProductName)
    {
        CurrentPromotionOrderId = Id;

        // create popup
        $('#OrderRefundPopup').kendoWindow({
            width: '500x',
            height: '550px',
            title: '退還禮品',
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#OrderRefundSaveButton').data('kendoButton') != 'undefined')
                    $('#OrderRefundSaveButton').data('kendoButton').destroy();
                if (typeof $('#OrderRefundCancelButton').data('kendoButton') != 'undefined')
                    $('#OrderRefundCancelButton').data('kendoButton').destroy();
            },
            activate: function (e) {
                equalWidth('.pop-c-inplbl');
            }
        }).data('kendoWindow').center().open();

        $('#OrderRefundUserAccount').text(Account);
        $('#OrderRefundUserNickname').text(Nickname);
        $('#OrderRefundOrderNumber').text(OrderNumber);
        $('#OrderRefundProductName').text(ProductName);        
        $('#OrderRefundOrderNotes').val(MaximaPageManager.GetPropertyValue(Id, 'OrderNotes'));

        var RefundReasonsDataSource = @(Utils.GetJSDataSourceFromEnum(typeof(PromotionOrderRefundReason)));        
        $('#OrderRefundReasonList').kendoDropDownList({
            dataSource: RefundReasonsDataSource,
            dataTextField: 'Name',
            dataValueField: 'Value'
        });

        // news edit popup - ok button
        $('#OrderRefundSaveButton').kendoButton({
            icon: 'check',
            click: function (e) {
                postData('/PromotionProducts/AjaxOrdersRefund', 'refund product', { PromotionOrderId: CurrentPromotionOrderId, RefundReason: $('#OrderRefundReasonList').data('kendoDropDownList').value(), OrderNotes: $('#OrderRefundOrderNotes').val() }, function(data, result) {
                    alert('退換成功');
                    $('#OrderRefundPopup').data('kendoWindow').close();

                    $('#orderstatus' + Id).text('@(Utils.GetEnumDisplayName(typeof(PromotionOrderStatus), PromotionOrderStatus.Refund.ToString()))');
                    MaximaPageManager.SetPropertyValue(Id, 'OrderNotes', data.OrderNotes);
                    $('#orderpickupbtn' + Id).hide();
                    $('#orderrefundbtn' + Id).hide();
                });
            }
        });

        // news edit popup - cancel button
        $('#OrderRefundCancelButton').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#OrderRefundPopup').data('kendoWindow').close();
            }
        });
    }
</script>

