﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@using VmaBase.Models.Enum;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/MaximaWeb/MaximaWeb.Views.Modules.Statistics.StatisticsInlet.cshtml")

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
        // if the google charts already is ready then load the statistics already here, otherwise in the GoogleChartsInitialized callback
        if (GoogleChartsReady)
            loadStatistics();
        </script>
</text>)

<script type="text/javascript">
    var StatisticsInitialized = false;

    function loadStatistics()
    {
        StatisticsInitialized = true; // make sure it's not initialized again!

        GetStatisticsUrl = '/Statistics/GetStatistics';
        GetCustomStatisticsUrl = '/Statistics/GetCustomStatistics';

        AddStatisticsInlet({
            InletId: 'CollectedStampsStats',
            Title: '收集的印花數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '印花數',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Activity_CollectedStampsCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'CompletedCouponsStats',
            Title: '完成集的的贈飲券數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '贈飲券數',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Activity_CompletedCouponsCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });
        
        AddStatisticsInlet({
            InletId: 'RedeemedCouponsStats',
            Title: '已領取的的贈飲券數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '贈飲券數',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Activity_RedeemedCouponsCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'CollectingUserCount',
            Title: '收集印花的人',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '會員數',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Activity_UsersCountCollectingStamps),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });
    }

    /* Callback function when the google charts are ready */
    function GoogleChartsInitialized()
    {
        if (!StatisticsInitialized)
            loadStatistics();
    }
</script>