﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@using VmaBase.Models.Enum;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/MaximaWeb/MaximaWeb.Views.Modules.Statistics.StatisticsInlet.cshtml")

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
        // if the google charts already is ready then load the statistics already here, otherwise in the GoogleChartsInitialized callback
        if (GoogleChartsReady)
            loadStatistics();
        </script>
</text>)

<script type="text/javascript">
    var StatisticsInitialized = false;

    function loadStatistics()
    {
        StatisticsInitialized = true; // make sure it's not initialized again!

        GetStatisticsUrl = '/Statistics/GetStatistics';
        GetCustomStatisticsUrl = '/Statistics/GetCustomStatistics';

        AddStatisticsInlet({
            InletId: 'DrawedGamesStats',
            Title: '玩抽獎次數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '玩抽獎次數',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Watersports_DrawedGames),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'PlayerCountStats',
            Title: '玩抽獎的人數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '玩抽獎的人數',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Watersports_PlayersCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'WonPricesStats',
            Title: '被抽到的獎品數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '被抽到的獎品數',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Watersports_WonPricesCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
                Group1Value: null,
                Group1FilterNull: true
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'WonPricesPerPriceStats',
            Title: '被抽到的獎品數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '被抽到的獎品數 (一獎品)',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 3,
            Options: {
                ItemId: @((int)StatisticsItems.Watersports_WonPricesCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
                Group1ExcludeNull: true
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'RedeemedPricesStats',
            Title: '已領取的獎品數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '已領取的獎品數',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Watersports_RedeemedPricesCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
                Group1Value: null,
                Group1FilterNull: true
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'RedeemedPricesPerPriceStats',
            Title: '已領取的獎品數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '已領取的獎品數 (一獎品)',
            PeriodAxisLabel: '',
            InitialSize: 'small',
            ShowLegend: false,
            Dimensions: 3,
            Options: {
                ItemId: @((int)StatisticsItems.Watersports_RedeemedPricesCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
                Group1ExcludeNull: true
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });
    }

    /* Callback function when the google charts are ready */
    function GoogleChartsInitialized()
    {
        if (!StatisticsInitialized)
            loadStatistics();
    }
</script>