﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@using VmaBase.Models.Enum;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/MaximaWeb/MaximaWeb.Views.Modules.Statistics.StatisticsInlet.cshtml")

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
        // if the google charts already is ready then load the statistics already here, otherwise in the GoogleChartsInitialized callback
        if (GoogleChartsReady)
            loadStatistics();
        </script>
</text>)

<script type="text/javascript">
    var StatisticsInitialized = false;

    function loadStatistics()
    {
        StatisticsInitialized = true; // make sure it's not initialized again!

        GetStatisticsUrl = '/Statistics/GetStatistics';
        GetCustomStatisticsUrl = '/Statistics/GetCustomStatistics';

        AddStatisticsInlet({
            InletId: 'TotalSalesStats',
            Title: '銷售 - 所有的販賣器',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '銷售數',
            PeriodAxisLabel: '',
            InitialSize: 'medium',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Sales_SoldItemsCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
                Group1Value: null,
                Group1FilterNull: true
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5,
            
            ShowCustomFilter: true,
            OnCustomFilter: function(eventArgs) {
                VendingMachineFilter(eventArgs);
            }
        });

        AddStatisticsInlet({
            InletId: 'PhoneSalesStats',
            Title: '銷售 - 手機App用的',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '銷售數',
            PeriodAxisLabel: '',
            InitialSize: 'medium',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Sales_SoldItemsCountUsingApp),
                PeriodType: @((int)StatisticsPeriodType.Day),
                Group1Value: null,
                Group1FilterNull: true
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5, 
            
            ShowCustomFilter: true,
            OnCustomFilter: function(eventArgs) {
                VendingMachineFilter(eventArgs);
            }
        });
    }

    /* Callback function when the google charts are ready */
    function GoogleChartsInitialized()
    {
        if (!StatisticsInitialized)
            loadStatistics();
    }
</script>

<!-- 
    Vending Machine Filter Popup 
    ============================
-->

<div id="VendingMachineFilterPopup" style="display: none;">
    <div class="pop-stack-cell" style="padding-top: 10px; padding-bottom: 10px;">
        <input class="k-input" id="VendingMachineList" />
    </div>
    <div class="popupbuttons" id="FilterButtonsContainer">
        <div class="popupbutton">
            <button type="button" name="save" id="FilterOkButton">確認</button>
        </div>
        <div class="popupbutton">
            <button type="button" name="cancel" id="ClearFilterButton">清除選擇</button>
        </div>
        <div class="popupbutton">
            <button type="button" name="cancel" id="FilterCancelButton">取消</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function VendingMachineFilter(eventArgs)
    {
        // banner upload popup - open popup window
        $('#VendingMachineFilterPopup').kendoWindow({
            width: '270px',
            height: '140px',
            title: '選販賣器',
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#FilterOkButton').data('kendoButton') != 'undefined')
                    $('#FilterOkButton').data('kendoButton').destroy();
                if (typeof $('#ClearFilterButton').data('kendoUpload') != 'undefined')
                    $('#ClearFilterButton').data('kendoUpload').destroy();
                if (typeof $('#FilterCancelButton').data('kendoUpload') != 'undefined')
                    $('#FilterCancelButton').data('kendoUpload').destroy();
            }
        }).data('kendoWindow').center().open();

        // load and initialize vending machine dropdown
        getRemoteData('/Statistics/GetVendingMachinesList', 'load vending machines dropdown', function(data, result) {
            $('#VendingMachineList').kendoDropDownList({
                dataSource: data,
                dataTextField: 'DisplayName',
                dataValueField: 'Value'
            });
        });

        // filter popup - ok button
        $('#FilterOkButton').kendoButton({
            icon: 'check',
            click: function (e) {
                FilterVendingMachine(eventArgs);

                $('#VendingMachineFilterPopup').data('kendoWindow').close();
            }
        });

        // filter popup - ok button
        $('#ClearFilterButton').kendoButton({
            icon: 'delete',
            click: function (e) {
                ClearFilter(eventArgs);

                $('#VendingMachineFilterPopup').data('kendoWindow').close();
            }
        });

        // filter popup - cancel button
        $('#FilterCancelButton').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#VendingMachineFilterPopup').data('kendoWindow').close();
            }
        });
    }

    function FilterVendingMachine(eventArgs)
    {
        eventArgs.StatisticOptions.Group1Value = $('#VendingMachineList').data('kendoDropDownList').value();
        eventArgs.StatisticOptions.Group1FilterNull = false;

        eventArgs.ChartOptions.title = $('#VendingMachineList').data('kendoDropDownList').text();
        eventArgs.ChartOptions.titleTextStyle = {
            color: 'gray',
            fontSize: 16,
            bold: false
        };

        RefreshChart(eventArgs.InletId);
        window.setTimeout(function() {
            RefreshChart(eventArgs.InletId);
        }, 50);        
    }

    function ClearFilter(eventArgs)
    {
        eventArgs.StatisticOptions.Group1Value = null;
        eventArgs.StatisticOptions.Group1FilterNull = true;

        eventArgs.ChartOptions.title = null;

        RefreshChart(eventArgs.InletId);
        window.setTimeout(function() {
            RefreshChart(eventArgs.InletId);
        }, 50);        
    }
</script>