﻿@using MaximaWeb.Shared
@using Kooco.Framework.Shared;
@using Kooco.Framework.Models.Enum;
@using Kooco.Framework.Models.DataStorage.Tables;
@using Kooco.Framework.Models.DataTransferObjects;
@using VmaBase.Models.Enum;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/MaximaWeb/MaximaWeb.Views.Modules.Statistics.StatisticsInlet.cshtml")

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>
        // if the google charts already is ready then load the statistics already here, otherwise in the GoogleChartsInitialized callback
        if (GoogleChartsReady)
            loadStatistics();
        </script>
</text>)

<script type="text/javascript">
    var StatisticsInitialized = false;

    function loadStatistics()
    {
        StatisticsInitialized = true; // make sure it's not initialized again!

        GetStatisticsUrl = '/Statistics/GetStatistics';
        GetCustomStatisticsUrl = '/Statistics/GetCustomStatistics';

        AddStatisticsInlet({
            InletId: 'UserRegStats',
            Title: '會員註冊數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '註冊數',
            PeriodAxisLabel: '',
            InitialSize: 'medium',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Users_NewRegistrations),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'UserCountStats',
            Title: '會員數',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '會員數',
            PeriodAxisLabel: '',
            InitialSize: 'medium',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Users_UserCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'UserLoginStats',
            Title: '會員登入',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '會員登入',
            PeriodAxisLabel: '',
            InitialSize: 'medium',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Users_LoginCount),
                PeriodType: @((int)StatisticsPeriodType.Day),
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5
        });

        AddStatisticsInlet({
            InletId: 'RetentionRates',
            Title: '會員保留率',
            InitialChartType: 'LineChart',
            ValueAxisLabel: '保留率',
            PeriodAxisLabel: '',
            InitialSize: 'medium',
            ShowLegend: false,
            Dimensions: 2,
            Options: {
                ItemId: @((int)StatisticsItems.Users_RetentionRate),
                PeriodType: @((int)StatisticsPeriodType.Day),
                Group1Value: '000000000003'
            },
            ChartOptions: {
                title: '3天',
                titleTextStyle: {
                    color: 'gray',
                    fontSize: 16,
                    bold: false
                }
            },
            MaximumDayRange: 14,
            MaximumWeekRange: 14,
            MaximumMonthRange: 12,
            MaximumYearRange: 5,
            ShowCustomFilter: true,
            OnCustomFilter: function(eventArgs) {
                RetentionRateFilter(eventArgs);
            }
        });
    }

    /* Callback function when the google charts are ready */
    function GoogleChartsInitialized()
    {
        if (!StatisticsInitialized)
            loadStatistics();
    }
</script>


<!--
    Vending Machine Filter Popup
    ============================
-->

<div id="RetentionRateFilterPopup" style="display: none;">
    <div class="pop-stack-cell" style="padding-top: 10px; padding-bottom: 10px;">
        <input class="k-input" id="RetentionRateList" />
    </div>
    <div class="popupbuttons" id="FilterButtonsContainer">
        <div class="popupbutton">
            <button type="button" name="save" id="FilterOkButton">確認</button>
        </div>
        <div class="popupbutton">
            <button type="button" name="cancel" id="FilterCancelButton">取消</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function RetentionRateFilter(eventArgs)
    {
        // banner upload popup - open popup window
        $('#RetentionRateFilterPopup').kendoWindow({
            width: '270px',
            height: '140px',
            title: '會員保留率 - 選時間',
            visible: true,
            actions: ['Close'],
            close: function (e) {
                if (typeof $('#FilterOkButton').data('kendoButton') != 'undefined')
                    $('#FilterOkButton').data('kendoButton').destroy();
                if (typeof $('#FilterCancelButton').data('kendoUpload') != 'undefined')
                    $('#FilterCancelButton').data('kendoUpload').destroy();
            }
        }).data('kendoWindow').center().open();

        // load and initialize vending machine dropdown
        var RetentionRateRanges = [
            { Value: '000000000001', DisplayName: '1天' },
            { Value: '000000000003', DisplayName: '3天' },
            { Value: '000000000007', DisplayName: '7天' },
            { Value: '000000000015', DisplayName: '15天' },
            { Value: '000000000030', DisplayName: '30天' },
        ];

        $('#RetentionRateList').kendoDropDownList({
            dataSource: RetentionRateRanges,
            dataTextField: 'DisplayName',
            dataValueField: 'Value'
        });

        // filter popup - ok button
        $('#FilterOkButton').kendoButton({
            icon: 'check',
            click: function (e) {
                FilterRetentionRate(eventArgs);

                $('#RetentionRateFilterPopup').data('kendoWindow').close();
            }
        });

        // filter popup - cancel button
        $('#FilterCancelButton').kendoButton({
            icon: 'cancel',
            click: function (e) {
                $('#RetentionRateFilterPopup').data('kendoWindow').close();
            }
        });
    }

    function FilterRetentionRate(eventArgs)
    {
        eventArgs.StatisticOptions.Group1Value = $('#RetentionRateList').data('kendoDropDownList').value();

        eventArgs.ChartOptions.title = $('#RetentionRateList').data('kendoDropDownList').text();
        eventArgs.ChartOptions.titleTextStyle = {
            color: 'gray',
            fontSize: 16,
            bold: false
        };

        RefreshChart(eventArgs.InletId);
        window.setTimeout(function() {
            RefreshChart(eventArgs.InletId);
        }, 50);
    }
</script>