﻿@using VmaBase.Shared
@using VmaBase.Models.Enum;
@using MaximaWeb.Shared
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var PermissionsProvider = new Kooco.Framework.Providers.UserPermissionsProvider();
}

@section Templates {
    <script type="text/template" id="indexTemplate">
        <div class="o-grid__cell ##gridcellclass## newsticker-cell" id="##id##">
            <div class="c-portlet u-bg-light u-shadow-mini">
                <div class="c-portlet__header o-stack o-stack--center o-stack--splitted u-border-bottom u-px-small u-py-mini">
                    <div class="o-stack__cell">
                        <h5 name="newsticker_title">##title##</h5>
                    </div>
                </div>
                <div class="c-portlet__content">
                    <div class="o-stack__cell">
                        <div class="adm_banner_link" style="padding-left: 20px; padding-top: 15px; padding-bottom: 15px; font-size: 16pt;">
                            <a class="c-link" href="##menulink##">##menutitle##</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

<script type="text/template" id="miniStatisticsTemplate">
    <div class="o-grid__cell ##gridcellclass## newsticker-cell u-6/12@@hd+ u-6/12@@xlg+ u-width-100p@@lg+ u-width-100p@@md+ u-width-auto@@sm+ u-width-100p@@xs+" id="##id##">
        <div class="c-portlet u-bg-light u-shadow-mini">
            <div class="c-portlet__header o-stack o-stack--center o-stack--splitted u-border-bottom u-px-small u-py-mini">
                <div class="o-stack__cell">
                    <h5 name="newsticker_title">##title##</h5>
                </div>
            </div>
            <div class="c-portlet__content">
                <div class="o-stack__cell">
                    <div class="ministatistics_container">
                        <table class="ministatistis_table">
                            <thead>
                                <tr class="ministatistics_row">
                                    <th class="ministatistics_label">統計名稱</th>
                                    <th class="ministatistics_dayvalue" align="right">##DateDay1##</th>
                                    <th class="ministatistics_dayvalue" align="right">##DateDay2##</th>
                                    <th class="ministatistics_dayvalue" align="right">##DateDay3##</th>
                                    <th class="ministatistics_dayvalue" align="right">##DateDay4##</th>
                                    <th class="ministatistics_dayvalue" align="right">##DateDay5##</th>
                                    <th class="ministatistics_dayvalue" align="right">##DateDay6##</th>
                                    <th class="ministatistics_dayvalue" align="right">##DateDay7##</th>
                                    <th class="ministatistics_dayvalue" align="right">全部</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ministatistics_row">
                                    <td class="ministatistics_td ministatistics_label">玩抽獎次數</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##GamesPlayedDay1##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##GamesPlayedDay2##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##GamesPlayedDay3##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##GamesPlayedDay4##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##GamesPlayedDay5##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##GamesPlayedDay6##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##GamesPlayedDay7##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##GamesPlayedTotal##</td>
                                </tr>
                                <tr class="ministatistics_row">
                                    <td class="ministatistics_td ministatistics_label">玩抽獎的人數</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##UsersPlayedDay1##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##UsersPlayedDay2##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##UsersPlayedDay3##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##UsersPlayedDay4##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##UsersPlayedDay5##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##UsersPlayedDay6##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##UsersPlayedDay7##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##UsersPlayedTotal##</td>
                                </tr>
                                <tr class="ministatistics_row">
                                    <td class="ministatistics_td ministatistics_label">已領取的獎品數</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesPickedUpDay1##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesPickedUpDay2##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesPickedUpDay3##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesPickedUpDay4##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesPickedUpDay5##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesPickedUpDay6##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesPickedUpDay7##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesPickedUpTotal##</td>
                                </tr>
                                <tr class="ministatistics_row">
                                    <td class="ministatistics_td ministatistics_label">被抽到的獎品數</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesWonDay1##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesWonDay2##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesWonDay3##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesWonDay4##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesWonDay5##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesWonDay6##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesWonDay7##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##PricesWonTotal##</td>
                                </tr>
                                <tr class="ministatistics_row">
                                    <td class="ministatistics_td ministatistics_label">贏得「加系可口可樂」的數量</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##ColaWonDay1##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##ColaWonDay2##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##ColaWonDay3##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##ColaWonDay4##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##ColaWonDay5##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##ColaWonDay6##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##ColaWonDay7##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##ColaWonTotal##</td>
                                </tr>
                                <tr class="ministatistics_row">
                                    <td class="ministatistics_td ministatistics_label">贏得旅行套裝的數量</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##TravelSetWonDay1##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##TravelSetWonDay2##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##TravelSetWonDay3##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##TravelSetWonDay4##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##TravelSetWonDay5##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##TravelSetWonDay6##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##TravelSetWonDay7##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##TravelSetWonTotal##</td>
                                </tr>
                                <tr class="ministatistics_row">
                                    <td class="ministatistics_td ministatistics_label">贏得陶瓷碗套裝的數量</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##CeramicBowlWonDay1##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##CeramicBowlWonDay2##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##CeramicBowlWonDay3##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##CeramicBowlWonDay4##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##CeramicBowlWonDay5##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##CeramicBowlWonDay6##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##CeramicBowlWonDay7##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##CeramicBowlWonTotal##</td>
                                </tr>
                                <tr class="ministatistics_row">
                                    <td class="ministatistics_td ministatistics_label">贏得儲物罐的數量</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##StorageTankWonDay1##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##StorageTankWonDay2##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##StorageTankWonDay3##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##StorageTankWonDay4##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##StorageTankWonDay5##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##StorageTankWonDay6##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##StorageTankWonDay7##</td>
                                    <td class="ministatistics_td ministatistics_dayvalue" align="right">##StorageTankWonTotal##</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
}

@KoocoHtmlHelper.DocumentReady(@<text>
        <script>

    @if (PermissionsProvider.HasActionPermission("News", "NewsManagement"))
    {
        <text>
        AddMasonryInlet('indexTemplate', '', 'menuwidget101',
                 '活動',
                 'menulink: /News/NewsManagement',
                 'menutitle: 活動管理');
        </text>
    }

    @if (PermissionsProvider.HasActionPermission("VendingProducts", "Index"))
    {
        <text>
        AddMasonryInlet('indexTemplate', '', 'menuwidget102',
                 '產品',
                 'menulink: /VendingProducts/Index',
                 'menutitle: 產品管理');
        </text>
    }

    @if (PermissionsProvider.HasActionPermission("Stamps", "Index"))
    {
        <text>
        AddMasonryInlet('indexTemplate', '', 'menuwidget103',
                 '印花',
                 'menulink: /Stamps/Index',
                 'menutitle: 印花管理');
        </text>
    }

    @if (PermissionsProvider.HasActionPermission("PromotionProducts", "Index"))
    {
        <text>
        AddMasonryInlet('indexTemplate', '', 'menuwidget104',
                 '禮品',
                 'menulink: /PromotionProducts/Index',
                 'menutitle: 禮品管理');
        </text>
    }

    @if (PermissionsProvider.HasActionPermission("Lottery", "Index"))
    {
        <text>
        AddMasonryInlet('indexTemplate', '', 'menuwidget105',
                 '獎品',
                 'menulink: /Lottery/Index',
                 'menutitle: 幸運汽水機');

            getRemoteData('/Lottery/AjaxLotteryGetBaseStatistics', 'load lottery mini statistics', function (data, result) {
            AddMasonryInlet('miniStatisticsTemplate', '', 'miniStatistics1',
                     '可口可樂幸運汽水機 - 本日數據統計',

                     'DateDay1: ' + moment().add(-6, 'days').format('MM/DD'),
                     'DateDay2: ' + moment().add(-5, 'days').format('MM/DD'),
                     'DateDay3: ' + moment().add(-4, 'days').format('MM/DD'),
                     'DateDay4: ' + moment().add(-3, 'days').format('MM/DD'),
                     'DateDay5: ' + moment().add(-2, 'days').format('MM/DD'),
                     'DateDay6: ' + moment().add(-1, 'days').format('MM/DD'),
                     'DateDay7: ' + moment().format('MM/DD'),

                     'GamesPlayedDay1: ' + data.Days[0].GameDrawsCount,
                     'UsersPlayedDay1: ' + data.Days[0].UserDrawedGameCount,
                     'PricesPickedUpDay1: ' + data.Days[0].PricesExchangedTotal,
                     'PricesWonDay1: ' + data.Days[0].PricesWonTotal,
                     'ColaWonDay1: ' + data.Days[0].PricesWonCola,
                     'TravelSetWonDay1: ' + data.Days[0].PricesWonTravelSet,
                     'CeramicBowlWonDay1: ' + data.Days[0].PricesWonCeramicBowl,
                     'StorageTankWonDay1: ' + data.Days[0].PricesWonStorageTank,

                     'GamesPlayedDay2: ' + data.Days[1].GameDrawsCount,
                     'UsersPlayedDay2: ' + data.Days[1].UserDrawedGameCount,
                     'PricesPickedUpDay2: ' + data.Days[1].PricesExchangedTotal,
                     'PricesWonDay2: ' + data.Days[1].PricesWonTotal,
                     'ColaWonDay2: ' + data.Days[1].PricesWonCola,
                     'TravelSetWonDay2: ' + data.Days[1].PricesWonTravelSet,
                     'CeramicBowlWonDay2: ' + data.Days[1].PricesWonCeramicBowl,
                     'StorageTankWonDay2: ' + data.Days[1].PricesWonStorageTank,

                     'GamesPlayedDay3: ' + data.Days[2].GameDrawsCount,
                     'UsersPlayedDay3: ' + data.Days[2].UserDrawedGameCount,
                     'PricesPickedUpDay3: ' + data.Days[2].PricesExchangedTotal,
                     'PricesWonDay3: ' + data.Days[2].PricesWonTotal,
                     'ColaWonDay3: ' + data.Days[2].PricesWonCola,
                     'TravelSetWonDay3: ' + data.Days[2].PricesWonTravelSet,
                     'CeramicBowlWonDay3: ' + data.Days[2].PricesWonCeramicBowl,
                     'StorageTankWonDay3: ' + data.Days[2].PricesWonStorageTank,

                     'GamesPlayedDay4: ' + data.Days[3].GameDrawsCount,
                     'UsersPlayedDay4: ' + data.Days[3].UserDrawedGameCount,
                     'PricesPickedUpDay4: ' + data.Days[3].PricesExchangedTotal,
                     'PricesWonDay4: ' + data.Days[3].PricesWonTotal,
                     'ColaWonDay4: ' + data.Days[3].PricesWonCola,
                     'TravelSetWonDay4: ' + data.Days[3].PricesWonTravelSet,
                     'CeramicBowlWonDay4: ' + data.Days[3].PricesWonCeramicBowl,
                     'StorageTankWonDay4: ' + data.Days[3].PricesWonStorageTank,

                     'GamesPlayedDay5: ' + data.Days[4].GameDrawsCount,
                     'UsersPlayedDay5: ' + data.Days[4].UserDrawedGameCount,
                     'PricesPickedUpDay5: ' + data.Days[4].PricesExchangedTotal,
                     'PricesWonDay5: ' + data.Days[4].PricesWonTotal,
                     'ColaWonDay5: ' + data.Days[4].PricesWonCola,
                     'TravelSetWonDay5: ' + data.Days[4].PricesWonTravelSet,
                     'CeramicBowlWonDay5: ' + data.Days[4].PricesWonCeramicBowl,
                     'StorageTankWonDay5: ' + data.Days[4].PricesWonStorageTank,

                     'GamesPlayedDay6: ' + data.Days[5].GameDrawsCount,
                     'UsersPlayedDay6: ' + data.Days[5].UserDrawedGameCount,
                     'PricesPickedUpDay6: ' + data.Days[5].PricesExchangedTotal,
                     'PricesWonDay6: ' + data.Days[5].PricesWonTotal,
                     'ColaWonDay6: ' + data.Days[5].PricesWonCola,
                     'TravelSetWonDay6: ' + data.Days[5].PricesWonTravelSet,
                     'CeramicBowlWonDay6: ' + data.Days[5].PricesWonCeramicBowl,
                     'StorageTankWonDay6: ' + data.Days[5].PricesWonStorageTank,

                     'GamesPlayedDay7: ' + data.Days[6].GameDrawsCount,
                     'UsersPlayedDay7: ' + data.Days[6].UserDrawedGameCount,
                     'PricesPickedUpDay7: ' + data.Days[6].PricesExchangedTotal,
                     'PricesWonDay7: ' + data.Days[6].PricesWonTotal,
                     'ColaWonDay7: ' + data.Days[6].PricesWonCola,
                     'TravelSetWonDay7: ' + data.Days[6].PricesWonTravelSet,
                     'CeramicBowlWonDay7: ' + data.Days[6].PricesWonCeramicBowl,
                     'StorageTankWonDay7: ' + data.Days[6].PricesWonStorageTank,

                     'GamesPlayedTotal: ' + data.Total.GameDrawsCount,
                     'UsersPlayedTotal: ' + data.Total.UserDrawedGameCount,
                     'PricesPickedUpTotal: ' + data.Total.PricesExchangedTotal,
                     'PricesWonTotal: ' + data.Total.PricesWonTotal,
                     'ColaWonTotal: ' + data.Total.PricesWonCola,
                     'TravelSetWonTotal: ' + data.Total.PricesWonTravelSet,
                     'CeramicBowlWonTotal: ' + data.Total.PricesWonCeramicBowl,
                     'StorageTankWonTotal: ' + data.Total.PricesWonStorageTank,
                     );
            adjustLayout();
        });
        </text>
    }
        </script>
</text>)

@if (HttpContext.Current.Request.Params["Decryptor"] == "1")
{
    <div style="padding-left: 10px; float: left;">
        <input type="text" id="EncryptedData" />
        <input type="button" value="Decrypt" onclick="doIt();" />
    </div>
    <div style="padding-left: 10px; float: left; padding-top: 20px;" id="DecryptorResponse">

    </div>

    <script type="text/javascript">
        function doIt()
        {            
            getRemoteData('/Home/AjaxDecryptAESResponse?sString=' + $('#EncryptedData').val(), 'decrypt string', function (data, result) {
                $('#DecryptorResponse').text(data);
            });
        }
    </script>
}