﻿@using MaximaWeb.Shared;

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";

    ViewBag.Title = "Login";
    ViewBag.BodyClass = "loginbody";
}

<script>
    function DoLogin() {
        var Username = $('#Username').val();
        var Password = $('#Password').val();

        if ((Username == null) || (Username == ''))
            showError('Please enter the Account name!');
        else if ((Password == null) || (Password == ''))
            showError('Please enter the password!');
        else {
            loginUser(Username, Password);
        }
    }
</script>

<div class="container loginpage">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="center-block text-center login-header">
            <div class="kooco-logo">
            </div>
            <div class="kooco-logo-title">
                @Kooco.Framework.Shared.GlobalConst.MaximaAppName
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <form class="loginform center-block">
            <div class="form-group">
                <div class="text-center login-form-title">
                    Sign In
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control k-textbox login-input" id="Username" required placeholder="Account" onkeydown="inputKeyDownDefaultButton(event, 'LoginButton');" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control k-textbox login-input" id="Password" required placeholder="Password" onkeydown="inputKeyDownDefaultButton(event, 'LoginButton');" />
            </div>
            <div class="form-group">
                <button type="button" class="k-button login-button" onclick="DoLogin()" id="LoginButton">LOGIN</button>
            </div>
        </form>
        <div class="login-register center-block text-center">
            <a href="/Users/RegisterUser">CREATE AN ACCOUNT</a>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="login-footer center-block text-center">
            Kooco © 2009-@DateTime.Now.Year.ToString() All Rights Reserved.<br />
            Version @Kooco.Framework.Shared.GlobalConst.MaximaAppVersion
        </div>
    </div>
</div>

@KoocoHtmlHelper.DocumentReady(@<text>
    $('#Username').focus();
</text>);